@model CwcExim.Areas.Report.Models.Ppg_CarGenCar
@using (Ajax.BeginForm("GetCargoReport", "Ppg_ReportCWC", new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "CargoSuccess",
  
}))
{
    @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-12">
                
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Account  Export Cargo In General Carting Report</h4>
                        </div>
                    </div>
                    <div class="content_wrp">
                        <div class="row Form_Space_top">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>As On:</label>
                                </div>
                                <div class="position-relative Date_Img">
                                    @Html.TextBoxFor(m => m.AsOnDate, new { placeholder = "dd/mm/yyyy", @readonly = true })
                                    @Html.ValidationMessageFor(m => m.AsOnDate, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row SignUp_space_top SignUp_space_bottom">
                            <div class="stoke"></div>
                        </div>
                        <div class="SignUp_space_bottom">
                            <div class="d-flex justify-content-left">
                                <input type="submit" value="Print" name="Command" class="btn btn-primary mr-1 btn-100px" id="BtnPreview" />
                            </div>
                        </div>
                        <div class="logErrMsg Form_Space_bottom" id="DivDwnldWavMsg" style="background-color:transparent;"></div>
                    </div>
                </div>
                
            </div>
        </div>

}

@Scripts.Render("~/bundles/jqueryval")
<script>
    $(function () {
        $("#AsOnDate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
    });
    $('#InvoiceListBox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstInvoiceList > li').show();
        else {
            $('#lstInvoiceList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#lstInvoiceList li').on('click', function () {
        $('#GodownName').val($(this).text());
        $('#GodownId').val($(this).prop('id'));
        $('#InvoiceModal').modal('hide');
    });
    function CargoSuccess(data) {
        $('#DivDwnldWavMsg').html('');
        if (data.Data != '') {
            window.open(data.Data + "?_t=" + new Date().getTime(), "_blank");
        }
        else $('#DivDwnldWavMsg').html('No Data');
    }
    function PVFailure() { }
</script>

