
<div class="row">
    <div class="col-md-12">
        <div class="Head_h4">
            <div class="row">
                <div class="col-md-12">
                    <h4>Weekly Video Conference Report</h4>
                </div>
            </div>
            @using (Ajax.BeginForm("VCReport", "Ppg_ReportCWC", new { area = "Report" }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { @Id = "vcForm" }))
            {
                @Html.AntiForgeryToken()
                <div class="content_wrp">
                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>From Date:</label>
                            </div>
                            <div class="position-relative Date_Img">
                                <input type="text" id="VCFdate" name="VCFdate" />
                            </div>
                        </div>
                        <div class="col-md-3 col-md-offset-6">
                            <div class="form-group">
                                <label>To Date:</label>
                            </div>
                            <div class="position-relative Date_Img">
                                <input type="text" id="VCTdate" name="VCTdate" />
                            </div>
                        </div>
                    </div>
                    <div class="row SignUp_space_bottom2 SignUp_space_top2">
                        <div class="stoke"></div>
                    </div>
                    <div class="d-flex justify-content-left">
                        <input type="submit" value="Generate" class="btn btn-primary btn-100px" id="btnPrint" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<script>
        $("#VCFdate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
        $("#VCTdate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });



        function GetVCDetails() {
            try {
                $.ajax({
                    url: '@Url.Action("GetVCReport", "Ppg_ReportCWC", new { area = "Report" })',//'/Report/ReportCWC/GetVCDetails',
                    type: 'GET',
                    data: { date1: $('#VCFdate').val(), date2: $('#VCTdate').val() },
                    dataType: 'JSON',
                    success: function (data) {
                        debugger;
                        if (data == undefined || data == null) {
                            alert("Internal Error Occurs !!");
                        }
                        else {
                            if (data.Status != 1) {
                                alert(data.Message);
                            }
                            else {

                            }
                        }
                    },
                    error: function () {
                        alert("Internal Error Occurs !!");
                    }
                });
            }
            catch (e) {
                console.log(e.message);
            }
        }

        function OnSuccess(data) {
            //alert(data.Message);
            if (data.Status == 1) {
                window.open(data.Data + '?t=' + (new Date().getTime()), "_blank", "fullscreen=yes");
            }
            else {
                alert(data.Message);
            }
        }
        function OnFailure(data) {
            alert("Internal Error Occurs");
        }

</script>
