@model CwcExim.Areas.Import.Models.Kdl_FormOneModel

@*@{
    AjaxOptions options = new AjaxOptions();
    options.Confirm = "Are You Sure You Want To Save?";
    options.HttpMethod = "POST";
    options.OnSuccess = "FormOneOnSuccess";
    options.OnFailure = "FormOneOnFailure";
    options.InsertionMode = InsertionMode.InsertAfter;
}*@
<script>
    var TimeInSeconds;
    $(document).ready(function () {
        GetFormOne();
        //GetFormOneList();
        TimeInSeconds = 5000;
    });
    
    function GetFormOne() {
        $('#divFormOne').load( '/Import/Kdl_CWCImport/AddFormOne');
    }
    @*function GetFormOneList() {
        debugger;
        //var x =  '/Import/Kdl_CWCImport/Kdl_GetFormOneList';
        //console.log(x);
        //$('#divFormOneList').load('/Kolkata/Import/Kdl_CWCImport/Kdl_GetFormOneList');
        $('#divFormOneList').load('@Url.Action("Kdl_GetFormOneList", "Kdl_CWCImport",new { Area= "Import" })');
    }*@
    
</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
                <div id="divFormOne"></div>
               
        </div>
    </div>
</div>
