@model IEnumerable<CwcExim.Models.Menu>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SaDashBoard</title>
    @*@Scripts.Render("~/bundles/jquery")*@
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    @*<script src="~/ScriptsAjax/jquery-1.7.1.min.js"></script>*@
</head>

<body>
    <script type="text/javascript">

        var categoryId;

        function LoadView(ActionUrl) {
            try {
                $('#DivBody').html('');
                $('#DivBody').load('/' + ActionUrl);
            } catch (ex) {


            }
        }


    </script>

    @*<div id="wrapper">*@
    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <div id="DivMenu">
            <ul class="nav sidebar-nav">
                <li class="Menu_txt">MENU</li>
                @foreach (CwcExim.Models.Menu Menu in Model)
                {
                    <li><a href="#" onclick="LoadView('@Menu.ActionUrl')">@Menu.MenuName</a></li>
                }
            </ul>
        </div>
    </nav>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
            <span id="Menu_btn" class="fa fa-2x fa-chevron-circle-left"></span>
        </button>
        <div id="DivBody" class="scrollbar-inner"></div>
    </div>
    <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
   

    <script>
        
        var trigger = $('.hamburger'),
                    winWidth = $(window).width(),
                    overlay = $('.overlay'),
                    isClosed = true;
        $(document).ready(function () {
            trigger.click(function () {
                hamburger_cross();
            });
            trigger.click();
            //$('#page-content-wrapper').width(winWidth - 220);
            //$('#page-content-wrapper').animate('left', '220px');

            //if ($('#wrapper').hasClass('.toggled')) {
            //    $('.hamburger').css("margin-left", "230px");
            //} else {
            //    $('.hamburger').css("margin-left", "15px");
            //}

            $('[data-toggle="offcanvas"]').click(function () {
               
                $('#wrapper').toggleClass('toggled');
            });
            $('[data-toggle="offcanvas"]').click();
        });
        function hamburger_cross() {

            if (isClosed == true) {
                overlay.hide();
                trigger.removeClass('is-open');
                trigger.addClass('is-closed');
                $('#page-content-wrapper').css("width", "100%");
                $('#page-content-wrapper').animate({ left: 0 });
                if ($('#Menu_btn').hasClass('fa-chevron-circle-left')) {
                    $('#Menu_btn').removeClass('fa-chevron-circle-left');
                }
                $('#Menu_btn').addClass('fa-bars').css("color", "");
                $('.hamburger').css("margin-left", "-3px");
                $('.Menu_txt').css("display", "none");
                isClosed = false;
            } else {
                overlay.show();
                trigger.removeClass('is-closed');
                trigger.addClass('is-open');
                $('#page-content-wrapper').width(winWidth - 237);
                $('#page-content-wrapper').css('left', '220px');
                if ($('#Menu_btn').hasClass('fa-bars')) {
                    $('#Menu_btn').removeClass('fa-bars');
                }
                $('#Menu_btn').addClass('fa-chevron-circle-left').css("color", "#fff");

                $('.hamburger').css("margin-left", "-32px");
                $('.Menu_txt').css("display", "block");
                isClosed = true;
            }
        }
    </script>


</body>
@*@Scripts.Render("~/bundles/AjaxOption")*@
@*@Scripts.Render("~/bundles/unobtrusive")*@
</html>
