<script>
    $(function () {
        CreateEntryFees();
        $("#EffectiveDate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
    });
    function CreateGroundRent() {
        $('#DivGroundRent,#DivStorageCharge,#DivEntryFees,#DivInsurance,#DivFreight,#DivOth,#DivMiscellaneous,#DivTHCFSCCharge').html('');
        //$('#DivGroundRent').load('/CWCCharges/CreateGroundRent');
        $('#DivGroundRent').load('/Master/PPGCWCCharges/CreateGroundRent');
    }
    function CreateStorageCharge() {
        $('#DivGroundRent,#DivStorageCharge,#DivEntryFees,#DivInsurance,#DivFreight,#DivOth,#DivMiscellaneous,#DivTHCFSCCharge').html('');
        $('#DivStorageCharge').load('/Master/PPGCWCCharges/CreateStorageCharge');
    }
    function CreateWeighment() {
        $('#DivGroundRent,#DivStorageCharge,#DivEntryFees,#DivInsurance,#DivFreight,#DivOth,#DivMiscellaneous,#DivTHCFSCCharge').html('');
        $('#DivWeighment').load('/CWCCharges/CreateWeighment');
    }
    function CreateEntryFees() {
        $('#DivGroundRent,#DivStorageCharge,#DivEntryFees,#DivInsurance,#DivFreight,#DivOth,#DivMiscellaneous,#DivTHCFSCCharge').html('');
        $('#DivEntryFees').load('/Master/PPGCWCCharges/CreateEntryFees');
    }

    //function CreateMiscellaneous() {
    //    $('#DivGroundRent,#DivStorageCharge,#DivEntryFees,#DivInsurance,#DivFreight,#DivOth,#DivMiscellaneous').html('');
    //    $('#DivMiscellaneous').load('/Master/PPGCWCCharges/CreateMiscellaneous');
    //}
    function CreateFumigation() {
        $('#DivGroundRent,#DivStorageCharge,#DivEntryFees,#DivInsurance,#DivFreight,#DivOth,#DivMiscellaneous,#DivFumigation,#DivTHCFSCCharge').html('');
        $('#DivFumigation').load('/Master/PPGCWCCharges/CreateFumigationCharge');
    }
    function CreateInsurance() {
        $('#DivGroundRent,#DivStorageCharge,#DivEntryFees,#DivInsurance,#DivFreight,#DivOth,#DivMiscellaneous,#DivTHCFSCCharge').html('');
        $('#DivInsurance').load('/CWCCharges/CreateInsurance');
    }
    function CreateReefer() {
        $('#DivGroundRent,#DivStorageCharge,#DivEntryFees,#DivInsurance,#DivFreight,#DivOth,#DivMiscellaneous,#DivTHCFSCCharge').html('');
        $('#DivReefer').load('/CWCCharges/CreateReefer');
    }
    function CreateTds() {
        $('#DivGroundRent,#DivStorageCharge,#DivEntryFees,#DivInsurance,#DivFreight,#DivOth,#DivMiscellaneous,#DivTHCFSCCharge').html('');
        $('#DivTds').load('/CWCCharges/CreateTds');
    }

    function CreateFreight() {
        $('#DivGroundRent,#DivStorageCharge,#DivEntryFees,#DivInsurance,#DivFreight,#DivOth,#DivMiscellaneous,#DivTHCFSCCharge').html('');
        $('#DivFreight').load('/Master/PPGRailFreight/CreateRailFreight');
    }

    function CreateOth() {
        $('#DivGroundRent,#DivStorageCharge,#DivEntryFees,#DivInsurance,#DivFreight,#DivOth,#DivMiscellaneous,#DivTHCFSCCharge').html('');
        $('#DivOth').load('/Master/PPGHTCharges/CreateHTCharges');
    }
    function CreateMovement() {
        $('#DivGroundRent,#DivStorageCharge,#DivEntryFees,#DivInsurance,#DivFreight,#DivOth,#DivMiscellaneous,#DivMovementCharge,#DivTHCFSCCharge').html('');
        $('#DivMovement').load('/Master/PPGCWCCharges/CreateMovementCharge');
    }

    function CreateTHCFSC() {
        $('#DivGroundRent,#DivStorageCharge,#DivEntryFees,#DivInsurance,#DivFreight,#DivOth,#DivMiscellaneous,#DivMovementCharge,#DivTHCFSCCharge').html('');
        $('#DivTHCFSCCharge').load('/Master/PPGCWCCharges/CreateFscThc');
    }
</script>

<div class="row">
    <div class="col-md-12">
        <div class="Head_h4">
            <div class="row SignUp_space_bottom">
                <div class="col-md-12">
                    <h4>CWC Charges</h4>
                </div>
            </div>

            <div class="content_wrp">
                <div class="panel with-nav-tabs panel-primary cwc_panel border-0 box-shadow-none">
                    <div class="panel-heading cwc_panel_heading">
                        <ul class="nav nav-tabs" id="DivTabs">
                            <li class="active"><a href="#DivEntryFees" onclick="CreateEntryFees()" data-toggle="tab">Entry Fees</a></li>
                            <li><a href="#DivGroundRent" onclick="CreateGroundRent()" data-toggle="tab">Ground Charges</a></li>
                            <li><a href="#DivStorageCharge" onclick="CreateStorageCharge()" data-toggle="tab">Storage Charge(Godown)</a></li>
                            <li><a href="#DivInsurance" onclick="CreateInsurance()" data-toggle="tab">Insurance Charge</a></li>
                            <li><a href="#DivFumigation" onclick="CreateFumigation()" data-toggle="tab">Fumigation Charge</a></li>
                            <li><a href="#DivFreight" onclick="CreateFreight()" data-toggle="tab">Rail Freight</a></li>
                            @*<li><a href="#DivOth" onclick="CreateOth()" data-toggle="tab">Others</a></li>*@
                            <li><a href="#DivMovement" onclick="CreateMovement()" data-toggle="tab">Movement Charge</a></li>
                            <li><a href="#DivTHCFSCCharge" onclick="CreateTHCFSC()" data-toggle="tab">FAC/THC(TKD) Charge</a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="DivEntryFees"></div>
                            <div class="tab-pane fade" id="DivGroundRent"></div>
                            <div class="tab-pane fade" id="DivStorageCharge"></div>
                            <div class="tab-pane fade" id="DivInsurance"></div>
                            <div class="tab-pane fade" id="DivFumigation"></div>
                            <div class="tab-pane fade" id="DivMiscellaneous"></div>
                            <div class="tab-pane fade" id="DivFreight"></div>
                            <div class="tab-pane fade" id="DivOth"></div>
                            <div class="tab-pane fade" id="DivMovement"></div>
                            <div class="tab-pane fade" id="DivTHCFSCCharge"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {

    });
</script>
