
@{
    ViewBag.Title = "SessionExpired";
    Layout = null;//"~/Views/Shared/_Layout.cshtml";


}

<div>
    @{
        var WebsiteUrl = System.Configuration.ConfigurationManager.AppSettings["WebsiteUrl"];

    }

    
    @*<div id="DivSessionExpired" class="modal">
        <div class="modal-content log_modal">
            <div class="modal-body" style="padding:0px;">*@
                <h6>Your Session Expired <a href='@WebsiteUrl'>Click here</a> for login</h6>
            @*</div>
        </div>
    </div>*@
    @*<script type="text/javascript">
    function GoToLoginPage() {
        alert('session')
        window.location.href = 'http://localhost:59026/';

    }
    </script>*@
    @*<script type="text/javascript">
        $(document).ready(function()
        {
            $('.modal').show();
        })
    </script>*@
</div>


