<script>
    $(function () {
        debugger;
        CreateEntryFees();
        $("#EffectiveDate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage:  "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
    });
    function CreateGroundRentEximTraders()
    {
        $('#DivGroundRent,#DivReefer,#DivStorageCharge,#DivEntryFees,#DivInsurance,#DivMiscellaneous,DivWeighment,#DivTds,#DivFranchiseCharges').html('');
        $('#DivGroundRent').load('/Master/VLDAMaster/CreateGroundRentForEximTraders');
    }
    function CreateStorageCharge() {
        $('#DivGroundRent,#DivReefer,#DivStorageCharge,#DivEntryFees,#DivInsurance,#DivMiscellaneous,DivWeighment,#DivTds,#DivFranchiseCharges').html('');
        $('#DivStorageCharge').load('/Master/VLDAMaster/CreateStorageChargeForEximTraders');
    }
    function CreateWeighment()
    {
        $('#DivGroundRent,#DivReefer,#DivStorageCharge,#DivEntryFees,#DivInsurance,#DivMiscellaneous,DivWeighment,#DivTds,#DivFranchiseCharges').html('');
        $('#DivWeighment').load('/Master/VLDAMaster/CreateWeighmentForEximTraders');
    }
    function CreateEntryFees() {
        $('#DivGroundRent,#DivReefer,#DivStorageCharge,#DivEntryFees,#DivInsurance,#DivMiscellaneous,DivWeighment,#DivTds,#DivFranchiseCharges').html('');
        $('#DivEntryFees').load('/Master/VLDAMaster/CreateEntryFees');
    }
    function CreateMiscellaneous() {
        $('#DivGroundRent,#DivReefer,#DivStorageCharge,#DivEntryFees,#DivInsurance,#DivMiscellaneous,DivWeighment,#DivTds,#DivFranchiseCharges').html('');
        $('#DivMiscellaneous').load('/Master/VLDAMaster/CreateVLDAChargesForEximTraders');
    }
    function CreateInsurance()
    {
        $('#DivGroundRent,#DivReefer,#DivStorageCharge,#DivEntryFees,#DivInsurance,#DivMiscellaneous,DivWeighment,#DivTds,#DivFranchiseCharges').html('');
        $('#DivInsurance').load('/Master/VLDAMaster/CreateInsurance');
    }
    function CreateReefer()
    {
        $('#DivGroundRent,#DivReefer,#DivStorageCharge,#DivEntryFees,#DivInsurance,#DivMiscellaneous,DivWeighment,#DivTds,#DivFranchiseCharges').html('');
        $('#DivReefer').load('/Master/VLDAMaster/CreateReefer');
    }
    function CreateTds()
    {
        $('#DivGroundRent,#DivReefer,#DivStorageCharge,#DivEntryFees,#DivInsurance,#DivMiscellaneous,DivWeighment,#DivTds,#DivFranchiseCharges').html('');
        $('#DivTds').load('/Master/VLDAMaster/CreateTds');
    }
    function CreateFranchiseCharges() {
        debugger;
        $('#DivGroundRent,#DivReefer,#DivStorageCharge,#DivEntryFees,#DivInsurance,#DivMiscellaneous,DivWeighment,#DivTds,#DivFranchiseCharges').html('');
        $('#DivFranchiseCharges').load('/Master/VLDAMaster/CreateFranchiseCharges');
    }
    function CreateFreight() {
        $('#DivGroundRent,#DivReefer,#DivStorageCharge,#DivEntryFees,#DivInsurance,#DivMiscellaneous,DivWeighment,#DivTds,#DivFranchiseCharges').html('');
        $('#DivFreight').load('/Master/VLDAMaster/CreateRailFreight');
    }
    function CreateOth() {
        $('#DivGroundRent,#DivReefer,#DivStorageCharge,#DivEntryFees,#DivInsurance,#DivMiscellaneous,DivWeighments,#DivTds,#DivFranchiseCharges').html('');
        $('#DivOth').load('/Master/VLDAMaster/CreateHTCharges');
    }
</script>


<div class="container-fluid">
    <div style="width:90%;margin-left:auto;margin-right:auto;">
        <div class="row clearfix">
            <div class="panel with-nav-tabs panel-primary cwc_panel">
                <div class="panel-heading cwc_panel_heading">
                    <ul class="nav nav-tabs" id="DivTabs">
                        <li class="active"><a href="#DivEntryFees" onclick="CreateEntryFees()" data-toggle="tab">Entry Fees</a></li>
                        <li><a href="#DivGroundRent" onclick="CreateGroundRentEximTraders()" data-toggle="tab">Ground Rent</a></li>
                        <li><a href="#DivReefer" onclick="CreateReefer()" data-toggle="tab">Reefer</a></li>
                        <li><a href="#DivStorageCharge" onclick="CreateStorageCharge()" data-toggle="tab">Storage Charge(Godown)</a></li>
                        <li><a href="#DivInsurance" onclick="CreateInsurance()" data-toggle="tab">Insurance Charge</a></li>
                        <li><a href="#DivMiscellaneous" onclick="CreateMiscellaneous()" data-toggle="tab">Miscellaneous</a></li>
                        <li><a href="#DivWeighment" onclick="CreateWeighment()" data-toggle="tab">Weighment</a></li>
                        <li><a href="#DivTds" onclick="CreateTds()" data-toggle="tab">TDS</a></li>
                        <li><a href="#DivFranchiseCharges" onclick="CreateFranchiseCharges()" data-toggle="tab">Franchiese Charge</a></li>
                      
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="DivEntryFees"></div>
                        <div class="tab-pane fade" id="DivGroundRent"></div>
                        <div class="tab-pane fade" id="DivReefer"></div>
                        <div class="tab-pane fade" id="DivStorageCharge"></div>
                        <div class="tab-pane fade" id="DivInsurance"></div>
                        <div class="tab-pane fade" id="DivMiscellaneous"></div>
                        <div class="tab-pane fade" id="DivWeighment"></div>
                        <div class="tab-pane fade" id="DivTds"></div>
                        <div class="tab-pane fade" id="DivFranchiseCharges"></div>
                        @*<div class="tab-pane fade" id="DivFreight"></div>
                            <div class="tab-pane fade" id="DivOth"></div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
        $(function () {

        });
</script>
