@if(ViewBag.ListofForm1!=null)
{
    <input type="hidden" id="hdnList" value="@ViewBag.ListofForm1" />
}
else
{
    <input type="hidden" id="hdnList" value=""/>
}
<script src="~/Areas/Import/Scripts/App/Services/ContIndentService.js"></script>
<script src="~/Areas/Import/Scripts/App/Controllers/ContIndentCtrl.js"></script>
<script>
    angular.bootstrap(document.getElementById('DivIndent'), ['CWCApp']);
    $('#IndentDate').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $("[data-valmsg-for='IndentDate']").html('');
        }
    });
    $('#ICDOut').datetimepicker({
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        dateFormat: "dd/mm/yy",
        altField: "#slider_example_4andHalf_alt",
        altFieldTimeOnly: false,
        onClose: function () {
            $(".Date_Img .Error_Msg").text("");
            $('[data-valmsg-for="Data"]').html('<span></span>');
        }
    });
    $('#ICDIn').datetimepicker({
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        dateFormat: "dd/mm/yy",
        altField: "#slider_example_4andHalf_alt",
        altFieldTimeOnly: false,
        onClose: function () {
            $(".Date_Img .Error_Msg").text("");
            $('[data-valmsg-for="Data"]').html('<span></span>');
        }
    });
    $(function () {
     //   LoadIndentList();
    });
    function LoadIndent()
    {
        $('#DivBody').load('/Import/Hdb_CWCImport/CreateContainerIndent');
    }
    function LoadIndentList()
    {
        $('#DivIndentList').load('/Import/Hdb_CWCImport/ContainerIndentList');
    }
    function GetFormOneListByContainerNumber(ContainerName) {
        debugger;
        $('#DivIndentList').load('/Import/Hdb_CWCImport/ContainerIndentContainer?ContainerName=' + ContainerName);
    }

    function FillListByContainer() {
        var ContainerName = $('#searchContainer').val();
        //alert(ContainerName);
        if (ContainerName == "") {
            //  GetFormOneList();

        }
        else {
            GetFormOneListByContainerNumber(ContainerName);
        }

    }

</script>
<div id="DivIndent" ng-controller="ContIndentCtrl">
    <input type="hidden" id="hdnDt" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-0-5 col-md-11">
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Container Indent</h4>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5"><label>Indent No.:</label></div>
                            <div class="col-md-4-5">
                                <input type="text" ng-model="IndentNo" readonly="readonly"/>
                            </div>
                            <div class="col-md-1-5"><label>Indent Date:</label></div>
                            <div class="col-md-4-5 Date_Img">
                                <input type="text" id="IndentDate"  ng-model="IndentDate" readonly="readonly" />
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5"><label>Form1 No.:</label></div>
                            <div class="col-md-4-5">
                                <input type="text" ng-model="FormOneNo" readonly="readonly" />
                                <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#Form1Modal"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5"><label>Trailer No.:</label></div>
                            <div class="col-md-10-5">
                                <input type="text" ng-model="TrailerNo" maxlength="500" />
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5"><label>ICD In:</label></div>
                            <div class="col-md-4-5 Date_Img">
                                <input type="text" readonly="readonly"  ng-model="ICDIn" id="ICDIn" />
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5"><label>ICD Out:</label></div>
                            <div class="col-md-4-5 Date_Img">
                                <input type="text" readonly="readonly" ng-model="ICDOut" id="ICDOut" />
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label>Remarks:</label>
                            </div>
                            <div class="col-md-10-5 col_cus_10">
                                <textarea ng-model="Remarks" style="width:100%;height:100px;" maxlength="100"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-12">
                                <table class="table table-striped table-bordered nowrap dataTable no-footer">
                                    <thead>
                                        <tr>
                                            <th>Container No</th>
                                            <th>Size</th>
                                            <th>CHA</th>
                                            <th>Importer</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in ContainerDetails">
                                            <td>{{item.ContainerNo}}</td>
                                            <td>{{item.ContainerSize}}</td>
                                            <td>{{item.CHAName}}</td>
                                            <td>{{item.IMPName}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="stoke SignUp_space_bottom2 SignUp_space_top2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-4 col-md-2 SignUp_space_bottom">
                            <input type="button" class="btn log_Btn_sm" ng-click="SaveData()" ng-disabled="FormOneNo==''" value="Save" id="BtnSaveDestuffingEntry" />
                        </div>
                        <div class="col-md-2">
                            <input type="button" class="btn log_Btn_sm" value="Reset" onclick="LoadIndent()" />
                        </div>
                    </div>
                    <div class="logSuccMsg" style="background-color:transparent" id="DivDestuffingEntryMsg">{{Message}}</div>
                    <div class="row">
                        <div class="col-md-2 SignUp_space_bottom">
                            <input type="button" id="BtnCommodityLoad" value="Show List" class="btn log_Btn_sm" tabindex="17" onclick="LoadIndentList()" />
                        </div>
                    </div>
                    <div class="row Form_Space_top Form_Space_bottom">
                        <div class="form-group Form_Input">
                            <div class="col-md-offset-7 col-md-2 padding_rt">
                                <label>Search by Container:</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" id="searchContainer" placeholder="Search container" />
                                <span class="search" id="containerSearch"><i class="fa fa-search" aria-hidden="true" onclick="FillListByContainer();"></i></span>
                            </div>
                        </div>
                    </div>
                    @Scripts.Render("~/bundles/jqueryval")
                    <div class="row">
                        <div class="col-md-12">
                            <div id="DivIndentList"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="Form1Modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content popup_modal">
                <div class="modal-header popup_header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">List of Form1 No</h4>
                </div>
                <div class="modal-body popup_body">
                    <input placeholder="Search Me" id="Impbox" type="text" ng-model="Search"/>
                    <ul class="navList" id="lstForm1">
                        <li ng-repeat="item in lstForm1 |filter :{FormOneNo : Search} " id="{{item.FormOneId}}"  ng-click="SelectForm1(item)">{{item.FormOneNo}}</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6">
                            <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>