@model CwcExim.Areas.Import.Models.Hdb_FormOneModel

<script>
    var TimeInSeconds;
    $(document).ready(function () {
        GetFormOne();
        //GetFormOneList();
        TimeInSeconds = 5000;
    });

    function GetFormOne() {
        $('#divFormOne').load( '/Import/Hdb_CWCImport/AddFormOne');
    }
    @*function GetFormOneList() {
        debugger;
        //var x =  '/Import/Kdl_CWCImport/Kdl_GetFormOneList';
        //console.log(x);
        //$('#divFormOneList').load('/Kolkata/Import/Kdl_CWCImport/Kdl_GetFormOneList');
        $('#divFormOneList').load('@Url.Action("Kdl_GetFormOneList", "Kdl_CWCImport",new { Area= "Import" })');
    }*@

</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div id="divFormOne"></div>

        </div>
    </div>
</div>