<script>
    $(function ()
    {
        CreateExpenseHead();
    });
    function CreateExpenseHead() {
        $('#DivExpenseHead').load('/Master/DSRExpenseHead/CreateExpenseHead');
    }
    function CreateExpCodeWiseHSN() {
        $('#DivExpCodeWiseHSN').load('/Master/DSRExpenseHead/CreateExpCodeWiseHSN');
    }
</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="row clearfix">
                <div class="panel with-nav-tabs panel-primary cwc_panel">
                    <div class="panel-heading cwc_panel_heading">
                        <ul class="nav nav-tabs" id="DivTabs">
                            <li class="active"><a href="#DivExpenseHead" onclick="CreateExpenseHead()" data-toggle="tab">Expense Head</a></li>
                            <li><a href="#DivExpCodeWiseHSN" onclick="CreateExpCodeWiseHSN()" data-toggle="tab">Expense Code Wise HSN</a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="DivExpenseHead"></div>
                            <div class="tab-pane fade" id="DivExpCodeWiseHSN"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>