@{
    ViewBag.Title = "UserDashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="row SignUp_space_bottom" style="margin-top:50px;">
                <div class="contact_head">
                    <div class="col-md-12">
                        <h4>Contact us</h4><span class="triangle1" style="top:10px;"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 UserDashboard_wrap contact">
                    <div class="contact_data">
                            <h5><i class="fa fa-building" aria-hidden="true"></i>Corporate Office</h5>
                            <p>Central Warehousing Corporation,<br/>
                                4/1 Siri Institutional Area,<br/>
                                Hauz Khas, New Delhi-110 016,<br/>
                                <span><i class="glyphicon glyphicon-phone-alt" aria-hidden="true"></i></span><span>011-26566107,</span><br/>
                                <span><i class="fa fa-fax" aria-hidden="true"></i></span><span>26967256,</span><br/>
                                E-mail: warehouse@nic.in
                               
                            </p>
                    </div>
                    <div class="row SignUp_space_top">
                        <div class="col-md-6">
                            <div class="contact_data">
                                <h5><i class="fa fa-building" aria-hidden="true"></i>Regional  Office (Ahmedabad)</h5>
                                <p>
                                    Regional Manager,<br/>
                                    Central Warehousing Corporation,<br/>
                                    Mahalaxmi Char Rasta,<br/>
                                    Opp.Unnati Vidyalaya, Paladi,<br/>
                                    Ahmedabad-380 007.<br/>
                                    <span><i class="glyphicon glyphicon-phone-alt" aria-hidden="true"></i></span><span>079-26581989,</span><br />
                                    <span><i class="fa fa-fax" aria-hidden="true"></i></span><span>079-26580236,</span><br />
                                    E-mail: rmahd.cwhc@nic.in
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="contact_data">
                                <h5><i class="fa fa-building" aria-hidden="true"></i>Regional Office (Banglore)</h5>
                                <p>
                                    Regional Manager,<br />
                                    Central Warehousing Corporation,<br/>
                                    No.9 Pallavi Complex,<br/>
                                    Mission Road,<br/>
                                    Banglore-560 027.<br/>
                                    <span><i class="glyphicon glyphicon-phone-alt" aria-hidden="true"></i></span><span>080-2222231,</span><br />
                                    <span><i class="fa fa-fax" aria-hidden="true"></i></span><span>080-2216885,</span><br />
                                    E-mail: rmblr.cwhc@nic.in
                                </p>
                                </div>
                            </div>
                    </div>
                    <div class="row SignUp_space_top">
                        <div class="col-md-6">
                            <div class="contact_data">
                                <h5><i class="fa fa-building" aria-hidden="true"></i>Regional  Office (Bhopal)</h5>
                                <p>
                                    Regional Manager,<br />
                                    Central Warehousing Corporation,<br/>
                                    75 Arera Hills,<br/>
                                    Near Kendriya Vidyalay No.<br/> 1
                                    Bhopal-462 011<br/>
                                    <span><i class="glyphicon glyphicon-phone-alt" aria-hidden="true"></i></span><span>0755-2571275,</span><br />
                                    <span><i class="fa fa-fax" aria-hidden="true"></i></span><span>0755-2572224,</span><br />
                                    E-mail: rmbpl.cwhc@nic.in
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="contact_data">
                                <h5><i class="fa fa-building" aria-hidden="true"></i>Regional Office (Bhubneshwar)</h5>
                                <p>
                                    Regional Manager,<br />
                                    Central Warehousing Corporation,<br />
                                    Block No. F/4 (Second Floor),<br/>
                                    Indradhanu Market Complex,<br/>
                                    P.O.I.R.C. Village, Nayapalli,<br/>
                                    Bhubaneshwar-751 015.<br />
                                    <span><i class="glyphicon glyphicon-phone-alt" aria-hidden="true"></i></span><span>0674-2554990 / 2557542,</span><br />
                                    <span><i class="fa fa-fax" aria-hidden="true"></i></span><span>0674-2554990,</span><br />
                                    Email: rmbbsr.cwhc@nic.in
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row SignUp_space_top">
                        <div class="col-md-6">
                            <div class="contact_data">
                                <h5><i class="fa fa-building" aria-hidden="true"></i>Regional  Office (Chandigarh)</h5>
                                <p>
                                    Regional Manager,<br />
                                    Central Warehousing Corporation,<br />
                                    Bay Nos. 39 - 42,<br/>
                                    Sector 31-A,<br/>
                                    Chandigarh-,<br/>
                                    Haryana.<br/>
                                    <span><i class="glyphicon glyphicon-phone-alt" aria-hidden="true"></i></span><span>0172-2656601,</span><br />
                                    <span><i class="fa fa-fax" aria-hidden="true"></i></span><span>0172-2656602,</span><br />
                                    Email: rmchd.cwhc@nic.in
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="contact_data">
                                <h5><i class="fa fa-building" aria-hidden="true"></i>Regional Office (Chennai)</h5>
                                <p>
                                    Regional Manager,<br />
                                    No.4,North Avenue,<br />
                                    Srinagar Colony Saidapet,<br />
                                    Chennai-600 015,<br />
                                    <span><i class="glyphicon glyphicon-phone-alt" aria-hidden="true"></i></span><span>044-22201218,</span><br />
                                    <span><i class="fa fa-fax" aria-hidden="true"></i></span><span>044-22200068,</span><br />
                                    Email: rmmdrs.cwhc@nic.in
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row SignUp_space_top">
                        <div class="col-md-6">
                            <div class="contact_data">
                                <h5><i class="fa fa-building" aria-hidden="true"></i>Regional  Office (Delhi)</h5>
                                <p>
                                    Regional Manager,<br />
                                    Central Warehousing Corporation,<br />
                                    Scope Minar, Core – 3, Ist Floor,<br />
                                    Laxmi Nager, District Centre,<br />
                                    Delhi - 110 092,<br />
                                    <span><i class="glyphicon glyphicon-phone-alt" aria-hidden="true"></i></span><span>011-22444344,</span><br />
                                    <span><i class="fa fa-fax" aria-hidden="true"></i></span><span>011-22444375,</span><br />
                                    Email: rmdli.cwhc@nic.in
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="contact_data">
                                <h5><i class="fa fa-building" aria-hidden="true"></i>Regional Office (Guwahati)</h5>
                                <p>
                                    Regional Manager,<br />
                                    Central Warehousing Corporation,<br />
                                    39, Sapta Swahid Path, Sarumotoria,<br />
                                    Dispur, Guwahati-781024,<br />
                                    <span><i class="glyphicon glyphicon-phone-alt" aria-hidden="true"></i></span><span>0361-2229305 / 2229300,</span><br />
                                    <span><i class="fa fa-fax" aria-hidden="true"></i></span><span>0361-2229301,</span><br />
                                    Email: rmghy.cwhc@nic.in
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row SignUp_space_top">
                        <div class="col-md-6">
                            <div class="contact_data">
                                <h5><i class="fa fa-building" aria-hidden="true"></i>Regional  Office (Hyderabad)</h5>
                                <p>
                                    Regional Manager,<br />
                                    Central Warehousing Corporation,<br />
                                    'Warehousing Sadan',<br />
                                    1st Floor Behind Gandhi Bhawan,<br />
                                    P.B. No.34, Nampally,<br />
                                    Hyderabad-500 001.<br />
                                    <span><i class="glyphicon glyphicon-phone-alt" aria-hidden="true"></i></span><span>040-24655979,</span><br />
                                    <span><i class="fa fa-fax" aria-hidden="true"></i></span><span>040-24655979,</span><br />
                                    Email: rmhyd.cwhc@nic.in
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="contact_data">
                                <h5><i class="fa fa-building" aria-hidden="true"></i>Regional Office (Jaipur)</h5>
                                <p>
                                    Regional Manager,<br />
                                    Central Warehousing Corporation,<br />
                                    A-25, Sidharth House,<br/>
                                    Tilak Marg, C-Scheme,<br/>
                                    Jaipur-302 005.<br/>
                                    <span><i class="glyphicon glyphicon-phone-alt" aria-hidden="true"></i></span><span>0141-2384491,</span><br />
                                    <span><i class="fa fa-fax" aria-hidden="true"></i></span><span>0141-2384491,</span><br />
                                    Email: rmjai.cwhc@nic.in
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row SignUp_space_top">
                        <div class="col-md-6">
                            <div class="contact_data">
                                <h5><i class="fa fa-building" aria-hidden="true"></i>Regional  Office (Kolkata)</h5>
                                <p>
                                    Regional Manager,<br />
                                    Central Warehousing Corporation,<br />
                                    CMC Building, New Market Complex,<br />
                                    Phase-I, 6th Floor,15-N,<br />
                                    Nellie Sengupta Sarani,<br />
                                    Kolkata-700 087.<br />
                                    <span><i class="glyphicon glyphicon-phone-alt" aria-hidden="true"></i></span><span>033-2252495 3/ 22457610,</span><br />
                                    <span><i class="fa fa-fax" aria-hidden="true"></i></span><span>033-22168101,</span><br />
                                    Email: rmkoll.cwhc@nic.in 
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="contact_data">
                                <h5><i class="fa fa-building" aria-hidden="true"></i>Regional Office (Lucknow)</h5>
                                <p>
                                    Regional Manager,<br />
                                    Central Warehousing Corporation,<br />
                                    'Warehousing Sadan',<br />
                                    Near Roadways Workshop,<br />
                                    Vibhuti Khand, Gomti Nagar,<br />
                                    Lucknow-226 010.<br />
                                    <span><i class="glyphicon glyphicon-phone-alt" aria-hidden="true"></i></span><span>0522-2720566,</span><br />
                                    <span><i class="fa fa-fax" aria-hidden="true"></i></span><span>0522-2720686,</span><br /> 
                                    Email: rmlko.cwhc@nic.in
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row SignUp_space_top">
                        <div class="col-md-6">
                            <div class="contact_data">
                                <h5><i class="fa fa-building" aria-hidden="true"></i>Regional  Office (Mumbai)</h5>
                                <p>
                                    Regional Manager,<br />
                                    Central Warehousing Corporation,<br />
                                    Sector 20, Near Turbha Rly. Station,<br />
                                    Vashi,Navi Mumbai-400 703.<br />
                                    <span><i class="glyphicon glyphicon-phone-alt" aria-hidden="true"></i></span><span>022-27840866,</span><br />
                                    <span><i class="fa fa-fax" aria-hidden="true"></i></span><span>022-07840862,</span><br />
                                    Email:  rmmum.cwhc@nic.in
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="contact_data">
                                <h5><i class="fa fa-building" aria-hidden="true"></i>Regional Office (Navi Mumbai)</h5>
                                <p>
                                    Regional Manager,<br />
                                    Central Warehousing Corporation,<br />
                                    Distripark, Plot No. 1,Sector-7,<br />
                                    Dronagiri, Navi Mumbai-400 707.<br />
                                    <span><i class="glyphicon glyphicon-phone-alt" aria-hidden="true"></i></span><span>022-27242588 / 27241975,</span><br />
                                    <span><i class="fa fa-fax" aria-hidden="true"></i></span><span>022-27240939,</span><br />
                                    Email: rmjnp.cwhc@nic.in
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row SignUp_space_top">
                        <div class="col-md-6">
                            <div class="contact_data">
                                <h5><i class="fa fa-building" aria-hidden="true"></i>Regional  Office (Panchkula)</h5>
                                <p>
                                    Regional Manager,<br />
                                    Central Warehousing Corporation,<br />
                                    Bay Nos. 35 - 38, Sector - 4,<br />
                                    Panchkula-134 112,<br />
                                    Haryana.<br />
                                    <span><i class="glyphicon glyphicon-phone-alt" aria-hidden="true"></i></span><span>0172-2577130,</span><br />
                                    <span><i class="fa fa-fax" aria-hidden="true"></i></span><span>0172-2577130,</span><br />
                                    Email: rmpkl.cwhc@nic.in
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="contact_data">
                                <h5><i class="fa fa-building" aria-hidden="true"></i>Regional Office (Patna)</h5>
                                <p>
                                    Regional Manager,<br />
                                    Central Warehousing Corporation,<br />
                                    Maurya Lok Complex,Block-A,<br/>
                                    2nd Floor,Dakbunglow Road,<br/>
                                    Patna-800 001.<br/>
                                    <span><i class="glyphicon glyphicon-phone-alt" aria-hidden="true"></i></span><span>0612-2225949,</span><br />
                                    <span><i class="fa fa-fax" aria-hidden="true"></i></span><span>0612-2226491,</span><br />
                                    Email: rmpat.cwhc@nic.in
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row SignUp_space_top">
                        <div class="col-md-6">
                            <div class="contact_data">
                                <h5><i class="fa fa-building" aria-hidden="true"></i>Regional  Office (Kochi)</h5>
                                <p>
                                    Regional Manager,<br />
                                    Central Warehousing Corporation,<br />
                                    No:28, K.V.Colony, 7th Cross Road,
                                    Panampilly Nagar,
                                    Kochi-682 036.
                                    <span><i class="glyphicon glyphicon-phone-alt" aria-hidden="true"></i></span><span>0484-2319066 / 2319065,</span><br />
                                    Email: rmkoc.cwhc@nic.in
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="contact_data">
                                <h5><i class="fa fa-building" aria-hidden="true"></i>Regional Office (Chhattisgarh)</h5>
                                <p>
                                    Regional Manager,<br />
                                    Central Warehousing Corporation,<br />
                                    Warehousing Complex,<br />
                                    Rawatbhata, Raipur 493321,<br />
                                    Chhattisgarh.<br />
                                    <span><i class="glyphicon glyphicon-phone-alt" aria-hidden="true"></i></span><span>0771-2100605,</span><br />
                                    <span><i class="fa fa-fax" aria-hidden="true"></i></span><span>0771-2562930,</span><br /> 
                                    Email: 
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#DivTopNav').css("display", "none");
    $('#fixednav').addClass('Scnav_lock');
    
</script>
