<!doctype html>
<html>
<head>
    <title>CWC</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <link href="~/Content/Landing_page.css" rel="stylesheet" />
    <!--        <link rel="stylesheet" href="css/jquery-ui.css" type="text/css">-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">

    <script src="~/Scripts/jquery-3.6.1.min.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>

        <style>
            body {
                padding-bottom: 20px;
                height: 100%;
                font-family: 'Montserrat-Light',Fallback, sans-serif !important;
                background: linear-gradient(to bottom, rgba(254,236,216,1), rgba(255,255,255,1));
                background-size: cover;
                background-position: left top;
                background-attachment: fixed;
                background-repeat: no-repeat;
                color: #000;
            }

            header {
                background-color: #feecd8;
                height: auto;
                z-index: 10;
            }

            .top-nav {
                background-color: #feecd8;
                color: #fff;
                height: auto;
            }

            .top-bar {
                display: table;
                width: 100%;
                text-align: center;
            }

                .top-bar img {
                    margin: 15px 0px;
                }

            .carousel .item {
                width: 100%;
            }

                .carousel .item img {
                    width: 100%;
                }

            .carousel-inner, .carousel, .item, .fill {
                height: 250px;
                width: 100%;
                background-position: center center;
                background-size: cover;
            }

                .carousel-inner > .item {
                    opacity: 0;
                    top: 0;
                    left: 0;
                    width: 100%;
                    display: block;
                    position: absolute;
                    z-index: 0;
                    animation-delay: 3s;
                    /*-webkit-transition: none;
                transition: none;*/
                    -webkit-transform: translate3d(0, 0, 0) !important;
                    transform: translate3d(0, 0, 0) !important;
                }

                    .carousel-inner > .item:first-of-type {
                        position: relative;
                    }

                .carousel-inner > .active {
                    opacity: 1;
                    z-index: 3;
                }

                .carousel-inner > .next.left,
                .carousel-inner > .prev.right {
                    -webkit-transition: opacity 0.7s ease-in-out;
                    transition: opacity 0.7s ease-in-out;
                    opacity: 1;
                    left: 0;
                    z-index: 2;
                }

                .carousel-inner > .active.left,
                .carousel-inner > .active.right {
                    z-index: 1;
                }

                .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
                    display: block;
                    max-width: 100%;
                    height: 250px;
                }

            #about {
                background-color: transparent;
            }

                #about h4 {
                    width: 200px;
                    background-color: rgb(254, 155, 53);
                    margin-top: 20px;
                    color: #fff;
                    padding: 5px 10px;
                }

            .triangle1 {
                left: 215px;
                position: absolute;
                border-top: 29px solid rgb(254, 155, 53);
                border-right: 60px solid transparent;
                top: 20px;
                width: 0px;
                height: 0px;
            }

            .section p {
                text-align: justify;
            }

            .external-links {
                position: absolute;
                margin-top: 10px;
                text-align: right;
                right: 5px;
            }

                .external-links li {
                    display: inline;
                    padding: 0px 10px;
                }

                    .external-links li:nth-child(1) a img, .external-links li:nth-child(2) a img {
                        max-width: 13%;
                    }

            .section, #about {
                height: auto;
                min-height: auto;
            }

            .external_link {
                padding-left: 10px;
                border-left: 1px solid rgb(254, 155, 53);
            }

                .external_link li a {
                    line-height: 25px;
                }

                    .external_link li a:hover {
                        text-decoration: none;
                    }

                    .external_link li a span:nth-child(1) {
                        color: darkorange;
                        margin-right: 7px;
                    }

                    .external_link li a span:last-child {
                        color: #000;
                        font-weight: 600;
                    }

                    .external_link li a:hover span:last-child {
                        border-bottom: 1px solid rgb(254, 155, 53);
                        color: #333;
                    }

            .dt_time {
                color: #000;
                position: absolute;
                right: 0px;
                top: 85px;
                padding: 0px 15px;
                font-size: 0.85em;
            }

            #Time {
                width: 70px;
                display: inline-block;
            }

            .top_header {
                background-color: #feecd8;
                padding-top: 1%;
                padding-bottom: 1%;
            }

                .top_header img {
                    width: 90%;
                }

            .logo_sec {
                margin-top: 10px;
            }

            .date_time {
                font-size: 11px;
            }

            #Time {
                width: auto;
            }
            /*
                        .external-links li:nth-child(3) a img {
                            max-width: 4%;
                        }
            */

            ul.external_link {
                padding: 0;
                border: 0;
            }

                ul.external_link li {
                    float: left;
                    margin: 0 10px 10px 0;
                    border: 1px solid #b3aea8;
                    font-size: 12px;
                    padding: 5px 6px;
                    width: 166px;
                }

            .efct_logo h3 {
                color: #f60200;
                font-family: 'Noto Sans TC', sans-serif;
                font-style: italic;
                position: relative;
            }

                .efct_logo h3 span {
                    position: absolute;
                    top: 0;
                    right: -3px;
                    border: 1px solid red;
                    width: 18px;
                    height: 18px;
                    font-size: 8px;
                    border-radius: 50%;
                    line-height: 17px;
                    font-style: normal;
                    text-align: center;
                    font-weight: bold;
                }

            .efct_logo img {
                width: 50%;
            }


            .card {
                position: relative;
                width: 100%;
                height: 100%;
                cursor: pointer;
                transform-style: preserve-3d;
                transform-origin: center right;
                transition: transform 1s;
                height: 25px;
            }

                .card.is-flipped {
                    transform: translateX(-100%) rotateY(-180deg);
                }

            .card__face {
                position: absolute;
                width: 100%;
                height: 100%;
                color: white;
                font-weight: bold;
                font-size: 12px;
                backface-visibility: hidden;
            }

            /*.card__face--front {
                background: crimson;
            }*/

            .card__face--back {
                background: #fda734;
                transform: rotateY(180deg);
            }

            .li_site_closed.front_back {
                padding: 0 !important;
                height: 36px;
            }

                .li_site_closed.front_back .card__face--back {
                    height: 34px;
                    padding: 5px 6px;
                }
        </style>
    </head>

    <body onload="startTime()">
        <header>
            <div class="top_header">
                <div class="col-md-2 efct_logo"><img src="~/Content/Images/effect_logo.png" /></div>
                <div class="col-xs-5 col-sm-5 col-sm-offset-2 col-md-5 col-md-offset-1" style="text-align:center;"><img src="~/Content/Images/cwc-head.png" /></div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-md-offset-1" style="text-align:right;">
                    <ul class="logo_sec">
                        <li class="col-xs-6 col-sm-5 col-sm-offset-2 col-md-5 col-md-offset-2 col-lg-5 col-lg-offset-2" style="padding-right:0;"><a target="_blank" href="http://swachhbharatmission.gov.in/sbmcms/index.htm"><img src="~/Content/Images/SwachhBharat-Logo.png"></a></li>
                        <li class="col-xs-6 col-sm-5 col-md-5 col-lg-5" style="padding-right:0;"><a target="_blank" href="http://www.digitalindia.gov.in/"><img src="~/Content/Images/di_logo.png"></a></li>
                        <br class="clearfix" />
                    </ul>
                    <div class="clearfix"></div>
                    <p class="date_time"><span id="Date"></span> <span style="color:#fe9b35;">|</span> <span id="Time"></span></p>
                </div>
                <div class="clearfix"></div>
            </div>

            @*<div class="top-nav">
                    <ul class="external-links">
                        <li><a href="http://www.swachhbharaturban.in/"><img src="~/Content/Images/SwachhBharat-Logo.png"></a></li>
                        <li><a href="http://www.digitalindia.gov.in/"><img src="~/Content/Images/di_logo.png"></a></li>
                    </ul>
                    <p class="dt_time"><span id="Date"></span> <span style="color:#fe9b35;">|</span> <span id="Time"></span></p>
                    <div class="top-bar">
                        <img src="~/Content/Images/cwc-head.png">
                    </div>
                </div>*@
    </header>
    <div class="container-fluid">
        <div id="home">
            <div class="row">
                <div class="carousel slide carousel-fade" data-ride="carousel" id="myCarousel">
                    <ul class="carousel-indicators">
                        <li class="active" data-target="#myCarousel" data-slide-to="0"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                        <li data-target="#myCarousel" data-slide-to="4"></li>
                        <li data-target="#myCarousel" data-slide-to="5"></li>
                    </ul>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="~/Content/Images/ship1-2.jpg" alt="First slide" class="img-responsive">
                        </div>
                        <div class="item">
                            <img src="~/Content/Images/ship1-5.jpg" alt="First slide" class="img-responsive">
                        </div>
                        <div class="item">
                            <img src="~/Content/Images/ship1-3.jpg" alt="First slide" class="img-responsive">
                        </div>
                        <div class="item">
                            <img src="~/Content/Images/ship6-6.jpg" alt="First slide" class="img-responsive">
                        </div>
                        <div class="item">
                            <img src="~/Content/Images/ship2-2.jpg" alt="First slide" class="img-responsive">
                        </div>
                        <div class="item">
                            <img src="~/Content/Images/ship1-4.jpg" alt="First slide" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="about">
            <div class="row section">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <h4><span>Welcome to CWC</span></h4><span class="triangle1"></span>
                    <p>Central Warehousing Corporation (A Govt. of India Undertaking) is a Public Sector Organization providing logistics services in diversity. It is one of the biggest public warehouse operators having 18 regional offices, operating 438 Warehouses across the country with a storage capacity of 10 million tonnes. This honored and renowned warehouse is under Ministry of Food & Public Distribution, Govt .of India. It is operative throughout the nation including all major metro cities and corporate office in New Delhi and the expansion is in overseas as well. The prominence of the warehouse lies in providing services in General Warehouses, Bond Units, ICD, Container Train movementes-Loni to JNPT/NSKT, GTIL, PBR, MDPT etc., AIr Cargo and CFS.</p>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <h4><span>CWC Portal Links</span></h4><span class="triangle1"></span>
                    <ul class="external_link">
                        <li>
                            <a href="http://localhost:58649/MainDashBoard/Index?BranchId=2"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span><span>CWC Kolkata</span></a>
                        </li>
                        <li>
                            <a href="http://localhost:58649/MainDashBoard/Index?BranchId=1"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span><span>CWC Kandla</span></a>
                        </li>
                        <li>
                            <a href="http://localhost:58649/MainDashBoard/Index?BranchId=3"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span><span>CWC Patparganj UAT</span></a>
                        </li>
                        <li>
                            <a href="http://localhost:58649/MainDashBoard/Index?BranchId=4"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span><span>CWC Hyderabad UAT</span></a>
                        </li>
                        <li class="li_site_closed">
                            <a href="javascript:void(0);" onclick="SiteClosed(this);">
                                @*<div id="DVlocation"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span><span>CWC Chennai UAT</span></div>
                                    <div id="Site_Closed" style="font-weight: bold; font-size: 14px; color: rgb(205, 70, 64); display: none;"><img src="~/Content/Images/remove_URL.png" style="margin-right: 5px;" />Site Closed</div>*@
                                <div class="card">
                                    <div class="card__face card__face--front"><div id="DVlocation"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span><span>CWC Chennai UAT</span></div></div>
                                    <div class="card__face card__face--back"><div id="Site_Closed" style="font-weight: bold; font-size: 13px; color: #000;"><img src="~/Content/Images/remove_URL.png" style="margin-right: 5px;" />Site Closed</div></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="http://localhost:58649/MainDashBoard/Index?BranchId=6"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span><span>CWC Dashrath UAT</span></a>
                        </li>
                        <li>
                            <a href="http://localhost:58649/MainDashBoard/Index?BranchId=7"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span><span>CWC Whitefield UAT</span></a>
                        </li>
                        <li>
                            <a href="http://localhost:58649/MainDashBoard/Index?BranchId=8"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span><span>CWC D'Node UAT</span></a>
                        </li>
                        <li>
                            <a href="http://localhost:58649/MainDashBoard/Index?BranchId=9"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span><span>CWC Waluj</span></a>
                        </li>
                        <li>
                            <a href="http://localhost:58649/MainDashBoard/Index?BranchId=10"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span><span>CWC Ambad</span></a>
                        </li>
                        <li>
                            <a href="http://localhost:58649/MainDashBoard/Index?BranchId=11"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span><span>CWC Pune</span></a>
                        </li>
                        <li>
                            <a href="http://localhost:58649/MainDashBoard/Index?BranchId=12"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span><span>CWC Verna</span></a>
                        </li>
                        <li>
                            <a href="http://localhost:58649/MainDashBoard/Index?BranchId=13"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span><span>CWC Vizag</span></a>
                        </li>
                        <li>
                            <a href="http://localhost:58649/MainDashBoard/Index?BranchId=14"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span><span>CWC Tuticorin</span></a>
                        </li>
                        <li>
                            <a href="http://192.168.0.168:8084/MainDashBoard/Index?BranchId=16"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span><span>Loni</span></a>
                        </li>
                        <li>
                            <a href="http://192.168.0.168:8084/MainDashBoard/Index?BranchId=17"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span><span>Valvada</span></a>
                        </li>
                        <br clear="all" />
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <p>© Information 2017 Central Warehousing Corporation. All Rights Reserved</p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <p>Designed, Developed & Maintained by <a href="http://score.co.in/" target="_blank">Score Information Technologies Ltd.</a></p>
            </div>
        </div>
    </div>
    <script>

        var cards = document.querySelectorAll('.card');

        [...cards].forEach((card) => {
            card.addEventListener('click', function () {
                card.classList.toggle('is-flipped');
                var timer = null;
                clearTimeout(timer); // cancel and restart timer
                timer = setTimeout(function () {
                    card.classList.toggle('is-flipped');
                    $('.li_site_closed').removeClass('front_back');
                }, 10000); // after one second of idle time
            });
        });
        

        //function SiteClosed() {
        //    $('#DVlocation').hide();
        //    $('#Site_Closed').show('slide', { direction: 'left' }, 700);

        //    var timer = null;
        //    clearTimeout(timer); // cancel and restart timer
        //    timer = setTimeout(function () {
        //        debugger;
        //        $('#DVlocation').show('slide', { direction: 'left' }, 700);
        //        $('#Site_Closed').hide();
        //    }, 3000); // after one second of idle time
        //}


        $(document).ready(function () {
            $("#DVlocation").click(function () {
                $('.li_site_closed').addClass('front_back');
            });

            $("#Site_Closed").click(function () {
                $('.li_site_closed').removeClass('front_back');
            });


            // carousel
            $('#myCarousel').carousel({
                interval: 4000
            });

            // scroll slides on mouse scroll
            $('#myCarousel').bind('mousewheel DOMMouseScroll', function (e) {

                if (e.originalEvent.wheelDelta > 0 || e.originalEvent.detail < 0) {
                    $(this).carousel('prev');

                }
                else {
                    $(this).carousel('next');

                }
            });

            //scroll slides on swipe for touch enabled devices

            $("#myCarousel").on("touchstart", function (event) {

                var yClick = event.originalEvent.touches[0].pageY;
                $(this).one("touchmove", function (event) {

                    var yMove = event.originalEvent.touches[0].pageY;
                    if (Math.floor(yClick - yMove) > 1) {
                        $(".carousel").carousel('next');
                    }
                    else if (Math.floor(yClick - yMove) < -1) {
                        $(".carousel").carousel('prev');
                    }
                });
                $(".carousel").on("touchend", function () {
                    $(this).off("touchmove");
                });
            });

        });

        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!

        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        var t_sdate = dd + '/' + mm + '/' + yyyy;
        var sptdate = String(t_sdate).split("/");
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var myMonth = sptdate[1];
        var myDay = sptdate[0];
        var myYear = sptdate[2];
        var combineDatestr = myDay + "-" + months[myMonth - 1] + "-" + myYear;
        document.getElementById("Date").innerHTML = combineDatestr;

        //function startTime() {
        //    var today = new Date();
        //    var h = today.getHours();
        //    var m = today.getMinutes();
        //    var s = today.getSeconds();
        //    m = checkTime(m);
        //    s = checkTime(s);
        //    var str = "";
        //    if (h > 11) {
        //        str += "PM"
        //    } else {
        //        str += "AM"
        //    }
        //    document.getElementById('Time').innerHTML = h + " : " + m + " : " + s + " " + str;
        //    var t = setTimeout(startTime, 500);
        //}
        //function checkTime(i) {
        //    if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
        //    return i;
        //}
        function startTime() {
            var time = new Date();

            time = time.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', second: 'numeric', hour12: true });
            document.getElementById("Time").innerHTML = time;
            var t = setTimeout(startTime, 500);
        }
    </script>
</body>

</html>
