@model IEnumerable<CwcExim.Models.Menu>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SaDashBoard</title>
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    @*<script src="~/ScriptsAjax/jquery-1.7.1.min.js"></script>*@
</head>
<body>
    <script type="text/javascript">

        var categoryId;

        function LoadView(ActionUrl) {
            try {
                //alert(ActionUrl);
                //$('#DivBody').html('');
                $('#DivBody').load('/' + ActionUrl);
            } catch (ex) {


            }
        }
        //$(document).ready(function () {


        //});


    </script>
    <div class="container">
       <br /><br />
            <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2" style="border:1px solid black">
                    <div id="DivMenu">
                        <ul>
                            @foreach (CwcExim.Models.Menu Menu in Model)
                            {
                                @*@Html.ActionLink(Menu.MenuName, Menu.ActionUrl   .Split('/')[0]*@
                                <li><a href="#" onclick="LoadView('@Menu.ActionUrl')">@Menu.MenuName</a></li>
                                @*<li>@Ajax.ActionLink(Menu.MenuName, Menu.ActionUrl.Split('/')[1], Menu.ActionUrl.Split('/')[0], null)</li>*@
                            }
                        </ul>
                    </div>
                </div>

                <div class="col-sm-10 col-md-10 col-lg-10 col-xs-10" style="border:1px solid black">
                    <div id="DivBody">


                    </div>


                </div>
            </div>
        </div>
   
    @*@Scripts.Render("~/bundles/AjaxOption")*@
</body>
</html>
