@model CwcExim.Areas.Master.Models.HDBHoliday

<script>

        function LoadChemicalPage() {
            $('#DivBody').load('/Master/HDBMaster/CreateHoliday');
        }

</script>

@Html.AntiForgeryToken()
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row SignUp_space_bottom">
                    <div class="col-md-12">
                        <h4>Holiday Master</h4>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Holiday_Discription:</label>
                        </div>
                        <div class="col-md-2-5">

                            @Html.TextBoxFor(m => m.Discription, new { @class = "form-control input-sm", @readonly=true })
                            @Html.ValidationMessageFor(m => m.Discription, "", new { @class = "Error_Msg" })
                        </div>
                        <div class="col-md-offset-4 col_cus_offset_3 col-md-1-5 col_cus_2 padding_rt">
                            <label>Date:</label>
                        </div>
                        <div class="col-md-2 ">
                            @Html.TextBoxFor(m => m.Date, new { @class = "form-control input-sm", @readonly = true })
                            <div class="Error_Msg" id="errmsg" style="background-color:transparent;color:red"></div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="row">
                    <div class="stoke SignUp_space_bottom SignUp_space_top ClearFix"></div>
                </div>
                <div class="row SignUp_space_bottom">
                    <div class="col-md-offset-5 col-md-2">
                        <input type="button" id="BtnCountryBack" value="Back" class="btn log_Btn_sm" onclick="LoadChemicalPage()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


