<style>
    table tr th, table tr td{
        word-break: break-word;
    }
    .sortable-handler {
  touch-action: none;
}


</style>

<div class="container-fluid">
    <div style="width:90%;margin-left:auto;margin-right:auto;">
        <div class="Head_h4">
            <div class="row">
                <div class="col-md-12">
                    <h4>Auction Notice</h4>
                </div>
            </div>
            <div class="row Form_Space_top">
                <div class="panel with-nav-tabs panel-primary cwc_panel SignUp_space_bottom2" style="border:none;width:98%;margin-left:1%;">

                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                
                            </div>
                            <div class="col-md-2-5">
                               
                            </div>
                            <div class="col-md-1-5 col-md-offset-4 col_cus_2 col_cus_offset_3">
                                <label>Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                <input id="txtAuctionDate" type="text" class="form-control" />
                              
                               
                            </div>
                        </div>
                    </div>


                   
                    <div class="panel-heading cwc_panel_heading">
                        <input type="hidden" id="hdnOperationType" value="Import" />
                        <ul class="nav nav-tabs" id="DivTabs">
                            <li class="active"><a onclick="TabChanged('Import', 'CARGO');" href="#Import" data-toggle="tab">Import</a></li>
                            <li><a href="#Export" onclick="TabChanged('Export','CARGO');" data-toggle="tab">Export</a></li>
                            <li><a href="#Container " onclick="TabChanged('Export','CONTAINER');" data-toggle="tab">Container</a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="row" style="display:none;">
                                <div class="col-md-1-5">
                                    <div class="boolean-container">
                                        @Html.RadioButton("auctionType", "CARGO", new { id = "rdoCargo", @checked = true, @onclick = "" })
                                        <label for="rdoCargo"><i class="circle"></i><span>Cargo</span></label>
                                    </div>
                                </div>
                                <div class="col-md-1-5">
                                    <div class="boolean-container">
                                        @Html.RadioButton("auctionType", "CONTAINER", new { id = "rdoContainer", @onclick = "" })
                                        <label for="rdoContainer"><i class="circle"></i><span>Container</span></label>
                                    </div>
                                </div>                               

                            </div>
                            <div class="tab-pane fade in active">
                                <div class="row">
                                    <div class="col-md-12">
                                        @*<table id="TbLImportExport" class="table table-bordered table-responsive dataTable">
                                                <thead>
                                                    <tr>
                                                        <th>Party Name</th>
                                                        <th>CFS Code</th>
                                                        <th>BOE</th>
                                                        <th>Commodity</th>
                                                        <th>WT</th>
                                                        <th>CUM</th>
                                                        <th>SQM</th>
                                                        <th>FOB</th>
                                                        <th>CIF</th>
                                                        <th>Duty</th>
                                                        <th>Notice</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tbody_ImportExport"></tbody>
                                            </table>*@

                                        <div class="panel table_bk" id="divImport">
                                            <table id="txtImport" class="table1 table-condensed Table_Text_Align" style="font-size:8.8pt;border:none;width:100% !important;">
                                                <thead>

                                                    <tr>
                                                        <th colspan="1" style="text-align:left; width:3%;">Sl. No.</th>
                                                        <th colspan="1" style="text-align:center; width:7%;">Party Name</th>
                                                        <th colspan="1" style="text-align:center; width:7%;">ICD Code</th>
                                                        <th colspan="1" style="text-align:center; width:7%;">OBL No</th>
                                                        <th colspan="1" style="text-align:center; width:7%;">OBL Date</th>
                                                        <th colspan="1" style="text-align:center; width:7%;">Commodity</th>
                                                        <th colspan="1" style="text-align:center; width:5%;">Godown</th>
                                                        <th colspan="1" style="text-align:center; width:7%;">Gross Wt(Kg).</th>
                                                        <th colspan="1" style="text-align:center; width:4%;">CUM</th>
                                                        <th colspan="1" style="text-align:center; width:5%;">Area (Sqm.)</th>
                                                        @*<th colspan="1" style="text-align:center; width:7%;">FOB</th>*@
                                                        <th colspan="1" style="text-align:center; width:7%;">CIF</th>
                                                        <th colspan="1" style="text-align:center; width:7%;">Duty</th>
                                                        <th colspan="1" style="text-align:center; width:4%;">Select</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                                <div id="Importscolllazy">
                                                    <div id="slim_scroll">
                                                        <div class="slim_tble div-table-content">
                                                            <table style="width:100%;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="width: 7%; font-size:8.8pt; padding: 7px;">OBL NO</td>
                                                                        <td style="position:relative; width: 23%; float: left; padding: 7px;">
                                                                            <input type="text" style="height: 27px; padding-right: 21px; border-color: #f7a654;" class="form-control" id="txtOBLNo" />
                                                                            <span class="search" style="top: 11px; right: 13px;"><i class="fa fa-search" aria-hidden="true" onclick="SearchDataByOBL('Import', 'CARGO')"></i></span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                            <table class="table table-striped table-condensed Table_Text_Align" style="font-size:8.8pt; border:none;">
                                                                <tbody id="tbody_Import"></tbody>
                                                            </table>
                                                            <table style="width:100%; background: #fff;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="text-align: center;"><button class="btn log_Btn_sm" style="width:12%; margin: 15px 0 15px 0;" id="btnSave" onclick="loadmore('Import', 'CARGO')">Load More</button></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                          </div>

                                        <div class="panel table_bk" id="divExport">
                                            <table id="txtExport" class="table1 table-condensed Table_Text_Align hidden" style="font-size:8.8pt; border:none;width:100% !important;">
                                                <thead>
                                                    <tr>
                                                        <th colspan="1" style="text-align:left; width:3%;">Sl. No.</th>
                                                        <th colspan="1" style="text-align:center; width:7%;">Party Name</th>
                                                        <th colspan="1" style="text-align:center; width:7%;">ICD Code</th>
                                                        <th colspan="1" style="text-align:center; width:7%;">Shipbill No</th>
                                                        <th colspan="1" style="text-align:center; width:7%;">Shipbill Date</th>
                                                        <th colspan="1" style="text-align:center; width:7%;">Commodity</th>
                                                        <th colspan="1" style="text-align:center; width:5%;">Godown</th>
                                                        <th colspan="1" style="text-align:center; width:7%;">Gross Wt(Kg).</th>
                                                        <th colspan="1" style="text-align:center; width:4%;">CUM</th>
                                                        <th colspan="1" style="text-align:center; width:5%;">Area (Sqm.)</th>
                                                        <th colspan="1" style="text-align:center; width:7%;">FOB</th>
                                                        @*<th colspan="1" style="text-align:center; width:7%;">CIF</th>
                                                        <th colspan="1" style="text-align:center; width:7%;">Duty</th>*@
                                                        <th colspan="1" style="text-align:center; width:4%;">Select</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                            <div id="Exportscolllazy">
                                                <div id="slim_scroll_1">
                                                    <div class="slim_tble div-table-content">
                                                        <table style="width:100%;">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="width: 9%; font-size:8.8pt;padding: 7px;">ShipBill No</td>
                                                                    <td style="position:relative; width: 23%; float: left; padding: 7px;">
                                                                        <input type="text" style="height: 27px; padding-right: 21px; border-color: #f7a654;" class="form-control" id="txtShipBillNo" />
                                                                        <span class="search" style="top: 11px; right: 13px;"><i class="fa fa-search" onclick="SearchDataByOBL('Export', 'CARGO')" aria-hidden="true"></i></span>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <table class="table table-striped table-condensed Table_Text_Align" style="font-size:8.8pt; border:none;">
                                                            <tbody id="tbody_Export"></tbody>
                                                        </table>
                                                        <table style="width:100%; background: #fff;">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="text-align: center;"><button class="btn log_Btn_sm" style="width:12%; margin: 15px 0 15px 0;" id="btnSave" onclick="loadmore('Export', 'CARGO')">Load More</button></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel table_bk" id="divContainer">
                                            <table id="txtContainer" class="table1 table-condensed Table_Text_Align hidden" style="font-size:8.8pt; border:none;width:100% !important;">
                                                <thead>
                                                    <tr>
                                                        <th colspan="1" style="text-align:left; width:3%;">Sl. No.</th>
                                                        <th colspan="1" style="text-align:center; width:7%;">Party Name</th>
                                                        <th colspan="1" style="text-align:center; width:7%;">ICD Code</th>
                                                        <th colspan="1" style="text-align:center; width:7%;">Container No</th>
                                                        <th colspan="1" style="text-align:center; width:7%;">Container Date</th>
                                                        <th colspan="1" style="text-align:center; width:7%;">Commodity</th>
                                                        <th colspan="1" style="text-align:center; width:5%;">Godown</th>
                                                        <th colspan="1" style="text-align:center; width:7%;">Gross Wt(Kg).</th>
                                                        <th colspan="1" style="text-align:center; width:4%;">CUM</th>
                                                        <th colspan="1" style="text-align:center; width:5%;">Area (Sqm.)</th>
                                                        <th colspan="1" style="text-align:center; width:7%;">FOB</th>
                                                        @*<th colspan="1" style="text-align:center; width:7%;">CIF</th>
                        <th colspan="1" style="text-align:center; width:7%;">Duty</th>*@
                                                        <th colspan="1" style="text-align:center; width:4%;">Select</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                            <div id="txtContainercolllazy">
                                                <div id="slim_scroll_2">
                                                    <div class="slim_tble div-table-content">
                                                        <table style="width:100%;">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="width: 9%; font-size:8.8pt;padding: 7px;">Container No </td>
                                                                    <td style="position:relative; width: 23%; float: left; padding: 7px;">
                                                                        <input type="text" style="height: 27px; padding-right: 21px; border-color: #f7a654;" class="form-control" id="txtContainerNo" />
                                                                        <span class="search" style="top: 11px; right: 13px;"><i class="fa fa-search" onclick="SearchDataByOBL('Export', 'CONTAINER')" aria-hidden="true"></i></span>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <table class="table table-striped table-condensed Table_Text_Align" style="font-size:8.8pt; border:none;">
                                                            <tbody id="tbody_txtContainer"></tbody>
                                                        </table>
                                                        <table style="width:100%; background: #fff;">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="text-align: center;"><button class="btn log_Btn_sm" style="width:12%; margin: 15px 0 15px 0;" id="btnSave" onclick="loadmore('Export', 'CARGO')">Load More</button></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="row SignUp_space_bottom SignUp_space_top">
                                    <div class="col-md-12">

                                        <div class="stoke"></div>
                                    </div>
                                </div>
                                <div class="logSuccMsg Form_Space_bottom" id="msgDiv" style="background-color:transparent"></div>
                                <div class="row" style="padding-bottom:15px;">
                                    <div class="col-md-offset-4 col-md-2">
                                        <input type="button" value="Issue Notice" class="btn log_Btn_sm" style="width:100%;" id="btnSave" onclick="SaveIssueNotice()" />
                                    </div>
                                    <div class="col-md-2">
                                        <input type="button" value="Reset" class="btn log_Btn_sm" id="btnReset" onclick="Reset()" />
                                    </div>
                                </div>
                                <div class="row SignUp_space_top2 SignUp_space_bottom2">
                                    <div class="col-md-12">
                                        <div class="stoke"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 SignUp_space_bottom">
                                        <div id="DivNoticeList">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="NoticeNoModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 1572px;">
        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" onclick="dismissedModal()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">Reissue Notice </h4>
            </div>
            <div class="modal-body popup_body">
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">

                        </div>
                        <div class="col-md-2-5">

                        </div>
                        <div class="col-md-1-5 col-md-offset-4 col_cus_2 col_cus_offset_3">
                            <label>Date:</label>
                        </div>
                        <div class="col-md-2 col_cus_2_5 Date_Img">
                            <input id="txtReissueAuctionDate" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="panel table_bk">
                    <table id="AuctionDetailsReissue" class="table1 table-condensed Table_Text_Align" style="font-size:8.8pt;border:none;width:100% !important;">
                        
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <div class="logSuccMsg Form_Space_bottom" id="msgDivRe" style="background-color:transparent"></div>
                <div class="row" style="padding-bottom:15px;">
                    <div class="col-md-offset-4 col-md-2">
                        <input type="button" value="Reissue Notice" class="btn log_Btn_sm" style="width:100%;" id="btnReSave" onclick="SaveReissueNotice()" />
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn log_Btn_sm" onclick="dismissedModal()">Close</button>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="txtAuctionId" style="display:none;" />
<input type="hidden" id="txtAuctionType" style="display:none;" />

@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript" src="/scripts/jquery.nicescroll.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#slim_scroll').slimScroll({
            allowPageScroll: true
        });
        $('#slim_scroll_1').slimScroll({
            allowPageScroll: true
        });
        $('#slim_scroll_2').slimScroll({
            allowPageScroll: true
        });
    });
    
</script>

<script>

    var AuctionNoticeDetailsList = [];
    var SelectedAuctionNoticeDetailsList = [];

    $(document).ready(function () {
        PopulateData('Import', 'CARGO', 1);
        
        var scrollLimit = 1400;  // Amount after which ajax() call initializes
        var limit = 3;    // item count
        var offset = 1;    // offset
        
        $("#hdnOperationType").val('Import');
        $('#txtAuctionType').val('CARGO');
        LoadAuctionNoticeList();


        function debounce(func, wait, immediate) {
            var timeout;
            return function () {
                var context = this, args = arguments;
                var later = function () {
                    timeout = null;
                    if (!immediate) func.apply(context, args);
                };
                var callNow = immediate && !timeout;
                clearTimeout(timeout);
                timeout = setTimeout(later, wait);
                if (callNow) func.apply(context, args);
            };
        };
        document.getElementById('txtOBLNo').addEventListener('keyup', debounce(function () {
            if (document.getElementById('txtOBLNo').value != "")
            {
                SearchDataByOBL('Import', 'Cargo')
            }
            else
            {
                PopulateData('Import', 'Cargo', 1);
            }
                // angular.element('#YardInvoiceController').scope().SearchPartyList();
              
            //else
                //angular.element('#YardInvoiceController').scope().LoadPartyList();
        }, 800));

        document.getElementById('txtShipBillNo').addEventListener('keyup', debounce(function () {
            if (document.getElementById('txtShipBillNo').value != "")
            {
                SearchDataByOBL('Export', 'Cargo')
            }
            else
            {
                PopulateData('Export', 'Cargo', 1);
            }
            //else
               // angular.element('#YardInvoiceController').scope().LoadPartyList();
        }, 800));

        document.getElementById('txtContainerNo').addEventListener('keyup', debounce(function () {
            if (document.getElementById('txtContainerNo').value != "") {
                SearchDataByOBL('Export', 'CONTAINER')
            }
            else {
                PopulateData('Export', 'CONTAINER', 1);
            }
            //else
            // angular.element('#YardInvoiceController').scope().LoadPartyList();
        }, 800));



        $("#txtAuctionDate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            //minDate: 0,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
                $('[data-valmsg-for="Data"]').html('<span></span>');
            }
        });
        $("#txtAuctionDate").datepicker("setDate", new Date());


        $("#txtReissueAuctionDate").datepicker({
            dateFormat: "dd-mm-yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            //minDate: 0,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
                $('[data-valmsg-for="Data"]').html('<span></span>');
            }
        });
        $("#txtReissueAuctionDate").datepicker("setDate", new Date());
        

    });

   var offset =1;
    function loadmore(operationType, auctionType)
   {
        offset = offset + 1;
        PopulateData(operationType, auctionType, offset);
       
    }

    function SearchDataByOBL(operationType, auctionType)
    {
        debugger;
        if (operationType == 'Import' && auctionType == 'CARGO') {


            $("#divImport").removeClass('hidden');
            $("#divExport").addClass('hidden');
            $("#divContainer").addClass('hidden');

            $("#txtExport").addClass('hidden');
            $('#Importscolllazy').removeClass('hidden');
            $("#txtImport").removeClass('hidden');
            $("#Exportscolllazy").addClass('hidden');
            $('#txtContainer').addClass('hidden');
            $("#txtContainercolllazy").addClass('hidden');
        }
        else if (operationType == 'Export' && auctionType == 'CARGO') {

            $("#divImport").addClass('hidden');
            $("#divExport").removeClass('hidden');
            $("#divContainer").addClass('hidden');

            $("#txtImport").addClass('hidden');
            $("#Importscolllazy").addClass('hidden');
            $('#Exportscolllazy').removeClass('hidden');
            $("#txtExport").removeClass('hidden');
            $('#txtContainer').addClass('hidden');
            $("#txtContainercolllazy").addClass('hidden');
        }
        else if (auctionType == 'CONTAINER') {

            $("#divImport").addClass('hidden');
            $("#divExport").addClass('hidden');
            $("#divContainer").removeClass('hidden');

            $("#txtImport").addClass('hidden');
            $("#Importscolllazy").addClass('hidden');
            $('#Exportscolllazy').addClass('hidden');
            $("#txtExport").addClass('hidden');

            $('#txtContainer').removeClass('hidden');
            $("#txtContainercolllazy").removeClass('hidden');
        }
        debugger;

        if (auctionType=='CARGO')
        {
            $.ajax({
                type: 'GET',
                url: '/Auction/Dnd_Auction/PopulateDataAuctionNoticeByOBLNoShipBill',
                data: { operationType: operationType, auctionType: auctionType, OBLNo: $('#txtOBLNo').val(), ShipBill: $('#txtShipBillNo').val() },
                dataType: 'JSON',
                success: function (data) {
                    debugger;
                    if (data != null && data.length > 0) {

                        var html_tbody = '';
                        SelectedAuctionNoticeDetailsList = [];
                        AuctionNoticeDetailsList.length = 0;
                        AuctionNoticeDetailsList = data;

                        if (operationType == 'Import') {

                            for (var i = 0; i < AuctionNoticeDetailsList.length; i++) {
                                var j = i + 1;
                                html_tbody += '<tr>';
                                html_tbody += '<td colspan="1" style="text-align:left; width:3%;">' + j + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].PartyName + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].CFSCode + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].BLNo + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].BLDate + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].CommodityName + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:5%;">' + AuctionNoticeDetailsList[i].GodownLocation + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + Number(AuctionNoticeDetailsList[i].Weight).toFixed(3) + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:4%;">' + AuctionNoticeDetailsList[i].CUM + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:5%;">' + AuctionNoticeDetailsList[i].SQM + '</td>';
                                //html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].Fob + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].CIF + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].Duty + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:7%;display:none;">' + AuctionNoticeDetailsList[i].GodownID + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:4%;"><div class="boolean-container">';
                                html_tbody += '<input type="checkbox" id="chk_' + AuctionNoticeDetailsList[i].SrNo + '" onchange="NoticeChecked(' + AuctionNoticeDetailsList[i].SrNo + ')" /> <label for="chk_' + AuctionNoticeDetailsList[i].SrNo + '" style="text-align:center;"><i class="square"></i></label>';
                                html_tbody += '</div></td>';
                                html_tbody += '</tr>';
                            }

                            $('#tbody_Export').html('');
                            $('#tbody_Import').html(html_tbody);
                        }
                        else if (operationType == 'Export') {
                            for (var i = 0; i < AuctionNoticeDetailsList.length; i++) {
                                var j = i + 1;
                                html_tbody += '<tr>';
                                html_tbody += '<td colspan="1" style="text-align:left; width:3%;">' + j + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].PartyName + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].CFSCode + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].ShippingBillNo + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].ShipBillDate + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].CommodityName + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:5%;">' + AuctionNoticeDetailsList[i].GodownLocation + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + Number(AuctionNoticeDetailsList[i].Weight).toFixed(3) + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:4%;">' + AuctionNoticeDetailsList[i].CUM + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:5%;">' + AuctionNoticeDetailsList[i].SQM + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].Fob + '</td>';
                                //html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].CIF + '</td>';
                                //html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].Duty + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:7%;display:none;">' + AuctionNoticeDetailsList[i].GodownID + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:4%;"><div class="boolean-container">';
                                html_tbody += '<input type="checkbox" id="chk_' + AuctionNoticeDetailsList[i].SrNo + '" onchange="NoticeChecked(' + AuctionNoticeDetailsList[i].SrNo + ')" /> <label for="chk_' + AuctionNoticeDetailsList[i].SrNo + '" style="text-align:center;"><i class="square"></i></label>';
                                html_tbody += '</div></td>';
                                html_tbody += '</tr>';
                            }

                            $('#tbody_Import').html('');
                            $('#tbody_Export').html(html_tbody);
                        }

                    }
                    else {
                        $('#tbody_Import').html('');
                        $('#tbody_Export').html('');


                    }

                    if (operationType == 'Import') {

                        $("#divImport").removeClass('hidden');
                        $("#divExport").addClass('hidden');
                        $("#divContainer").addClass('hidden');

                        $("#txtExport").addClass('hidden');
                        $('#tbody_Import').addClass('hidden');
                        $("#txtImport").removeClass('hidden');
                        $("#tbody_Import").removeClass('hidden');

                        $('#txtContainer').addClass('hidden');
                        $("#txtContainercolllazy").addClass('hidden');
                    }
                    else if (operationType == 'Export') {

                        $("#divImport").addClass('hidden');
                        $("#divExport").removeClass('hidden');
                        $("#divContainer").addClass('hidden');

                        $("#txtImport").addClass('hidden');
                        $("#tbody_Import").addClass('hidden');
                        $('#tbody_Import').removeClass('hidden');
                        $("#txtExport").removeClass('hidden');

                        $('#txtContainer').addClass('hidden');
                        $("#txtContainercolllazy").addClass('hidden');
                    }
                    else if (operationType == 'Container') {

                        $("#divImport").addClass('hidden');
                        $("#divExport").addClass('hidden');
                        $("#divContainer").removeClass('hidden');

                        $("#txtImport").addClass('hidden');
                        $("#Importscolllazy").addClass('hidden');
                        $('#Exportscolllazy').addClass('hidden');
                        $("#txtExport").addClass('hidden');

                        $('#txtContainer').removeClass('hidden');
                        $("#txtContainercolllazy").removeClass('hidden');
                    }

                }
            });
        }
        else if (auctionType == 'CONTAINER')
        {
            $.ajax({
                type: 'GET',
                url: '/Auction/Dnd_Auction/PopulateDataAuctionNoticeByContainer',
                data: { operationType: operationType, auctionType: auctionType, ContainerNo: $('#txtContainerNo').val() },
                dataType: 'JSON',
                success: function (data) {
                    debugger;
                    if (data != null && data.length > 0) {

                        var html_tbody = '';
                        SelectedAuctionNoticeDetailsList = [];
                        AuctionNoticeDetailsList.length = 0;
                        AuctionNoticeDetailsList = data;

                        if (operationType == 'Import' && auctionType == 'CARGO') {

                            for (var i = 0; i < AuctionNoticeDetailsList.length; i++) {
                                var j = i + 1;
                                html_tbody += '<tr>';
                                html_tbody += '<td colspan="1" style="text-align:left; width:3%;">' + j + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:left;   width:7%;">' + AuctionNoticeDetailsList[i].PartyName + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].CFSCode + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].BLNo + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].BLDate + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].CommodityName + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:5%;">' + AuctionNoticeDetailsList[i].GodownLocation + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + Number(AuctionNoticeDetailsList[i].Weight).toFixed(2) + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:4%;">' + AuctionNoticeDetailsList[i].CUM + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:5%;">' + AuctionNoticeDetailsList[i].SQM + '</td>';
                                //html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].Fob + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].CIF + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].Duty + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:7%;display:none;">' + AuctionNoticeDetailsList[i].GodownID + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:4%;"><div class="boolean-container">';
                                html_tbody += '<input type="checkbox" id="chk_' + AuctionNoticeDetailsList[i].SrNo + '" onchange="NoticeChecked(' + AuctionNoticeDetailsList[i].SrNo + ')" /> <label for="chk_' + AuctionNoticeDetailsList[i].SrNo + '" style="text-align:center;"><i class="square"></i></label>';
                                html_tbody += '</div></td>';
                                html_tbody += '</tr>';
                            }
                            $('#tbody_txtContainer').html('');
                            $('#tbody_Export').html('');
                            $('#tbody_Import').html(html_tbody);

                        }
                        else if (operationType == 'Export' && auctionType == 'CARGO') {
                            for (var i = 0; i < AuctionNoticeDetailsList.length; i++) {
                                var j = i + 1;
                                html_tbody += '<tr>';
                                html_tbody += '<td colspan="1" style="text-align:left; width:3%;">' + j + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].PartyName + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].CFSCode + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].ShippingBillNo + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].ShipBillDate + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].CommodityName + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:5%;">' + AuctionNoticeDetailsList[i].GodownLocation + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + Number(AuctionNoticeDetailsList[i].Weight).toFixed(2) + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:4%;">' + AuctionNoticeDetailsList[i].CUM + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:5%;">' + AuctionNoticeDetailsList[i].SQM + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].Fob + '</td>';
                                //html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].CIF + '</td>';
                                //html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].Duty + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:7%;display:none;">' + AuctionNoticeDetailsList[i].GodownID + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:4%;"><div class="boolean-container">';
                                html_tbody += '<input type="checkbox" id="chk_' + AuctionNoticeDetailsList[i].SrNo + '" onchange="NoticeChecked(' + AuctionNoticeDetailsList[i].SrNo + ')" /> <label for="chk_' + AuctionNoticeDetailsList[i].SrNo + '" style="text-align:center;"><i class="square"></i></label>';
                                html_tbody += '</div></td>';
                                html_tbody += '</tr>';
                            }
                            $('#tbody_txtContainer').html('');
                            $('#tbody_Import').html('');
                            $('#tbody_Export').html(html_tbody);
                        }
                        else if (operationType == 'Export' && auctionType == 'CONTAINER') {
                            for (var i = 0; i < AuctionNoticeDetailsList.length; i++) {
                                var j = i + 1;
                                html_tbody += '<tr>';
                                html_tbody += '<td colspan="1" style="text-align:left; width:3%;">' + j + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].PartyName + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].CFSCode + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].ContainerNo + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].ShipBillDate + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].CommodityName + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:5%;">' + AuctionNoticeDetailsList[i].GodownLocation + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + Number(AuctionNoticeDetailsList[i].Weight).toFixed(2) + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:4%;">' + AuctionNoticeDetailsList[i].CUM + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:5%;">' + AuctionNoticeDetailsList[i].SQM + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].Fob + '</td>';
                                //html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].CIF + '</td>';
                                //html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].Duty + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:7%;display:none;">' + AuctionNoticeDetailsList[i].GodownID + '</td>';
                                html_tbody += '<td colspan="1" style="text-align:center; width:4%;"><div class="boolean-container">';
                                html_tbody += '<input type="checkbox" id="chk_' + AuctionNoticeDetailsList[i].SrNo + '" onchange="NoticeChecked(' + AuctionNoticeDetailsList[i].SrNo + ')" /> <label for="chk_' + AuctionNoticeDetailsList[i].SrNo + '" style="text-align:center;"><i class="square"></i></label>';
                                html_tbody += '</div></td>';
                                html_tbody += '</tr>';
                            }
                            $('#tbody_Export').html('');
                            $('#tbody_Import').html('');
                            $('#tbody_txtContainer').html(html_tbody);
                        }
                    }
                    else {
                        $('#tbody_Import').html('');
                        $('#tbody_Export').html('');


                    }

                    if (operationType == 'Import' && auctionType == 'CARGO') {
                        $("#divImport").removeClass('hidden');
                        $("#divExport").addClass('hidden');
                        $("#divContainer").addClass('hidden');


                        $("#txtExport").addClass('hidden');
                        $('#tbody_Import').addClass('hidden');
                        $("#txtImport").removeClass('hidden');
                        $("#tbody_Import").removeClass('hidden');
                        $('#txtContainer').addClass('hidden');
                        $("#txtContainercolllazy").addClass('hidden');
                    }
                    else if (operationType == 'Export' && auctionType == 'CARGO') {


                        $("#divImport").addClass('hidden');
                        $("#divExport").removeClass('hidden');
                        $("#divContainer").addClass('hidden');

                        $("#txtImport").addClass('hidden');
                        $("#tbody_Import").addClass('hidden');
                        $('#tbody_Import').removeClass('hidden');
                        $("#txtExport").removeClass('hidden');
                        $('#txtContainer').addClass('hidden');
                        $("#txtContainercolllazy").addClass('hidden');
                    }
                    else if (auctionType == 'CONTAINER') {


                        $("#divImport").addClass('hidden');
                        $("#divExport").addClass('hidden');
                        $("#divContainer").removeClass('hidden');


                        $("#txtImport").addClass('hidden');
                        $("#Importscolllazy").addClass('hidden');
                        $('#Exportscolllazy').addClass('hidden');
                        $("#txtExport").addClass('hidden');

                        $('#txtContainer').removeClass('hidden');
                        $("#txtContainercolllazy").removeClass('hidden');
                    }


                }
            });
        }

     
    }

    function activeli(elem) {
        $("#DivTabs li").removeClass('active');
        $("#DivTabs li").removeClass('active');
        $(elem).addClass('active');

    }

    function TabChanged(OperationType,AuctionType) {
        debugger;
        offset = 1;
        $("#hdnOperationType").val(OperationType);
        $("#txtAuctionType").val(AuctionType);

        if (AuctionType == 'CARGO')
        {
            PopulateData(OperationType, 'CARGO', 1);
            LoadAuctionNoticeList();
        }
        else
        {
            PopulateData(OperationType, AuctionType, 1);
            LoadAuctionNoticeList();
        }
       
       
    }

    function PopulateData(operationType, auctionType, inPage) {
        debugger;
        if (operationType == 'Import' && auctionType == 'CARGO') {


            $("#divImport").removeClass('hidden');
            $("#divExport").addClass('hidden');
            $("#divContainer").addClass('hidden');

            $("#txtExport").addClass('hidden');
            $('#Importscolllazy').removeClass('hidden');
            $("#txtImport").removeClass('hidden');
            $("#Exportscolllazy").addClass('hidden');
            $('#txtContainer').addClass('hidden');
            $("#txtContainercolllazy").addClass('hidden');
        }
        else if (operationType == 'Export' && auctionType == 'CARGO') {

            $("#divImport").addClass('hidden');
            $("#divExport").removeClass('hidden');
            $("#divContainer").addClass('hidden');

            $("#txtImport").addClass('hidden');
            $("#Importscolllazy").addClass('hidden');
            $('#Exportscolllazy').removeClass('hidden');
            $("#txtExport").removeClass('hidden');
            $('#txtContainer').addClass('hidden');
            $("#txtContainercolllazy").addClass('hidden');
        }
        else if (auctionType == 'CONTAINER') {

            $("#divImport").addClass('hidden');
            $("#divExport").addClass('hidden');
            $("#divContainer").removeClass('hidden');

            $("#txtImport").addClass('hidden');
            $("#Importscolllazy").addClass('hidden');
            $('#Exportscolllazy').addClass('hidden');
            $("#txtExport").addClass('hidden');

            $('#txtContainer').removeClass('hidden');
            $("#txtContainercolllazy").removeClass('hidden');
        }
        debugger;
        $.ajax({
            type: 'GET',
            url: '/Auction/Dnd_Auction/PopulateDataAuctionNotice',
            data: { operationType: operationType, auctionType: auctionType, inPage: inPage },
            dataType: 'JSON',
            success: function (data) {
                debugger;
                if (data != null && data.length > 0) {

                    var html_tbody = '';
                    SelectedAuctionNoticeDetailsList = [];
                    AuctionNoticeDetailsList.length = 0;
                    AuctionNoticeDetailsList = data;

                    if (operationType == 'Import' && auctionType == 'CARGO') {

                        for (var i = 0; i < AuctionNoticeDetailsList.length; i++) {
                           var j = i + 1;
                            html_tbody += '<tr>';
                            html_tbody += '<td colspan="1" style="text-align:left; width:3%;">' + j + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:left;   width:7%;">' + AuctionNoticeDetailsList[i].PartyName + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].CFSCode + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].BLNo + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].BLDate + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].CommodityName + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:5%;">' + AuctionNoticeDetailsList[i].GodownLocation + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + Number(AuctionNoticeDetailsList[i].Weight).toFixed(2) + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:4%;">' + AuctionNoticeDetailsList[i].CUM + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:5%;">' + AuctionNoticeDetailsList[i].SQM + '</td>';
                            //html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].Fob + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].CIF + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].Duty + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;display:none;">' + AuctionNoticeDetailsList[i].GodownID + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:4%;"><div class="boolean-container">';
                            html_tbody += '<input type="checkbox" id="chk_' + AuctionNoticeDetailsList[i].SrNo + '" onchange="NoticeChecked(' + AuctionNoticeDetailsList[i].SrNo + ')" /> <label for="chk_' + AuctionNoticeDetailsList[i].SrNo + '" style="text-align:center;"><i class="square"></i></label>';
                            html_tbody += '</div></td>';
                            html_tbody += '</tr>';
                        }
                        $('#tbody_txtContainer').html('');
                        $('#tbody_Export').html('');
                        $('#tbody_Import').html(html_tbody);
                       
                    }
                    else if (operationType == 'Export' && auctionType == 'CARGO') {
                        for (var i = 0; i < AuctionNoticeDetailsList.length; i++) {
                            var j = i + 1;
                            html_tbody += '<tr>';
                            html_tbody += '<td colspan="1" style="text-align:left; width:3%;">' + j + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].PartyName + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].CFSCode + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].ShippingBillNo + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].ShipBillDate + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].CommodityName + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:5%;">' + AuctionNoticeDetailsList[i].GodownLocation + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + Number(AuctionNoticeDetailsList[i].Weight).toFixed(2) + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:4%;">' + AuctionNoticeDetailsList[i].CUM + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:5%;">' + AuctionNoticeDetailsList[i].SQM + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].Fob + '</td>';
                            //html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].CIF + '</td>';
                            //html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].Duty + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;display:none;">' + AuctionNoticeDetailsList[i].GodownID + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:4%;"><div class="boolean-container">';
                            html_tbody += '<input type="checkbox" id="chk_' + AuctionNoticeDetailsList[i].SrNo + '" onchange="NoticeChecked(' + AuctionNoticeDetailsList[i].SrNo + ')" /> <label for="chk_' + AuctionNoticeDetailsList[i].SrNo + '" style="text-align:center;"><i class="square"></i></label>';
                            html_tbody += '</div></td>';
                            html_tbody += '</tr>';
                        }
                        $('#tbody_txtContainer').html('');
                        $('#tbody_Import').html('');
                        $('#tbody_Export').html(html_tbody);
                    }
                    else if (operationType == 'Export' && auctionType == 'CONTAINER') {
                        for (var i = 0; i < AuctionNoticeDetailsList.length; i++) {
                            var j = i + 1;
                            html_tbody += '<tr>';
                            html_tbody += '<td colspan="1" style="text-align:left; width:3%;">' + j + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].PartyName + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].CFSCode + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].ContainerNo + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].ShipBillDate + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].CommodityName + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:5%;">' + AuctionNoticeDetailsList[i].GodownLocation + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + Number(AuctionNoticeDetailsList[i].Weight).toFixed(2) + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:4%;">' + AuctionNoticeDetailsList[i].CUM + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:5%;">' + AuctionNoticeDetailsList[i].SQM + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].Fob + '</td>';
                            //html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].CIF + '</td>';
                            //html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].Duty + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;display:none;">' + AuctionNoticeDetailsList[i].GodownID + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:4%;"><div class="boolean-container">';
                            html_tbody += '<input type="checkbox" id="chk_' + AuctionNoticeDetailsList[i].SrNo + '" onchange="NoticeChecked(' + AuctionNoticeDetailsList[i].SrNo + ')" /> <label for="chk_' + AuctionNoticeDetailsList[i].SrNo + '" style="text-align:center;"><i class="square"></i></label>';
                            html_tbody += '</div></td>';
                            html_tbody += '</tr>';
                        }
                        $('#tbody_Export').html('');
                        $('#tbody_Import').html('');
                        $('#tbody_txtContainer').html(html_tbody);
                    }
                }
                else {
                    $('#tbody_Import').html('');
                    $('#tbody_Export').html('');


                }

                if (operationType == 'Import' && auctionType == 'CARGO') {
                    $("#divImport").removeClass('hidden');
                    $("#divExport").addClass('hidden');
                    $("#divContainer").addClass('hidden');


                    $("#txtExport").addClass('hidden');
                    $('#tbody_Import').addClass('hidden');
                    $("#txtImport").removeClass('hidden');
                    $("#tbody_Import").removeClass('hidden');
                    $('#txtContainer').addClass('hidden');
                    $("#txtContainercolllazy").addClass('hidden');
                }
                else if (operationType == 'Export' && auctionType == 'CARGO') {


                    $("#divImport").addClass('hidden');
                    $("#divExport").removeClass('hidden');
                    $("#divContainer").addClass('hidden');

                    $("#txtImport").addClass('hidden');
                    $("#tbody_Import").addClass('hidden');
                    $('#tbody_Import').removeClass('hidden');
                    $("#txtExport").removeClass('hidden');
                    $('#txtContainer').addClass('hidden');
                    $("#txtContainercolllazy").addClass('hidden');
                }
                else if (auctionType == 'CONTAINER') {

                    
                    $("#divImport").addClass('hidden');
                    $("#divExport").addClass('hidden');
                    $("#divContainer").removeClass('hidden');


                    $("#txtImport").addClass('hidden');
                    $("#Importscolllazy").addClass('hidden');
                    $('#Exportscolllazy').addClass('hidden');
                    $("#txtExport").addClass('hidden');

                    $('#txtContainer').removeClass('hidden');
                    $("#txtContainercolllazy").removeClass('hidden');
                }

            }
        });
    }

    function NoticeChecked(srNo) {
        debugger;
        if ($('#chk_' + srNo).is(":checked")) {
            for (var i = 0; i < AuctionNoticeDetailsList.length; i++) {
                if (AuctionNoticeDetailsList[i].SrNo == srNo) {
                    SelectedAuctionNoticeDetailsList.push(AuctionNoticeDetailsList[i]);
                    break;
                }
            }

        } else {
            for (var i = 0; i < SelectedAuctionNoticeDetailsList.length; i++) {
                if (SelectedAuctionNoticeDetailsList[i].SrNo == srNo) {
                    SelectedAuctionNoticeDetailsList.splice(i, 1);
                    break;
                }
            }
        }


    }
    $('#btnSave').removeClass('hidden');
    function SaveIssueNotice() {

        var conf = confirm("Do you want to save ?");
        if (conf) {

            $('#btnSave').addClass('hidden');
            if (SelectedAuctionNoticeDetailsList.length > 0) {
                for (var i = 1; i < SelectedAuctionNoticeDetailsList.length; i++) {
                    if (SelectedAuctionNoticeDetailsList[0].PartyId != SelectedAuctionNoticeDetailsList[i].PartyId) {
                        $('#msgDiv').html("You should select item for a particular party only.").removeClass('logSuccMsg').addClass('logErrMsg');
                        return false;
                    }
                }
            }
            else {
                $('#msgDiv').html("You should select the item first.").removeClass('logSuccMsg').addClass('logErrMsg');
                return false;
            }


            $.ajax({
                contentType: 'application/json; charset=utf-8',
                type: 'POST',
                url: '/Auction/Dnd_Auction/SaveAuctionIssueNotice?operationType=' + $("#hdnOperationType").val() + '&auctionType='+$('#txtAuctionType').val()+'&AuctionDate=' + $('#txtAuctionDate').val() + '',
                data: JSON.stringify(SelectedAuctionNoticeDetailsList),
                dataType: 'JSON',
                success: function (data) {
                    if (data.Status == 1) {
                        $('#msgDiv').html("Notice saved successfully.").removeClass('logErrMsg').addClass('logSuccMsg');
                        SelectedAuctionNoticeDetailsList.length = 0;
                        PopulateData($("#hdnOperationType").val(), 'CARGO');
                        setTimeout(Reset, 3000);
                        LoadAuctionNoticeList();
                    }
                    else {
                        $('#msgDiv').html(data.Message).removeClass('logSuccMsg').addClass('logErrMsg');
                    }
                }
            });
        }


    }

    function Reset() {
        $('#DivBody').load('/Auction/Dnd_Auction/AuctionNotice');
        LoadAuctionNoticeList();
    }

    function PrintData(id) {

        $.ajax({
            type: 'GET',
            url: '/Auction/Dnd_Auction/PrintAuctionIssueNotice',
            data: { AuctionNoticeDtlId: id },
            dataType: 'JSON',
            success: function (data) {
                if (data.Status == 1) {
                    // $('#msgDiv').html('').removeClass('logErrMsg').addClass('logSuccMsg');
                    window.open(data.Message + "?_t=" + (new Date().getTime()), '_blank', 'fullscreen=yes,modal=yes')
                }
                else {
                    $('#msgDiv').html(data.Message).removeClass('logSuccMsg').addClass('logErrMsg');
                }
            }
        });
    }

    function LoadAuctionNoticeList() {
        $('#DivNoticeList').load('/Auction/Dnd_Auction/GetAuctionNoticeList?operationType=' + $("#hdnOperationType").val() + '&auctionType='+$('#txtAuctionType').val()+'');
    }

    var jsondata = [];
    function ReissueAuctionNotice(id)
    {
        $('#txtAuctionId').val(id);

        debugger;
        $.ajax({
            type: 'GET',
            url: '/Auction/Dnd_Auction/AuctionReissueNotice',
            data: { AuctionNoticeDtlId: id },
            dataType: 'JSON',
            success: function (data) {
                debugger;
                if (data.Status == 1) {
                     jsondata = data.Message;
                    $('#AuctionDetailsReissue').html(''); 
                    html_tbody = '';
                    if (jsondata[0].OperationType == 'Import' && jsondata[0].AuctionType=='CARGO') {

                        html_tbody +='<thead>';
                        html_tbody +='<tr>';
                        html_tbody +='<th colspan="1" style="text-align:left; width:3%;">S.No</th>';
                        html_tbody +='<th colspan="1" style="text-align:center; width:7%;">Party Name</th>';
                        html_tbody +='<th colspan="1" style="text-align:center; width:7%;">ICD Code</th>';
                        html_tbody +='<th colspan="1" style="text-align:center; width:7%;">OBL No</th>';
                        html_tbody +='<th colspan="1" style="text-align:center; width:7%;">OBL Date</th>';
                        html_tbody +='<th colspan="1" style="text-align:center; width:7%;">Commodity</th>';
                        html_tbody +='<th colspan="1" style="text-align:center; width:5%;">Godown</th>';
                        html_tbody +='<th colspan="1" style="text-align:center; width:7%;">WT</th>';
                        html_tbody +='<th colspan="1" style="text-align:center; width:4%;">CUM</th>';
                        html_tbody +='<th colspan="1" style="text-align:center; width:5%;">SQM</th>';
                        html_tbody +='<th colspan="1" style="text-align:center; width:7%;">CIF</th>';
                        html_tbody +='<th colspan="1" style="text-align:center; width:7%;">Duty</th>'
                        html_tbody +='<th colspan="1" style="text-align:center; width:4%;">Notice</th>';
                        html_tbody +='</tr>';
                        html_tbody +='</thead>';
                        html_tbody +='<tbody>';
                        for (var i = 0; i < jsondata.length; i++) {
                            var j = i + 1;
                            html_tbody += '<tr>';
                            html_tbody += '<td colspan="1" style="text-align:left; width:3%;">' + j + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + jsondata[i].PartyName + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + jsondata[i].CFSCode + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + jsondata[i].BLNo + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + jsondata[i].BLDate + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + jsondata[i].CommodityName + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:5%;">' + jsondata[i].GodownLocation + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + Number(jsondata[i].Weight).toFixed(3) + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:4%;">' + jsondata[i].CUM + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:5%;">' + jsondata[i].SQM + '</td>';
                            //html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].Fob + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + jsondata[i].CIF + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + jsondata[i].Duty + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;display:none;">' + jsondata[i].GodownID + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:4%;"><div class="boolean-container">';
                            html_tbody += '<input type="checkbox" checked id="chk_' + jsondata[i].SrNo + '" onchange="NoticeChecked(' + jsondata[i].SrNo + ')" /> <label for="chk_' + jsondata[i].SrNo + '" style="text-align:center;"><i class="square"></i></label>';
                            html_tbody += '</div></td>';
                            html_tbody += '</tr>';
                        }
                        html_tbody += '</tbody>';                        
                    }
                    else if (jsondata[0].OperationType == 'Export' && jsondata[0].AuctionType == 'CARGO') {

                        html_tbody += '<thead>';
                        html_tbody += '<tr>';
                        html_tbody += '<th colspan="1" style="text-align:left; width:3%;">S.No</th>';
                        html_tbody += '<th colspan="1" style="text-align:center; width:7%;">Party Name</th>';
                        html_tbody += '<th colspan="1" style="text-align:center; width:7%;">ICD Code</th>';
                        html_tbody += '<th colspan="1" style="text-align:center; width:7%;">Shipbill No</th>';
                        html_tbody += '<th colspan="1" style="text-align:center; width:7%;">Shipbill Date</th>';
                        html_tbody += '<th colspan="1" style="text-align:center; width:7%;">Commodity</th>';
                        html_tbody += '<th colspan="1" style="text-align:center; width:5%;">Godown</th>';
                        html_tbody += '<th colspan="1" style="text-align:center; width:7%;">WT</th>';
                        html_tbody += '<th colspan="1" style="text-align:center; width:4%;">CUM</th>';
                        html_tbody += '<th colspan="1" style="text-align:center; width:5%;">SQM</th>';                        ;
                        html_tbody += '<th colspan="1" style="text-align:center; width:4%;">Notice</th>';
                        html_tbody += '</tr>';
                        html_tbody += '</thead>';
                        html_tbody += '<tbody>';



                        for (var i = 0; i < jsondata.length; i++) {
                            var j = i + 1;
                            html_tbody += '<tr>';
                            html_tbody += '<td colspan="1" style="text-align:left; width:3%;">' + j + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + jsondata[i].PartyName + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + jsondata[i].CFSCode + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + jsondata[i].ShippingBillNo + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + jsondata[i].ShipBillDate + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + jsondata[i].CommodityName + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:5%;">' + jsondata[i].GodownLocation + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + Number(jsondata[i].Weight).toFixed(3) + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:4%;">' + jsondata[i].CUM + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:5%;">' + jsondata[i].SQM + '</td>';
                          //  html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + jsondata[i].Fob + '</td>';
                            //html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].CIF + '</td>';
                            //html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].Duty + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;display:none;">' + jsondata[i].GodownID + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:4%;"><div class="boolean-container">';
                            html_tbody += '<input type="checkbox" checked id="chk_' + jsondata[i].SrNo + '" onchange="NoticeChecked(' + jsondata[i].SrNo + ')" /> <label for="chk_' + jsondata[i].SrNo + '" style="text-align:center;"><i class="square"></i></label>';
                            html_tbody += '</div></td>';
                            html_tbody += '</tr>';
                        }
                        html_tbody += '</tbody>';
                       
                    }
                    else if (jsondata[0].AuctionType == 'CONTAINER') {

                        html_tbody += '<thead>';
                        html_tbody += '<tr>';
                        html_tbody += '<th colspan="1" style="text-align:left; width:3%;">S.No</th>';
                        html_tbody += '<th colspan="1" style="text-align:center; width:7%;">Party Name</th>';
                        html_tbody += '<th colspan="1" style="text-align:center; width:7%;">ICD Code</th>';
                        html_tbody += '<th colspan="1" style="text-align:center; width:7%;">Container No</th>';
                        html_tbody += '<th colspan="1" style="text-align:center; width:7%;">Container Date</th>';
                        html_tbody += '<th colspan="1" style="text-align:center; width:7%;">Commodity</th>';
                        html_tbody += '<th colspan="1" style="text-align:center; width:5%;">Godown</th>';
                        html_tbody += '<th colspan="1" style="text-align:center; width:7%;">WT</th>';
                        html_tbody += '<th colspan="1" style="text-align:center; width:4%;">CUM</th>';
                        html_tbody += '<th colspan="1" style="text-align:center; width:5%;">SQM</th>';;
                        html_tbody += '<th colspan="1" style="text-align:center; width:4%;">Notice</th>';
                        html_tbody += '</tr>';
                        html_tbody += '</thead>';
                        html_tbody += '<tbody>';



                        for (var i = 0; i < jsondata.length; i++) {
                            var j = i + 1;
                            html_tbody += '<tr>';
                            html_tbody += '<td colspan="1" style="text-align:left; width:3%;">' + j + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + jsondata[i].PartyName + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + jsondata[i].CFSCode + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + jsondata[i].ContainerNo + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + jsondata[i].EntryDate + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + jsondata[i].CommodityName + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:5%;">' + jsondata[i].GodownLocation + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + Number(jsondata[i].Weight).toFixed(3) + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:4%;">' + jsondata[i].CUM + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:5%;">' + jsondata[i].SQM + '</td>';
                            //  html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + jsondata[i].Fob + '</td>';
                            //html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].CIF + '</td>';
                            //html_tbody += '<td colspan="1" style="text-align:center; width:7%;">' + AuctionNoticeDetailsList[i].Duty + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:7%;display:none;">' + jsondata[i].GodownID + '</td>';
                            html_tbody += '<td colspan="1" style="text-align:center; width:4%;"><div class="boolean-container">';
                            html_tbody += '<input type="checkbox" checked id="chk_' + jsondata[i].SrNo + '" onchange="NoticeChecked(' + jsondata[i].SrNo + ')" /> <label for="chk_' + jsondata[i].SrNo + '" style="text-align:center;"><i class="square"></i></label>';
                            html_tbody += '</div></td>';
                            html_tbody += '</tr>';
                        }
                        html_tbody += '</tbody>';

                    }
                    $('#AuctionDetailsReissue').html(html_tbody);
                    $('#NoticeNoModal').modal('show');
                }
                else {
                   // $('#msgDiv').html(data.Message).removeClass('logSuccMsg').addClass('logErrMsg');
                }
            }
        });
        

    }

    function SaveReissueNotice()
    {
        var id = $('#txtAuctionId').val();
        var conf = confirm("Do you want to save ?");
        if (conf) {
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                type: 'POST',
                url: '/Auction/Dnd_Auction/SaveAuctionReissueNotice?operationType=' + $("#hdnOperationType").val() + '&auctionType=CARGO&AuctionDate=' + $('#txtReissueAuctionDate').val() + '&Auctionid=' + id + '',
                data: JSON.stringify(jsondata),
                dataType: 'JSON',
                success: function (data) {
                    if (data.Status == 1) {
                        $('#msgDivRe').html("Notice saved successfully.").removeClass('logErrMsg').addClass('logSuccMsg');
                        jsondata.length = 0;
                        //PopulateData($("#hdnOperationType").val(), 'CARGO');
                       
                    }
                    else {
                        $('#msgDivRe').html(data.Message).removeClass('logSuccMsg').addClass('logErrMsg');
                    }
                }
            });
        }


    }

    function GetAuctionNoticeDataByOBLNoShipBill(operationType)
    {
        $('#DivNoticeList').load('/Auction/Dnd_Auction/GetAuctionNoticeDataByOBLNoShipBill?operationType=' + $("#hdnOperationType").val() + '&auctionType=CARGO&AuctionNo=' + $('#txtSearchAuction').val() + '');
    }

    function dismissedModal()
    {
        $('#NoticeNoModal').modal('hide');
        setTimeout(Reset, 3000);
        LoadAuctionNoticeList();
    }


</script>
