<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>JSON Response Status</h4>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label for="VoucherNo">Interface Type:</label>
                        </div>
                        <div class="col-md-2-5 Error_Msg">
                            <select id="IntType">
                                <option value="-1"> -- Select --</option>
                                <option value="IRN">IRN</option>
                                <option value="Receipt">Receipt</option>
                            </select>
                        </div>
                        <div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-4">
                            <label for="PaymentDate">Status:</label>
                        </div>
                        <div class="col-md-2-5 col_cus_2_5 Date_Img Error_Msg">
                            <select id="Status">
                                <option value="All">All</option>
                                <option value="Success">Success</option>
                                <option value="Fail">Fail</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label for="Purpose">From:</label>
                        </div>
                        <div class="col-md-2 col_cus_2_5 Date_Img Error_Msg">
                            <input type="text" id="PeriodFrom" >
                        </div>
                        <div class="col-md-0-5 col_cus_2">
                            <label for="Purpose">To:</label>
                        </div>
                        <div class="col-md-2 col_cus_2_5 Date_Img Error_Msg">
                            <input type="text" id="PeriodTo">
                        </div>

                        @*<div class="col-md-1-5 col_cus_2 col_cus_offset_3 col-md-offset-2">
                            <label for="PaymentDate">Search by Particulars/Date:</label>
                        </div>
                        <div class="col-md-2-5 col_cus_2_5 Date_Img Error_Msg">
                            <input type="text" >
                        </div>*@
                    </div>
                </div>
                <div class="row">
                    <div class="stoke SignUp_space_top2 SignUp_space_bottom2">
                    </div>
                </div>
                <div class="row SignUp_space_bottom">
                    <div class="col-md-offset-4 col-md-2">
                        <button type="submit" class="btn log_Btn_sm" id="BtnCheck" onclick="ShowListData()">Proceed</button>
                    </div>
                    <div class="col-md-2">
                        <button id="" type="button" class="btn log_Btn_sm">Reset</button>
                    </div>
                    <div class="logSuccMsg Form_Space_bottom" id="DivDwnldWavMsg" style="background-color:transparent;"></div>

                </div>
                <div class="row Form_Space_top">
                    <div class="col-md-12 ClearFix SignUp_space_bottom">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ListStatus" id="ListStatus">
                           

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script>
    $(function () {

        $("#PeriodFrom").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
        $("#PeriodTo").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
        $("#ParticularsDate").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });

    });

</script>
<script>
    $(document).ready(function () {
        $('#PeriodFrom').datepicker('setDate', new Date());
        $('#PeriodTo').datepicker('setDate', new Date());
    });





    function ShowListData() {
        debugger;
        var IsValid = 0;
        $('#DivDwnldWavMsg').html('');
        var PeriodFrom = $("#PeriodFrom").val();
        var PeriodTo = $("#PeriodTo").val();
        var IntType = $("#IntType").val();
        var Status = $("#Status").val();


        var From = PeriodFrom;
        var To = PeriodTo;
        var SF = From.split('/');
        var ST = To.split('/');
        var FromDate = new Date(SF[2], (Number(SF[1]) - 1), SF[0]);
        var ToDate = new Date(ST[2], (Number(ST[1]) - 1), ST[0]);


        if (IntType == "-1") {
            alert("Please Select Inter Face Type");
            return false;
        }
        //CONDITION FOR ALL CONDITION IN MODULE SELECTION
        if (FromDate > ToDate) {
            IsValid = 1;
        }

        if (IsValid == 0) {
            $('#ListStatus').load('/Report/LNSM_ReportCWC/GetJsonResponseStatus?PeriodFrom=' + PeriodFrom + '&PeriodTo=' + PeriodTo + '&IntType=' + IntType + '&Status=' + Status);
        }
        else {
            $('#DivDwnldWavMsg').removeClass('logSuccMsg').addClass('logErrMsg').html('To Date must be greater than From Date');
        }

    }
</script>