@{
    AjaxOptions options = new AjaxOptions();
    options.Confirm = "Are You Sure You Want To Remove Credit Limit?";
    options.HttpMethod = "POST";
    options.OnSuccess = "CreditLimitOnSuccess";
    options.OnFailure = "CreditLimitOnFailure";
    options.InsertionMode = InsertionMode.InsertAfter;
   

}

<div class="container-fluid">
    <div class="col-md-offset-0-5 col-md-11">
        <div class="Head_h4">
            
@using (Ajax.BeginForm("RemoveCreditLimit", "DndEximTrader", options))
{
    @Html.AntiForgeryToken()
    <div id="DivRemoveCreditLimit">
        <div class="row">
            <div class="col-md-12">
                <h4>Remove Exim Trader Credit Limit</h4>
            </div>
        </div>
        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="row Form_Space_bottom">
                    <div class="col-md-offset-4 col-md-3">
                        <input type="submit" id="BtnRemove" class="btn log_Btn_sm" value="Remove Credit Limit" />
                    </div>
                </div>


            </div>
        </div>
        <div class="logErrMsg Form_Space_bottom" style="background-color:transparent" id="DivCreditLimitErrMsg"></div>
    </div>
}
  
            <div class="row">
                <div class="col-md-12">
                    <div id="DivEximFinanceList"></div>
                </div>
            </div>
            </div>
        </div>
    </div>
<script>

    $(document).ready(function () {
        GetEximFinanceControlList();
    });


    function CreditLimitOnSuccess(data) {
        if (data.Status == 1) {
            
            alert(data.Message);
            GetEximFinanceControlList();
        }
       
        else {
            $('#DivCreditLimitErrMsg').html(data.Message);
        }
    }

    function CreditLimitOnFailure()
    {}

    function GetEximFinanceControlList() {
        $('#DivEximFinanceList').load('/Master/DndEximTrader/GetEximTraderFncCreditLimitList');
    }

  
   
</script>

