<script>
    $(function () {
        CreateExpenseHead();
    });
    function CreateExpenseHead() {
        $('#DivExpenseHead').load('/ExpenseHead/CreateExpenseHead');
    }
    function CreateExpCodeWiseHSN() {
        $('#DivExpCodeWiseHSN').load('/ExpenseHead/CreateExpCodeWiseHSN');
    }
</script>
<div class="row">
    <div class="col-md-12">
        <div class="Head_h4">
            <div class="row SignUp_space_bottom">
                <div class="col-md-12">
                    <h4>Expense Head Master</h4>
                </div>
            </div>

            <div class="content_wrp">
                <div class="panel with-nav-tabs panel-primary cwc_panel border-0 box-shadow-none">
                    <div class="panel-heading cwc_panel_heading">
                        <ul class="nav nav-tabs" id="DivTabs">
                            <li class="active"><a href="#DivExpenseHead" onclick="CreateExpenseHead()" data-toggle="tab">Expense Head</a></li>
                            <li><a href="#DivExpCodeWiseHSN" onclick="CreateExpCodeWiseHSN()" data-toggle="tab">Expense Code Wise HSN</a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="DivExpenseHead"></div>
                            <div class="tab-pane fade" id="DivExpCodeWiseHSN"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>