@model CwcExim.Areas.Icegate.Models.IceGateResendData

@using (Ajax.BeginForm("ResendIceGateData", "Loni_Icegate", new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "PVSuccess",
    OnFailure = "PVFailure"
}))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 col-md-offset-0-5">
                <div class="container-fluid">
                    <div class="Head_h4">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Resend Ice Gate Data</h4>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 padding_rt">
                                    <label>Container/CBT No:</label>
                                </div>
                                <div class="col-md-3 col_cus_2_5">
                                    @Html.TextBoxFor(m => m.ContainerNo, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.ContainerNo, "", new { @class = "Error_Msg" })
                                </div>
                            </div>
                        </div>
                        <div class="row SignUp_space_top SignUp_space_bottom">
                            <div class="stoke"></div>
                        </div>
                        <div class="row SignUp_space_bottom">
                            <div class="col-md-offset-5 col-md-2">
                                <input type="submit" value="Resend" name="Command" class="btn log_Btn_sm" id="BtnResend" />
                            </div>
                        </div>
                        <div class="logErrMsg Form_Space_bottom" id="DivDwnldWavMsg" style="background-color:transparent;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@Scripts.Render("~/bundles/jqueryval")
<script>
    function PVSuccess(data) {
        debugger;
        $('#DivDwnldWavMsg').html('');
        if (data.Status == 1) {
            alert(data.Message)
            $('#ContainerNo').val('');
        }
        else $('#DivDwnldWavMsg').html('No Data');
    }
    function PVFailure() { }
</script>

