  @model CwcExim.Areas.Export.Models.Hdb_StuffingWorkOrder

<script>
    var TimeInSeconds;
    $(document).ready(function () {
        GetStuffingWorkOrder();
        GetStuffingWorkOrderList();
        TimeInSeconds = 5000;
    });

    function GetStuffingWorkOrder() {
        $('#divWorkOrder').load('/Export/Hdb_CWCExport/AddStuffingWorkOrder');
    }
    function GetStuffingWorkOrderList() {
        debugger;
        $('#divWorkOrderList').load('/Export/Hdb_CWCExport/GetStuffingWorkOrderList');
    }

</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div id="divWorkOrder"></div>

        </div>
    </div>
</div>

