@model CwcExim.Areas.Export.Models.Hdb_BTTCargoEntry

<script>
    var TimeInSeconds;
    $(document).ready(function () {
        GetBTTCargoEntry();
        GetBTTCargoEntryList();
        TimeInSeconds = 5000;
    });

    function GetBTTCargoEntry() {
        $('#divBTTCargoEntry').load( '/Export/Hdb_CWCExport/AddBTTCargo');
    }
    function GetBTTCargoEntryList() {
        debugger;
        $('#divBTTCargoEntryList').load( '/Export/Hdb_CWCExport/ListOfBTTCargo');
    }

</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div id="divBTTCargoEntry">

            </div>
        </div>
    </div>
</div>