<div class="container-fluid">
    <div style="width:90%;margin-left:auto;margin-right:auto;">
        <div class="row clearfix">
            <div class="panel with-nav-tabs panel-primary cwc_panel">
                <div class="panel-heading cwc_panel_heading">
                    <ul class="nav nav-tabs" id="DivTabs">
                        <li class="active" onclick="activeli(this);">@Ajax.ActionLink("Export Payment Sheet", "CreatePaymentSheetTab", "CWCExport", new { area = "Export" }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "tentativeRt" })</li>@*<a href="#tentativeRt" onclick="" data-toggle="tab">Yard Payment Sheet</a>*@
                        <li onclick="activeli(this);">@Ajax.ActionLink("BTT Payment Sheet", "CreateBTTPaymentSheetTab", "CWCExport", new { area = "Export" }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "tentativeRt" })</li>
                        <li onclick="activeli(this);">@Ajax.ActionLink("Loaded Container Payment Sheet", "CreateLoadedContainerPaymentSheetTab", "Kol_CWCExport", new { area = "Export" }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "tentativeRt" })</li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tentativeRt">
                            @Html.Action("CreatePaymentSheetTab", "CWCExport", new { area = "Export", type = "Tax" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function activeli(elem) {
        $("#DivTabs li").removeClass('active');
        $("#DivTabs li").removeClass('active');
        $(elem).addClass('active');
    }
</script>
