@model IEnumerable<CwcExim.Models.Announcement>

                    <ul id="demo" class="What_New">
                        @foreach (var item in Model)
                        {
                            <li>
                                <a href="">@item.Title</a>
                                <p> @item.Description </p>
                            </li>
                        }
                    </ul>
               
<script>
    $(function () {
        $('#demo').marquee({ direction: 'vertical', delay: 50, timing: 50 });
        //$('#marquee-horizontal').marquee({ direction: 'horizontal', delay: 30, timing: 400 });
    });
</script>