@model CwcExim.Models.Announcement
@{
    AjaxOptions objAjaxOpt = new AjaxOptions();
    objAjaxOpt.Confirm = "";
    objAjaxOpt.HttpMethod = "POST";
    objAjaxOpt.OnSuccess = "AnnounceLstOnSuccess";
    objAjaxOpt.OnFailure = "AnnounceLstOnFailure";
    objAjaxOpt.InsertionMode = InsertionMode.InsertAfter;
}
@using (Ajax.BeginForm("FilterAnnounce", "Announcement", objAjaxOpt))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.AnnounceId)
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row Con_Heading SignUp_space_bottom">
                    <div class="col-md-12">
                        <h4>Search Announcement</h4>
                        <div class="Heading_Stoke" style="width:24%;"></div>
                    </div>
                </div>
                    <div class="row Form_Space_top">
                                    <div class="Form_Input">
                                        <div class="col-md-1-5">
                                            <small><label>Search By:</label></small>
                                        </div>
                                        <div class="col-md-3">
                                            <select id="DDLSearchBy">
                                                <option value="0">Select</option>
                                                <option value="1">By Title</option>
                                                <option value="2">By Status</option>
                                            </select>
                                        </div>
                                        <div id="AnnounceTitle">
                                            <div class="col-md-1">
                                                <small><label>Title:</label></small>
                                            </div>
                                           <div class="col-md-3">
                                               @Html.TextBoxFor(m => m.Title)
                                           </div>
                                           <div class="col-md-2">
                                               <input type="button" class="btn Log_Btn" style="width:100%;" name="Command" value="Search" onclick="SearchAnnounceByTitle()" />
                                           </div>
                                        </div>
                                        <div id="DivStatus">
                                            <div class="col-md-3">
                                                <select id="DDLStatus">
                                                    <option value="1">Active</option>
                                                    <option value="2">InActive</option>\
                                                    <option value="3">On Portal</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2">
                                                <input type="button" class="btn Log_Btn" style="width:100%;padding:4px 12px;" value="Search" onclick="SearchAnnounceByStatus()" />
                                            </div>
                                        </div>
                                    </div>
                    </div>
                    <div style="background-color:transparent;" class="SignUp_space_bottom2 logSuccMsg">
                        <div id="DivAnnounceMsg"></div>
                    </div>
                    <div>
                        <div id="DivAnnounceList"></div>
                    </div>
            </div>
        </div>
    </div>

}
@Scripts.Render("~/bundles/jqueryval")

<script>

    $(document).ready(function () {
        debugger;
        $('#AnnounceTitle').hide();
        $('#DivStatus').hide();
    });

    $('#DDLSearchBy').change(function () {
        debugger;
        $('#DivAnnounceList').html("");
        var DDLValue = $('#DDLSearchBy option:selected').val();
        if(DDLValue==1)
        {
            $('#AnnounceTitle').show();
            $('#DivStatus').hide();
        }
        else if (DDLValue==2)
        {
            $('#DivStatus').show();
            $('#AnnounceTitle').hide();
        }
        else {
            $('#AnnounceTitle').hide();
            $('#DivStatus').hide();
            $('#DivAnnounceMsg').html("");
        }
    });

    function SearchAnnounceByTitle()
    {
        debugger;
        $('#DivAnnounceMsg').html("");
        var Title = $('#Title').val();
        if (Title != "") {
              $('#DivAnnounceList').load('/Announcement/FilterAnnounce?IsActive=' + false + '&IsPortal=' + falses + '&Title=' + Title);
            //$.ajax({
            //    type: "GET",
            //    url: '/Announcement/FilterAnnounce',
            //    data: { Title: Title, IsActive: false, IsPortal: false },
            //    dataType: "json",
            //    success: function (data) {
            //        debugger;
            //        if (data.Count > 0) {
            //            AnnounceList(data);
            //        }
            //        else {
            //            $('#DivAnnounceMsg').html("No Data");
            //        }

            //    }
            //});
        }
        else {
            $('#DivAnnounceMsg').html("Title Field cannot be left blank").addClass('logErrMsg');
        }
    }


 

    function SearchAnnounceByStatus() {
        $('#DivAnnounceMsg').html("");
        debugger;
        var DDLValue = $('#DDLStatus option:selected').val();
        var Title="";
        var IsActive = false;
        var IsPortal = false;
        if (DDLValue == 1) {
            IsActive = true;
        }
        else if (DDLValue == 2) {
            IsActive = false;
        }
        else {
            IsPortal = true;
        }
        $('#DivAnnounceList').load('/Announcement/FilterAnnounce?IsActive=' + IsActive + '&IsPortal=' + IsPortal + '&Title=' + Title);

        //$.ajax({
        //    type: 'GET',
        //    url: '/Announcement/FilterAnnounce',
        //    data: { IsActive: IsActive, IsPortal: IsPortal },
        //    dataType: "json",
        //    success: function (data) {
        //        debugger;
        //        if (data.Count > 0) {
        //            AnnounceList(data);
        //        }
        //        else {
        //            $('#DivAnnounceMsg').html("No Data");
        //        }
        //    },
        //    error: function () { }
        //});
    }




    //function AnnounceList(data)
    //{
    //    debugger;
    //    //var SerialNo = 1;
    //    //Html = "<table id='CusWaiverList' class='table table-striped table-bordered nowrap' cellspacing='0' width='100%'><thead><tr><th>Sl No.</th><th>Title</th><th>IsActive</th><th>Start Date</th><th>End Date</th><th>Action</th></tr></thead><tbody>";

    //    //$.each(data.List, function (i, data) {
    //    //    Html += "<tr><td>" + SerialNo++ + "</td><td>" + data.Title + "</td><td>" + data.IsActive + "</td><td>" + data.StartDate + "</td><td>" + data.EndDate + "</td>";
    //    //    Html += '<td style="text-align:center"><a href="#" data-toggle="tooltip" data-placement="left" title="Edit" onclick="EditAnnouncement(' + data.AnnounceId + ')"><i class="fa fa-pencil-square Edit" aria-hidden="true"></i></a></td></tr>'
    //    //});
    //    //Html+="</tbody></table>";
    //    //$('#DivAnnounceList').html(Html);
        
    //}

  



</script>



