@using Microsoft.AspNet.Identity
@{
    var RoleId = 0;
}

@if (Session["LoginUser"] != null)
{
    RoleId = ((CwcExim.Models.Login)Session["LoginUser"]).Role.RoleId;

    var LoginUser = ((CwcExim.Models.Login)Session["LoginUser"]).Name;

    using (Html.BeginForm("LogOff", "User", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul id="CP" class="nav navbar-nav hidden-xs pull-right navbar-log">
                <li id="dropdown" class="dropdown">
                    <div  class="dropdown-toggle mt10">
                        <div class="welcomeUser"><span>Welcome</span> <br /> @LoginUser </div> 
                        <div class="userAlpha">S</div>
                        <a href="#" class="downArrow" id="OnclickFunction"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    
                    <ul class="dropdown-menu dropdown-menu-right User_Log_Details">
                        @if (RoleId == 3)
                        {
                            <li class="CP"><a href="#" id="AnchrEdit" onclick="EditProfile()">Edit Profile</a></li>
                            <li class="CP"><a href="#" onclick="ChangePassword()">Change Password</a></li>
                            <li class="CP"><a href="javascript:document.getElementById('logoutForm').submit()">Log off<i style="margin-left:80px;" class="glyphicon glyphicon-log-out"></i></a></li>
                        }
                        else
                        {
                            @*<li><a href="#" id="AnchrEdit" onclick="EditProfile()">Edit Profile</a></li>*@
                            <li class="CP"><a href="#" onclick="ChangePassword()">Change Password</a></li>
                            <li class="CP"><a href="javascript:document.getElementById('logoutForm').submit()">Log off<i style="margin-left:80px;" class="glyphicon glyphicon-log-out"></i></a></li>
                        }

                    </ul>
                </li>
            </ul>

        @*<ul id="CP" class="nav navbar-nav navbar-right nav-effect">
                <li id="dropdown" class="dropdown">
                    <a href="#" class="dropdown-toggle" id="OnclickFunction">@LoginUser<i class="glyphicon glyphicon-chevron-down User_Ancor"></i></a>
                    <ul  class="dropdown-menu dropdown-menu-right User_Log_Details">
                        @if (RoleId == 3)
                        {
                            <li class="CP"><a href="#" id="AnchrEdit" onclick="EditProfile()">Edit Profile</a></li>
                            <li class="CP"><a href="#" onclick="ChangePassword()">Change Password</a></li>
                            <li class="CP"><a href="javascript:document.getElementById('logoutForm').submit()">Log off<i style="margin-left:95px;" class="glyphicon glyphicon-log-out"></i></a></li>
                        }
                        else
                        {
                            <li class="CP"><a href="#" onclick="ChangePassword()">Change Password</a></li>
                            <li class="CP"><a href="javascript:document.getElementById('logoutForm').submit()">Log off<i style="margin-left:95px;" class="glyphicon glyphicon-log-out"></i></a></li>
                        }

                    </ul>
                </li>
            </ul>*@
    }
}
else
{
    <ul class="nav navbar-nav hidden-xs pull-right navbar-log">

        <li><a style="border:1px solid #fe9b35;border-radius:3px;" href="#" onclick="LoadLoginPage()">Login</a></li>
    </ul>
}


<script type="text/javascript">
    function LoadLoginPage() {
        var SubDomain='@System.Configuration.ConfigurationManager.AppSettings["SubDomain"]';
        $('#DivLoginModal').show();
        $('#DivLogIn').load('/User/Login');
        // =BranchId
    }
    $(function(){
        $('#OnclickFunction').click(function(){
            if($('#dropdown').hasClass('open')){
                $('#dropdown').removeClass('open');
            }
            else{
                $('#dropdown').addClass('open');
            }
        });

        $('#CP').mouseleave(function(){
            if($('#dropdown').hasClass('open')){
                $('#dropdown').removeClass('open');
            }
        });

    });


    @*function EditProfile()
    {
        if(@RoleId==3)
        {
            $('#DivModule').load('/User/EditProfile');
        }

    }*@

    //load Edit profile modal
    function EditProfile()
    {
        if(@RoleId==3)
        {
            $('#DivEditProfile').load('/User/EditProfile');
            $('#DivEditProfileModal').show();
        }

    }



</script>