@model CwcExim.Areas.CashManagement.Models.OnlinePaymentReceipt


<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Transaction Status Enquiry CCAvenu</h4>
                    </div>
                </div>
                <div class="Form_Space_top" style="padding:5px;">
                    <div class="row">
                        <div class="form-group Form_Input">
                            <div class="col-md-2 col_cus_2 padding_rt">
                                <label>From Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @Html.TextBoxFor(m => m.PeriodFrom, new { @class = "form-control", @id = "PeriodFrom", placeholder = "dd/mm/yyyy", @readonly = true })
                                @Html.ValidationMessageFor(m => m.PeriodFrom, "", new { @class = "Error_Msg" })
                            </div>
                            <div class="col-md-2 col_cus_2 padding_rt">
                                <label>To Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @Html.TextBoxFor(m => m.PeriodTo, new { @class = "form-control", @id = "PeriodTo", placeholder = "dd/mm/yyyy", @readonly = true })
                                @Html.ValidationMessageFor(m => m.PeriodTo, "", new { @class = "Error_Msg" })
                            </div>
                            @*<div class="col-md-offset-4 col-md-2">
                                    <input type="button" id="btnProceedAck" value="Proceed" onclick="ProceedAck()" class="btn log_Btn_sm" />
                                </div>*@
                        </div>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="col-md-offset-3 col-md-2">
                        <input type="button" id="btnProceedAck" value="Proceed" onclick="ProceedAck()" class="btn log_Btn_sm" />
                    </div>
                    <div class="col-md-2">
                        <input type="button" id="btnResetAck" value="Reset" onclick="ResetAck()" class="btn log_Btn_sm" />
                    </div>
                </div>

                <div class="logSuccMsg Form_Space_bottom" id="DivDwnldWavMsg" style="background-color:transparent;"></div>

                <div class="row">
                    <div class="stoke SignUp_space_top2 SignUp_space_bottom2">
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div id="DivOPPaymentDetails" class="col-md-12 ClearFix SignUp_space_bottom">
                    </div>
                </div>
            </div>


            <div class="row Form_Space_top">
                <div class="form-group Form_Input">
                    <div class="col-md-12">
                        <div id="divOnlineReceiptList"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {

        $("#PeriodFrom").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
        $("#PeriodTo").datepicker({
            dateFormat: "dd/mm/yy",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
    });

    function Validate()
    {
        //debugger;
        var From = $('#PeriodFrom').val();
        var To = $('#PeriodTo').val();
        if (From != "" && To != "") {
            $('#DivDwnldWavMsg').html('');
            var From = $('#PeriodFrom').val();
            var To = $('#PeriodTo').val();
            var SF = From.split('/');
            var ST = To.split('/');
            var FromDate = new Date(SF[2], (Number(SF[1]) - 1), SF[0]);
            var ToDate = new Date(ST[2], (Number(ST[1]) - 1), ST[0]);
            if (FromDate > ToDate) {
                $('#DivDwnldWavMsg').removeClass('logSuccMsg').addClass('logErrMsg').html('To Date must be greater than From Date');
                return false;
            }
            return true;
        }
        else
        {
            return true;
        }
    }
    function ProceedAck() {
       // debugger;
        if (Validate())
        {
            var From = $('#PeriodFrom').val();
            var To = $('#PeriodTo').val();
           // if (From != "" && To != "") {
            $('#DivOPPaymentDetails').load('/CashManagement/VLDA_CashManagement/AcknowledgementViewList?PeriodFrom=' + From + '&PeriodTo=' + To);
         //  // }
          //  else {
            //    $('#DivDwnldWavMsg').removeClass('logSuccMsg').addClass('logErrMsg').html('Date range should not blank');
            //    return false;
           // }
        }

    }
    function ShowList() {
        //debugger;
        var SearchValue = "";
        $('#divOnlineReceiptList').load('/CashManagement/VLDA_CashManagement/OnlinePaymentReceiptList?SearchValue=' + SearchValue);
    }

    function SearchReceipt() {
        var SearchValue = $('#SearchValue').val().trim();
        if (SearchValue != "") {
            $('#divOnlineReceiptList').load('/CashManagement/VLDA_CashManagement/OnlinePaymentReceiptList?SearchValue=' + SearchValue);
        }
    }

    function ResetAck()
    {
        $('#DivBody').load('/CashManagement/VLDA_CashManagement/AcknowledgementView');
    }
</script>
