<script type="text/javascript" src="~/Areas/Import/Scripts/App/Controllers/LNSM_TrnSumryLONISAMOCtrl.js"></script>
<script type="text/javascript" src="~/Areas/Import/Scripts/App/Services/LNSM_TrnSumryLONISAMOSrvc.js"></script>
<script type="text/javascript" src="~/Scripts/ng-file-upload12.2.3.min.js"></script>
<script type="text/javascript" src="/scripts/jquery.nicescroll.min.js"></script>
<script>
    angular.bootstrap(document.getElementById('DivTrnSumryTKD'), ['CWCApp']);
    $(function () {
        $('#slim_scroll').slimScroll({
            allowPageScroll: true
        });
    });
</script>
<style>
    .ang_srch {
        top: 3%;
        right: 7px;
        height: 19px;
        padding: 0 4px;
        display: block;
        background: #ebebe4;
        position: absolute;
        cursor: pointer;
    }

    .table.dataTable {
        text-align: center;
    }

        .table.dataTable thead tr th {
            text-align: center;
        }

    #tbleParty.dataTable tbody > tr > td {
        cursor: pointer;
        text-align: left;
    }

    .slimScrollDiv {
        height: 300px;
    }

    .table.tblhd {
        border-bottom: 0;
    }
</style>

<div id="DivTrnSumryTKD" class="container-fluid" ng-controller="TrainSummaryLONICtrl">
    <div class="row">
        <div class="col-md-11 col-md-offset-0-5">
            <div class="container-fluid">
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Train Summary Upload</h4>
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 padding_rt">
                                <label>Train No:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5">
                                <input type="text" ng-model="TrainNo" id="TrainNo" ng-readonly="IsUploaded ==1" />
                            </div>
                            <div class="col-md-1-5 col-md-offset-1">
                                <label>Train Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @*<input type="text" ng-model="TrainDate" id="TrainDate" readonly="readonly" />*@
                                <input type="text" value="@DateTime.Now.ToString("dd/MM/yyyy HH:mm")" readonly id="txtDate" />
                            </div>                            
                        </div>
                    </div>
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 padding_rt">
                                <label>Select File:</label>
                            </div>
                            <div class="col-md-6">
                                <input type="file" ng-model="file" ng-disabled="IsUploaded ==1" ngf-select="UploadFiles($files)" class="form-control" />
                            </div>
                            <div class="col-md-2" style="padding-left: 0;">
                                <input style="margin: 4px 0 0;" type="button" value="Upload" ng-disabled="IsUploaded ==1" ng-click="UploadFinal()" class="btn log_Btn_sm" />
                            </div>
                            <div class="col-md-2" style="padding-left: 0;">
                                <input style="margin: 4px 0 0;" type="button" id="btnSave" value="Save" ng-click="SaveTrainSummary()" class="btn log_Btn_sm" />
                            </div>

                        </div>
                    </div>                    
                    <br /><div class="logSuccMsg Form_Space_bottom" ng-model="Message" style="background-color:transparent;"></div><br />
                    <div id="divTrainSummaryUpload" class="row Form_Space_top Form_Space_bottom">
                        <div class="col-md-12">
                            <table id="tblTrainSummaryUpload" ng-hide="TrainSummaryList.length==0" class="table table-bordered table-striped dataTable">
                                <thead>
                                    <tr>
                                        <th rowspan='2' style="width:3%;" class="text-center">Sl No</th>
                                        <th rowspan='2' style="width:5%; text-align:center; border-bottom-width: 1px;">Train No.</th>
                                        <th rowspan='2' style="width:5%; text-align:center; border-bottom-width: 1px;">Train Date</th>

                                        <th rowspan='2' style="width:5%; text-align:center; border-bottom-width: 1px;">Normal / Hub and Spoke</th>
                                        <th rowspan='2' style="width:7%; text-align:center; border-bottom-width: 1px;">Wagon No.</th>
                                        <th rowspan='2' style="width:5%; text-align:left;">Stack</th>
                                        <th rowspan='2' style="width:5%">Container No</th>
                                        <th rowspan='2' style="width:5%">(L/E)</th>
                                        <th rowspan='2' style="width:7%">Size</th>
                                        <th rowspan='2' style="width:5%">Cargo</th>
                                        <th rowspan='2' style="width:5%">Cargo Wt. (ton)</th>
                                        <th rowspan='2' style="width:5%">Tare Wt. (ton)</th>
                                        <th rowspan='2' style="width:5%">Total Wt. (ton)</th>
                                        <th rowspan='2' style="width:7%">Exim /Domestic</th>
                                        <th rowspan='2' style="width:7%">Start Location</th>
                                        <th rowspan='2' style="width:7%">Destination</th>
                                        <th rowspan='2' style="width:15%">Remarks</th>
                                    </tr>                                   
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in TrainSummaryList">
                                        <td>{{$index+1}}</td>                                        
                                        <td>{{data.TrainNo}}</td>
                                        <td>{{data.TrainDate}}</td>
                                        <td>{{data.NormalHub}}</td>
                                        <td>{{data.Wagon_No}}</td>
                                        <td>{{data.Stack}}</td>
                                        <td>{{data.Container_No}}</td>
                                        <td>{{data.LE}}</td>
                                        <td>{{data.CT_Size}}</td>
                                        <td>{{data.Cargo}}</td>
                                        <td>{{data.Cargo_Wt}}</td>
                                        <td>{{data.Ct_Tare}}</td>
                                        <td>{{data.Total_Wt}}</td>
                                        <td>{{data.Exim}}</td>
                                        <td>{{data.StartLocation}}</td>
                                        <td>{{data.Destination}}</td>
                                        <td>{{data.Remarks}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row SignUp_space_top SignUp_space_bottom">
                        <div class="stoke"></div>
                    </div>
                    <div class="row SignUp_space_bottom">
                        <div class="col-md-offset-1-5 col-md-2">
                            <input type="button" value="Reset" onclick="$('#DivBody').load('/Import/LNSM_CWCImport/TrainSummaryUploadLONISAMO')" class="btn log_Btn_sm" />
                        </div>                        
                        <div class="col-md-2">
                            <input type="button" value="ShowList" onclick="$('#divTrainSummaryUploadList').load('/Import/LNSM_CWCImport/ListOfTrainSummaryLONISAMO')" class="btn log_Btn_sm" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="divTrainSummaryUploadList"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>

<script>
    $(function () {
        $("#TrainNo").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number or character
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105) && (e.keyCode < 65 || e.keyCode > 90)) {
                e.preventDefault();
            }
        });

        $('#txtDate').datetimepicker({
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            dateFormat: "dd/mm/yy",
            timeFormat: 'HH:mm',
            altField: "#slider_example_4andHalf_alt",
            altFieldTimeOnly: false,
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
                $('[data-valmsg-for="Data"]').html('<span></span>');
            }
        });
        //GetPortList();
        //ListOfTrainSummary();
    });
    function debounce(func, wait, immediate) {
        var timeout;
        return function () {
            var context = this, args = arguments;
            var later = function () {
                timeout = null;
                if (!immediate) func.apply(context, args);
            };
            var callNow = immediate && !timeout;
            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
            if (callNow) func.apply(context, args);
        };
    };
</script>