<style>
    input[type="checkbox"] {
        top: 0px;
    }

    input[type="radio"] {
        top: 5px;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <form action="/Country/AddEditCountryDetail" data-ajax="true" data-ajax-confirm="Are You Sure You Want To Save?" data-ajax-failure="CountryOnFailure" data-ajax-method="POST" data-ajax-success="CountryOnSuccess" id="form0" method="post" novalidate="novalidate">
                    <input name="__RequestVerificationToken" type="hidden" value="AQnzoApX6MCrVqsF4cMEsGMF62dGHSddBecX7ctC2VNfDW08n-w7Ex9vprc-Vchz5JMr_5iV8YK7Yp0Rm79nIlvzm32u5FX4ao6MdelHwI41">                            <div class="row SignUp_space_bottom">
                        <div class="col-md-12">
                            <h4>Student Form</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 col_cus_2">
                                <label class="InputLabel" for="CountryName">Name:</label>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <input class="form-control input-sm" type="text" value="">
                            </div>
                            <div class="col-md-1-5 col_cus_2">
                                <label class="InputLabel" for="CountryName">Sector:</label>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <input class="form-control input-sm" type="text" value="">
                            </div>
                            <div class="col-md-1 col_cus_2">
                                <label for="CountryAlias">Gender:</label>
                            </div>
                            <div class="col-md-2">
                                <label class="radio-inline"><input type="radio" name="optradio">Male</label>
                                <label class="radio-inline"><input type="radio" name="optradio">Female</label>
                            </div>                            
                        </div>
                    </div>

                    <div class="Head_h5" style="margin-top: 20px;">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Details</h5>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <div class="col-md-1 col_cus_2">
                                    <label for="CountryAlias">Group:</label>
                                </div>
                                <div class="col-md-3-5">
                                    <label class="checkbox-inline"><input type="checkbox" value="">Science</label>
                                    <label class="checkbox-inline"><input type="checkbox" value="">Arts</label>
                                    <label class="checkbox-inline"><input type="checkbox" value="">Business</label>
                                </div>
                                <div class="col-md-1 col_cus_2">
                                    <label class="InputLabel" for="CountryName">Subject:</label>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <select class="form-control" id="">
                                        <option>Life Science</option>
                                        <option>Math</option>
                                        <option>History</option>
                                        <option>Geography</option>
                                    </select>
                                </div>
                                <div class="col-md-1 col_cus_2">
                                    <label class="InputLabel" for="CountryName">Marks(%):</label>
                                </div>
                                <div class="col-md-2-5 col-sm-3">
                                    <input class="form-control input-sm" type="text" value="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="stoke SignUp_space_bottom SignUp_space_top"></div>
                        </div>
                        <div class="row SignUp_space_bottom">
                            <div class="col-md-offset-5 col-md-1-5" style="text-align:center">
                                <input type="submit" id="BtnCountrySave" value="Ok" class="btn log_Btn_sm">
                            </div>
                        </div>
                    </div>

                    
                    <div class="row SignUp_space_bottom SignUp_space_top2">
                        <div class="col-md-offset-3-5 col-md-2" style="text-align:center">
                            <input type="submit" id="BtnCountrySave" value="Save" class="btn log_Btn_sm">
                        </div>
                        <div class="col-md-2">
                            <input type="button" id="BtnCountryReset" value="Reset" class="btn log_Btn_sm">
                        </div>
                    </div>
                    <div class="logSuccMsg SignUp_space_bottom2" style="background-color:transparent">
                        <div id="DivCountryMsg"></div>
                    </div>
                </form>

                @*<div class="row">
                    <div class="col-md-12 SignUp_space_bottom">

                        <table id="" class="table table-striped table-bordered nowrap dataTable no-footer" cellspacing="0" width="100%" role="grid" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Gender</th>
                                    <th>Subject</th>
                                    <th>Group</th>
                                    <th style="text-align:center">View</th>
                                    <th style="text-align:center">Edit</th>
                                    <th style="text-align:center">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>xxxx</td>
                                    <td>xxxx</td>
                                    <td>xxxx</td>
                                    <td>xxxx</td>
                                    <td style="text-align:center"><a href="#"><i class="fa fa-search-plus Edit" aria-hidden="true"></i></a></td>
                                    <td style="text-align:center"><a href="#"><i class="fa fa-pencil-square Edit" aria-hidden="true"></i></a></td>
                                    <td style="text-align:center"><a href="#"><i class="fa fa-window-close-o Delete" aria-hidden="true"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</div>

