
@{
    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.OnFailure = "RptMonthlyReportOnFailure";
    options.OnSuccess = "RptMonthlyReportDetails";
    options.InsertionMode = InsertionMode.InsertAfter;
}
<script src="~/Scripts/Extended.Jquery.Plugins.js"></script>

@using (Ajax.BeginForm("SaveMonthlyReportDetails", "Hdb_ReportCWC", options))
{
    <input type="hidden" id="BranchType" value="@ViewBag.BranchType" />
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div style="width:90%;margin-left:auto;margin-right:auto;">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>@ViewBag.BranchType Economy Report</h4>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="Form_Input">
                        <div class="col-md-1">
                            <label>Month:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.DropDownList("MonthNo", new List<SelectListItem> {
                           new SelectListItem { Text="Jan",Value="1"},
                           new SelectListItem { Text="Feb",Value="2"},
                           new SelectListItem { Text="Mar",Value="3"},
                           new SelectListItem { Text="Apr",Value="4"},
                           new SelectListItem { Text="May",Value="5"},
                           new SelectListItem { Text="Jun",Value="6"},
                           new SelectListItem { Text="Jul",Value="7"},
                           new SelectListItem { Text="Aug",Value="8"},
                           new SelectListItem { Text="Sep",Value="9"},
                           new SelectListItem { Text="Oct",Value="10"},
                           new SelectListItem { Text="Nov",Value="11"},
                           new SelectListItem { Text="Dec",Value="12"},

                        })
                        </div>
                        <div class="col-md-offset-1 col-md-1">
                            <label>Year:</label>
                        </div>
                        <div class="col-md-2-5">
                            <select id="YearNo" name="YearNo"></select>
                            <input type="hidden" id="HdnYear" />
                        </div>
                        <div class="col-md-offset-1 col-md-2">
                            <input type="button" value="Go" class="btn log_Btn_sm" onclick="PopulateData()" id="btnGo" />
                        </div>
                    </div>
                </div>
                <div class="row SignUp_space_bottom2 SignUp_space_top2">
                    <div class="stoke"></div>
                </div>
                <div class="row clearfix">
                    <div class="panel with-nav-tabs panel-primary cwc_panel SignUp_space_bottom2" style="border:none;">
                        <div class="panel-heading cwc_panel_heading">
                            <ul class="nav nav-tabs" id="DivTabs">
                                <li class="active"><a href="#IncomeTab" data-toggle="tab">Income</a></li>
                                <li><a href="#ExpensesTab" data-toggle="tab">Expense</a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="IncomeTab">
                                    <table class="table table-bordered table-responsive dataTable Income_exp">
                                        <thead>
                                            <tr>
                                                <th rowspan="2" style="width:85%;" class="text-center">Head of Income</th>
                                                <th class="text-center" style="width:15%;">Amount</th>
                                                @*<th class="text-center" style="width:15%;">Cumulative Since 1st April</th>
                                                    <th class="text-center" style="width:15%;">Prorata Cumulative of BE/RE</th>*@
                                            </tr>
                                            <tr>
                                                <th class="text-center">Rs.</th>
                                                @*<th class="text-center">Rs.</th>
                                                    <th class="text-center">Rs.</th>*@
                                            </tr>
                                        </thead>
                                        <tbody id="tbody_Income"></tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="ExpensesTab">
                                    <div class="panel with-nav-tabs panel-primary cwc_panel">
                                        <div class="panel-heading cwc_panel_heading">
                                            <ul class="nav nav-tabs" id="DivTabs">
                                                <li class="active"><a href="#Establishment" data-toggle="tab">Establishment</a></li>
                                                <li><a href="#Rent" data-toggle="tab">Others</a></li>
                                                @*<li><a href="#Print" data-toggle="tab">Print &amp; Stationery</a></li>*@
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="tab-content">
                                            <div class="tab-pane fade in active" id="Establishment">
                                                <table class="table table-bordered table-responsive dataTable Income_exp">
                                                    <thead>
                                                        <tr>
                                                            <th rowspan="2" style="width:75%;" class="text-center">Head of Expenses</th>
                                                            <th rowspan="2" class="text-center" style="width:10%;">No of Post</th>
                                                            <th class="text-center" style="width:15%;">Amount</th>
                                                        </tr>
                                                        <tr>
                                                            <th class="text-center">Rs.</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbody_EstablishmentHead"></tbody>
                                                </table>
                                            </div>
                                            <div class="tab-pane fade" id="Rent">
                                                <table class="table table-bordered table-responsive dataTable Income_exp">
                                                    <thead>
                                                        <tr>
                                                            <th rowspan="2" class="text-center" style="width:5%;">Code</th>
                                                            <th rowspan="2" style="width:80%;" class="text-center">Head of Expenses</th>
                                                            <th class="text-center" style="width:15%;">Amount</th>
                                                        </tr>
                                                        <tr>
                                                            <th class="text-center">Rs.</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbody_Rent"></tbody>
                                                </table>
                                            </div>
                                            @*<div class="tab-pane fade" id="Print">
                                                    <table class="table table-bordered table-responsive dataTable Income_exp">
                                                        <thead>
                                                            <tr>
                                                                <th rowspan="2" class="text-center" style="width:5%;">Code</th>
                                                                <th rowspan="2" style="width:80%;" class="text-center">Head of Expenses</th>
                                                                <th class="text-center" style="width:15%;">Amount</th>
                                                            </tr>
                                                            <tr>
                                                                <th class="text-center">Rs.</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tbody_Print"></tbody>
                                                    </table>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row SignUp_space_bottom SignUp_space_top">
                            <div class="col-md-12">
                                <div class="stoke"></div>
                            </div>
                        </div>
                        <div class="logSuccMsg Form_Space_bottom" id="msgDiv" style="background-color:transparent"></div>
                        <div class="row" style="padding-bottom:15px;">
                            <div class="col-md-offset-4-5 col-md-3">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <input type="submit" style="display:none;width:40%;float:left;margin:0% 5%;" value="Save" class="btn log_Btn_sm" id="btnSave" />
                                        <input type="button" style="width:40%;float:left;" value="Print" onclick="PrintData();" class="btn log_Btn_sm" id="btnPrint" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    function activeli(elem) {
        $("#DivTabs li").removeClass('active');
        $("#DivTabs li").removeClass('active');
        $(elem).addClass('active');
    }
    $(function () {
        $('#MonthNo').val(new Date().getMonth() + 1);
        $('#YearNo').dynamicYear({ onChangeCallback: fillvalue });
    });
    function fillvalue(element) {
    }

    function PopulateData() {

        var monthNo = $('#MonthNo').val();
        var yearNo = $('#YearNo').val();

        $.ajax({
            type: 'GET',
            url: '/Report/Hdb_ReportCWC/PopulateDataForMonthlyReport',
            data: { monthNo: monthNo, yearNo: yearNo },
            dataType: 'JSON',
            success: function (data) {

                if (data.Data != null && data.Data.length > 0) {
                    $('#tbody_Income').html(data.Data[0]);
                    $('#tbody_EstablishmentHead').html(data.Data[1]);
                    $('#tbody_Rent').html(data.Data[2]);
                    // $('#tbody_Print').html(data.Data[3]);
                    func_14();
                    func_25();
                    func_34();
                    func_45();
                    func_59();
                    func_118();
                    func_147();

                    $('.Numeric').ForceNumeric();
                }

                if (data.Status == 0) {
                    $('#msgDiv').html('').removeClass('logErrMsg').addClass('logSuccMsg');;
                    $('#btnSave').css('display', 'block');
                    $('#btnPrint').css('margin', '0% 5%');
                }
                else {
                    $('#msgDiv').html('You cannot save data for this month. Next month data is already exists.').removeClass('logSuccMsg').addClass('logErrMsg');
                    $('#btnSave').css('display', 'none');
                    $('#btnPrint').css('margin', '0% 0% 0% 30%');
                }
            }
        });
    }

    function RptMonthlyReportOnFailure() {
    }
    function RptMonthlyReportDetails(data) {

        if (data.Status == 1) {
            $('#msgDiv').html('Data Saved Successfully.').removeClass('logErrMsg').addClass('logSuccMsg');
        }
        else {
            $('#msgDiv').html("No Data Found.").removeClass('logSuccMsg').addClass('logErrMsg');
        }

    }

    function PrintData() {

        var monthNo = $('#MonthNo').val();
        var yearNo = $('#YearNo').val();

        $.ajax({
            type: 'GET',
            url: '/Report/Hdb_ReportCWC/PrintDataForMonthlyReport',
            data: { monthNo: monthNo, yearNo: yearNo },
            dataType: 'JSON',
            success: function (data) {
                if (data.Status == 1) {
                    // $('#msgDiv').html('').removeClass('logErrMsg').addClass('logSuccMsg');
                    window.open(data.Message + "?_t=" + (new Date().getTime()), '_blank', 'fullscreen=yes,modal=yes')
                }
                else {
                    $('#msgDiv').html(data.Message).removeClass('logSuccMsg').addClass('logErrMsg');
                }
            }
        });
    }

</script>

<script>

    function func_14() {
        var txt_6 = parseFloat($('#txt_6').val());
        var txt_7 = parseFloat($('#txt_7').val());
        var txt_9 = parseFloat($('#txt_9').val());
        var txt_10 = parseFloat($('#txt_10').val());
        var txt_12 = parseFloat($('#txt_12').val());
        var txt_13 = parseFloat($('#txt_13').val());
        var res = parseFloat(txt_6 + txt_7 + txt_9 + txt_10 - txt_12 - txt_13).toFixed(2);
        $('#txt_14').val(res);
    }

    function func_25() {
        var txt_17 = parseFloat($('#txt_17').val());
        var txt_20 = parseFloat($('#txt_20').val());
        var txt_23 = parseFloat($('#txt_23').val());
        var res1 = parseFloat(txt_17 + txt_20 - txt_23).toFixed(2);
        $('#txt_26').val(res1);

        var txt_18 = parseFloat($('#txt_18').val());
        var txt_21 = parseFloat($('#txt_21').val());
        var txt_24 = parseFloat($('#txt_24').val());
        var res2 = parseFloat(txt_18 + txt_21 - txt_24).toFixed(2);
        $('#txt_27').val(res2);
    }

    function func_34() {
        var txt_30 = parseFloat($('#txt_30').val());
        var txt_31 = parseFloat($('#txt_31').val());
        var txt_32 = parseFloat($('#txt_32').val());
        var txt_33 = parseFloat($('#txt_33').val());
        var res = parseFloat(txt_30 + txt_31 + txt_32 - txt_33).toFixed(2);
        $('#txt_34').val(res);
    }

    function func_45() {
        var txt_36 = parseFloat($('#txt_36').val());
        var txt_39 = parseFloat($('#txt_39').val());
        var txt_42 = parseFloat($('#txt_42').val());
        var res = parseFloat(txt_36 + txt_39 - txt_42).toFixed(2);
        $('#txt_45').val(res);
    }

    function func_59() {
        var txt_54 = parseFloat($('#txt_54').val());
        var txt_55 = parseFloat($('#txt_55').val());
        var txt_56 = parseFloat($('#txt_56').val());
        var res = parseFloat(txt_54 + txt_55 - txt_56).toFixed(2);
        $('#txt_59').val(res);
    }

    function func_118() {
        var txt_115 = parseFloat($('#txt_115').val());
        var txt_116 = parseFloat($('#txt_116').val());
        var txt_117 = parseFloat($('#txt_117').val());
        var res = parseFloat(txt_115 + txt_116 - txt_117).toFixed(2);
        $('#txt_118').val(res);
    }

    function func_147() {

        //Calculation Total No. of Posts
        var txtNoPost_123 = parseInt($('#txtNoPost_123').val());
        var txtNoPost_124 = parseInt($('#txtNoPost_124').val());
        var txtNoPost_125 = parseInt($('#txtNoPost_125').val());
        var txtNoPost_127 = parseInt($('#txtNoPost_127').val());
        var txtNoPost_128 = parseInt($('#txtNoPost_128').val());
        var txtNoPost_129 = parseInt($('#txtNoPost_129').val());
        var txtNoPost_130 = parseInt($('#txtNoPost_130').val());
        var txtNoPost_132 = parseInt($('#txtNoPost_132').val());
        var txtNoPost_133 = parseInt($('#txtNoPost_133').val());
        var txtNoPost_134 = parseInt($('#txtNoPost_134').val());
        var txtNoPost_135 = parseInt($('#txtNoPost_135').val());
        var txtNoPost_137 = parseInt($('#txtNoPost_137').val());
        var txtNoPost_138 = parseInt($('#txtNoPost_138').val());
        var txtNoPost_139 = parseInt($('#txtNoPost_139').val());

        var totalNoPost = parseInt(txtNoPost_123 +
                                    txtNoPost_124 +
                                    txtNoPost_125 +
                                    txtNoPost_127 +
                                    txtNoPost_128 +
                                    txtNoPost_129 +
                                    txtNoPost_130 +
                                    txtNoPost_132 +
                                    txtNoPost_133 +
                                    txtNoPost_134 +
                                    txtNoPost_135 +
                                    txtNoPost_137 +
                                    txtNoPost_138 +
                                    txtNoPost_139
                                    );

        $('#txtNoPost_140').val(totalNoPost);

        var txtNoPost_142 = parseInt($('#txtNoPost_142').val());
        var txtNoPost_143 = parseInt($('#txtNoPost_143').val());
        var txtNoPost_145 = parseInt($('#txtNoPost_145').val());
        var txtNoPost_146 = parseInt($('#txtNoPost_146').val());

        var grandTotalNoPost = parseInt(totalNoPost + txtNoPost_142 + txtNoPost_143 + txtNoPost_145 + txtNoPost_146);

        $('#txtNoPost_147').val(grandTotalNoPost);

        //Calculation Total Amount
        var txtNoPostAmt_123 = parseInt($('#txtNoPostAmt_123').val());
        var txtNoPostAmt_124 = parseInt($('#txtNoPostAmt_124').val());
        var txtNoPostAmt_125 = parseInt($('#txtNoPostAmt_125').val());
        var txtNoPostAmt_127 = parseInt($('#txtNoPostAmt_127').val());
        var txtNoPostAmt_128 = parseInt($('#txtNoPostAmt_128').val());
        var txtNoPostAmt_129 = parseInt($('#txtNoPostAmt_129').val());
        var txtNoPostAmt_130 = parseInt($('#txtNoPostAmt_130').val());
        var txtNoPostAmt_132 = parseInt($('#txtNoPostAmt_132').val());
        var txtNoPostAmt_133 = parseInt($('#txtNoPostAmt_133').val());
        var txtNoPostAmt_134 = parseInt($('#txtNoPostAmt_134').val());
        var txtNoPostAmt_135 = parseInt($('#txtNoPostAmt_135').val());
        var txtNoPostAmt_137 = parseInt($('#txtNoPostAmt_137').val());
        var txtNoPostAmt_138 = parseInt($('#txtNoPostAmt_138').val());
        var txtNoPostAmt_139 = parseInt($('#txtNoPostAmt_139').val());

        var totalAmount = parseInt(txtNoPostAmt_123 +
                                    txtNoPostAmt_124 +
                                    txtNoPostAmt_125 +
                                    txtNoPostAmt_127 +
                                    txtNoPostAmt_128 +
                                    txtNoPostAmt_129 +
                                    txtNoPostAmt_130 +
                                    txtNoPostAmt_132 +
                                    txtNoPostAmt_133 +
                                    txtNoPostAmt_134 +
                                    txtNoPostAmt_135 +
                                    txtNoPostAmt_137 +
                                    txtNoPostAmt_138 +
                                    txtNoPostAmt_139
                                    );

        $('#txtNoPostAmt_140').val(totalAmount);

        var txtNoPostAmt_142 = parseInt($('#txtNoPostAmt_142').val());
        var txtNoPostAmt_143 = parseInt($('#txtNoPostAmt_143').val());
        var txtNoPostAmt_145 = parseInt($('#txtNoPostAmt_145').val());
        var txtNoPostAmt_146 = parseInt($('#txtNoPostAmt_146').val());

        var grandTotalAmount = parseInt(totalAmount + txtNoPostAmt_142 + txtNoPostAmt_143 + txtNoPostAmt_145 + txtNoPostAmt_146);

        $('#txtNoPostAmt_147').val(grandTotalAmount);

    }

    function IsEmpy(sender) {
        var value = parseInt(sender.value);
        if (value == '' || isNaN(value)) {
            sender.value = 0;
        } else {
            return sender.value;
        }
    }

</script>
