
@{
    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.OnFailure = "RptMonthlyReportOnFailure";
    options.OnSuccess = "RptMonthlyReportDetails";
    options.InsertionMode = InsertionMode.InsertAfter;
}
<script src="~/Scripts/Extended.Jquery.Plugins.js"></script>

@using (Ajax.BeginForm("GetMonthlyPerformanceReport", "Hdb_ReportCWC", options))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div style="width:90%;margin-left:auto;margin-right:auto;">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Monthly Performance Report</h4>
                    </div>
                </div>
                <div class="row Form_Space_top">
                    <div class="Form_Input">
                        <div class="col-md-1">
                            <label>Month:</label>
                        </div>
                        <div class="col-md-2-5">
                            @Html.DropDownList("MonthNo", new List<SelectListItem> {
                           new SelectListItem { Text="Jan",Value="1"},
                           new SelectListItem { Text="Feb",Value="2"},
                           new SelectListItem { Text="Mar",Value="3"},
                           new SelectListItem { Text="Apr",Value="4"},
                           new SelectListItem { Text="May",Value="5"},
                           new SelectListItem { Text="Jun",Value="6"},
                           new SelectListItem { Text="Jul",Value="7"},
                           new SelectListItem { Text="Aug",Value="8"},
                           new SelectListItem { Text="Sep",Value="9"},
                           new SelectListItem { Text="Oct",Value="10"},
                           new SelectListItem { Text="Nov",Value="11"},
                           new SelectListItem { Text="Dec",Value="12"},

                        })
                        </div>
                        <div class="col-md-offset-4 col-md-1">
                            <label>Year:</label>
                        </div>
                        <div class="col-md-2-5">
                            <select id="YearNo" name="YearNo"></select>
                            <input type="hidden" id="HdnYear" />
                        </div>
                    </div>
                </div>
                <div class="row SignUp_space_bottom2 SignUp_space_top2">
                    <div class="stoke"></div>
                </div>
                <div class="row SignUp_space_bottom2">
                    <div class="col-md-offset-5 col-md-2">
                        <input type="submit" value="Print" class="btn log_Btn_sm" id="btnPrint" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>

    $(function () {
        $('#MonthNo').val(new Date().getMonth() + 1);
        $('#YearNo').dynamicYear({ onChangeCallback: fillvalue });
    });

    function fillvalue(element) {
    }

    function RptMonthlyReportOnFailure() {
    }
    function RptMonthlyReportDetails(data) {

        if (data.Status == 1) {
            // $('#msgDiv').html('').removeClass('logErrMsg').addClass('logSuccMsg');
            window.open(data.Message + "?_t=" + (new Date().getTime()), '_blank', 'fullscreen=yes,modal=yes')
        }
        else {
            $('#msgDiv').html(data.Message).removeClass('logSuccMsg').addClass('logErrMsg');
        }

    }

</script>

