@model CwcExim.Areas.Import.Models.PPG_FormOneModel

@*@{
        AjaxOptions options = new AjaxOptions();
        options.Confirm = "Are You Sure You Want To Save?";
        options.HttpMethod = "POST";
        options.OnSuccess = "FormOneOnSuccess";
        options.OnFailure = "FormOneOnFailure";
        options.InsertionMode = InsertionMode.InsertAfter;
    }*@
<script>
    var TimeInSeconds;
    $(document).ready(function () {
        GetFormOne();
        //GetFormOneList();
        TimeInSeconds = 5000;
    });

    function GetFormOne() {
        $('#divFormOne').load('/Import/Ppg_CWCImport/AddFormOne');
    }
    @*function GetFormOneList() {
        debugger;
        //var x =  '/Import/Kol_CWCImport/Kol_GetFormOneList';
        //console.log(x);
        //$('#divFormOneList').load('/Kolkata/Import/Kol_CWCImport/Kol_GetFormOneList');
        $('#divFormOneList').load('@Url.Action("Kol_GetFormOneList", "Kol_CWCImport",new { Area= "Import" })');
    }*@

</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div id="divFormOne"></div>

        </div>
    </div>
</div>
