<script>
    $(function () {
        $("#FromDate").datetimepicker({
            dateFormat: "dd/mm/yy",
            timeFormat:"HH:mm",
            showOn: "button",
            buttonImage: "/Content/images/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            showAnima: "fadein",
            onClose: function () {
                $(".Date_Img .Error_Msg").text("");
            }
        });
    });
</script>
@using (Ajax.BeginForm("StockRegisterShedwise", "VLDA_ReportCWC", new AjaxOptions { OnSuccess = "RegisterOnSuccess", HttpMethod = "POST", OnFailure = "RegisterOnFailure" }))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 col-md-offset-0-5">
                <div class="container-fluid">
                    <div class="Head_h4">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Stock Register Shed wise/Total Shed</h4>
                            </div>
                        </div>
                        <div class="Form_Space_top" style="padding:5px;">
                            <div class="row">
                                <div class="form-group Form_Input">
                                    <div class="col-md-1-5 col_cus_2 padding_rt">
                                        <label>As On</label>
                                    </div>
                                    <div class="col-md-2-5 col_cus_2_5 Date_Img">
                                        @Html.TextBox("FromDate", "", new { @class = "form-control", @id = "FromDate", placeholder = "dd/mm/yyyy HH:mm", @readonly = true })
                                        @Html.ValidationMessage("FromDate", new { @class = "Error_Msg" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row SignUp_space_top SignUp_space_bottom">
                            <div class="stoke"></div>
                        </div>
                        <div class="row SignUp_space_bottom">
                            <div class="col-md-offset-5 col-md-2">
                                <input type="submit" value="Print" name="Command" class="btn log_Btn_sm" id="btnPrint" />
                            </div>
                        </div>
                        <div class="logErrMsg Form_Space_bottom" id="DivONErrMsg" style="background-color:transparent;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



@Scripts.Render("~/bundles/jqueryval")
<script>
    function RegisterOnFailure() { }

    function RegisterOnSuccess(data)
    {
        $('#DivONErrMsg').html('')
        if (data.Status == 1)
        {
            window.open(data.Message + "?_t=" + (new Date().getTime()), "_blank");
        }
        else {
            $('#DivONErrMsg').html(data.Message);
        }
    }
    $('#btnPrint').on("click", function () {

        var Status = true;
        if ($('#FromDate').val() == "") {
            $('[data-valmsg-for="FromDate"]').html('<span>Fill Out This Field</span>');
            return false;
        }
        $('#DivONErrMsg').html('');
        return true;
    });
</script>