@if (ViewBag.Banks != null)
{
    <input type="hidden" id="hdnBank" value="@ViewBag.Banks" />
}
else
{
    <input type="hidden" id="hdnBank" value="" />
}

@if (ViewBag.CurDate != null)
{
    <input type="hidden" id="hdnCurDate" value="@ViewBag.CurDate" />
}
else
{
    <input type="hidden" id="hdnCurDate" value="" />
}

@if (ViewBag.RightsList != null)
{
    <input type="hidden" id="hdnRights" value="@ViewBag.RightsList" />
}
else
{
    <input type="hidden" id="hdnRights" value="" />
}

<script src="~/Areas/CashManagement/Scripts/App/Models/ChequeModel.js"></script>
<script src="~/Areas/CashManagement/Scripts/App/Services/ChequeDepositSvc.js"></script>
<script src="~/Areas/CashManagement/Scripts/App/Controllers/ChequeDepositCtrl.js"></script>
<script>
    angular.bootstrap(document.getElementById('ChequeDepositAppDiv'), ['CWCApp']);
</script>
<div id="ChequeDepositAppDiv">
    <div ng-controller="ChequeDepositCtrl" id="ctrldiv">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-11 col-md-offset-0-5">
                    <div class="Head_h4">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Create Cheque Deposit</h4>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Deposit No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    <input type="text" ng-model="DepositNo" readonly />
                                </div>
                                <div class="col-md-1-5 col_cus_2 col_cus_offset_2 col-md-offset-3">
                                    <label>Deposit Date:</label>
                                </div>
                                <div class="col-md-2 Date_Img">
                                    <input id="depositDate" ng-model="DepositDate" type="text" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="Head_h5">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5>Cheque Details</h5>
                                </div>
                            </div>

                            <div class="row Form_Space_top">
                                <div class="form-group  Form_Input">
                                    <div class="col-md-3">
                                        <label>Date:</label>
                                    </div>
                                    <div class="col-md-3 Date_Img ">
                                        <input type="text" id="chequetDate" ng-model="details.ChequeDate" />
                                        <span class="Error_Msg" ng-show="IsAddClicked && (details.ChequeDate=='')">
                                            <span>*Select Check Date</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group  Form_Input">
                                    <div class="col-md-3">
                                        <label>Bank:</label>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text" ng-model="details.BankName" />
                                        <span class="search" id="banksearch">
                                            <i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#BankModal"></i>
                                        </span>
                                        <span class="Error_Msg" ng-show="IsAddClicked && (details.BankId==0)">
                                            <span>*Select Bank</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group  Form_Input">
                                    <div class="col-md-3">
                                        <label>A/C No:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" ng-model="details.AccountNo" />
                                        <span class="Error_Msg" ng-show="IsAddClicked && (details.AccountNo=='')">
                                            <span>*Enter Account No.</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group  Form_Input">
                                    <div class="col-md-3">
                                        <label>Cheque/Draft/Po No:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" ng-model="details.ChequeNo" />
                                        <span class="Error_Msg" ng-show="IsAddClicked && (details.ChequeNo =='')">
                                            <span>*Enter Cheque/Draft/Po No.</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group  Form_Input">
                                    <div class="col-md-3">
                                        <label>Mode:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <select ng-model="details.Mode">
                                            <option ng-repeat="p in paymentModes" value="{{p.Value}}">{{p.Text}}</option>
                                        </select>
                                        <span class="Error_Msg" ng-show="IsAddClicked && (details.Mode =='')">
                                            <span>*Select Mode.</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-3">
                                        <label>Amount(Rs):</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="number" ng-model="details.Amount" />
                                        <span class="Error_Msg" ng-show="IsAddClicked && (details.Amount == 0 || details.Amount == null)">
                                            <span>*Enter Amount.</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group">
                                    <div class="col-md-4">

                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn log_Btn_sm" ng-click="ChequeAdd(details);">Add</button>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn log_Btn_sm" ng-click="ResetCheque();">Reset</button>
                                    </div>
                                    <div class="col-md-4">

                                    </div>
                                </div>
                            </div>
                            <div class="row Form_Space_top">
                                <div class="form-group Form_Input">
                                    <div class="col-md-12">
                                        @*Ng repeat table*@
                                        <table id="tblContainer" class="table table-bordered table-striped dataTable">
                                            <thead>
                                                <tr>
                                                    <th style="width:8%;" class="text-center">Sl No</th>
                                                    <th>Date</th>
                                                    <th>Bank</th>
                                                    <th>A/C No</th>
                                                    <th>Cheque/Draft/Po No</th>
                                                    <th>Mode</th>
                                                    <th>Amount</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="d in listDetails">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{d.ChequeDate}}</td>
                                                    <td>{{d.BankName}}</td>
                                                    <td>{{d.AccountNo}}</td>
                                                    <td>{{d.ChequeNo}}</td>
                                                    <td>{{d.Mode}}</td>
                                                    <td>{{d.Amount}}</td>
                                                    <td><a href="#" ng-click="ChequeEdit($index,d)"><i class="fa fa-pencil-square Edit" aria-hidden="true"></i></a></td>
                                                    <td><a href="#" ng-click="ChequeDelete($index)"><i class="fa fa-window-close-o Delete" aria-hidden="true"></i></a></td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr ng-show="listDetails.length<=0">
                                                    <td colspan="9">No Records</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                        <span class="Error_Msg" ng-show="IsSaveClicked && (listDetails.length <=0)">
                                            <span>*Enter Atleast One Record.</span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="logSuccMsg Form_Space_bottom" id="DivPaySheetCargoMsg" style="background-color:transparent">{{Message}}</div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-2">
                                    <button class="btn log_Btn_sm" ng-click="Save()" ng-disabled="Rights.CanAdd==0 ||( DepositNo !='' && DepositNo !=null)">Save</button>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn log_Btn_sm" ng-click="FullReset()">Reset</button>
                                </div>
                                <div class="col-md-4">
                                </div>
                            </div><br />
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div id="DivChequeDepositList"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div id="BankModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content popup_modal">
                    <div class="modal-header popup_header">
                        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                        <h4 class="modal-title">List of Banks</h4>
                    </div>
                    <div class="modal-body popup_body">
                        <div style="overflow-y:auto;height:300px; margin: 8px 0;">
                            <input placeholder="Search Bank" type="text" ng-model="searchBank" />
                            <table id="lstcfsCode" class="table table-bordered table-striped dataTable Table_center">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Bank Name</th>
                                        <th>A/C No</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="b in banks | filter :{BankName:searchBank}">
                                        <td>
                                            <button class="btn log_Btn_sm" ng-click="selectBank(b)">Select</button>
                                        </td>
                                        <td>{{b.BankName}} </td>
                                        <td>{{b.AccountNo}}</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-offset-6 col-md-6">
                                <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $('#depositDate').datetimepicker({
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        dateFormat: "dd/mm/yy",
        altField: "#slider_example_4andHalf_alt",
        altFieldTimeOnly: false,
        onClose: function () {
            $(".Date_Img .Error_Msg").text("");
            $('[data-valmsg-for="Data"]').html('<span></span>');
            //angular.element('#ctrldiv').scope().ContainerSelect();
        }
    });
    $('#chequetDate').datetimepicker({
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        dateFormat: "dd/mm/yy",
        altField: "#slider_example_4andHalf_alt",
        altFieldTimeOnly: false,
        onClose: function () {
            $(".Date_Img .Error_Msg").text("");
            $('[data-valmsg-for="Data"]').html('<span></span>');
            //angular.element('#ctrldiv').scope().ContainerSelect();
        }
    });
</script>

