@if (ViewBag.ReceiptList != null)
{
    <input type="hidden" id="hdnReceiptlist" value="@ViewBag.ReceiptList" />
}
else
{
    <input type="hidden" id="hdnReceiptlist" value="" />
}
<script type="text/javascript" src="~/Areas/CashManagement/Scripts/App/Services/CancelReceiptService.js"></script>
<script type="text/javascript" src="~/Areas/CashManagement/Scripts/App/Controllers/CancelReceiptCtrl.js"></script>
<script>
    angular.bootstrap(document.getElementById('CancelReceiptDiv'), ['CWCApp']);
    $('#DivListCancel').load('/CashManagement/Chn_CashManagement/ListOfCancelledReceipt');
</script>
@Html.AntiForgeryToken()
<div id="CancelReceiptDiv">
    <div ng-controller="CancelReceiptController">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-offset-0-5 col-md-11">
                    <div class="Head_h4">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Payment Receipt Cancel</h4>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Receipt No:</label>
                                </div>
                                <div class="col-md-2-5">
                                    <input name="ReceiptNo" id="ReceiptNo" type="text" ng-model="ReceiptNo" readonly />
                                    <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#ReceiptModal"></i></span>
                                    <input name="ReceiptId" id="ReceiptId" type="hidden" ng-model="ReceiptId" />
                                </div>
                                <div class="col-md-1-5 col-md-offset-4 col_cus_offset_3 col_cus_2">
                                    <label>Date:</label>
                                </div>
                                <div class="col-md-2 col_cus_2_5 Date_Img">
                                    <input type="text" ng-model="ReceiptDate" id="ReceiptDate" name="ReceiptDate" readonly="readonly" />
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Payee:</label>
                                </div>
                                <div class="col-md-10-5 col_cus_10">
                                    <input type="hidden" id="PartyId" ng-model="PartyId" />
                                    <input type="text" id="PartyName" ng-model="PartyName" readonly="readonly" />
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Amount:</label>
                                </div>
                                <div class="col-md-4-5 col_cus_10">
                                    <input type="text" id="Amount" ng-model="Amount" readonly="readonly" />
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>Mode:</label>
                                </div>
                                <div class="col-md-10-5 col_cus_10">
                                    <input type="text" id="Mode" ng-model="Mode" readonly="readonly" />
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label>No:</label>
                                </div>
                                <div class="col-md-10-5 col_cus_10">
                                    <input type="text" id="No" ng-model="No" readonly="readonly" />
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                    <label> Reason:</label>
                                </div>
                                <div class="col-md-10-5">
                                    <textarea id="Reason" ng-model="CancelledReason" style="height:75px;" maxlength="200"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row SignUp_space_bottom SignUp_space_top">
                            <div class="stoke"></div>
                        </div>
                        <div class="logSuccMsg Form_Space_bottom" id="DivMsg" ng-model="Message" style="background-color:transparent">{{Message}}</div>
                        <div class="row SignUp_space_bottom2">
                            <div class="col-md-offset-4 col-md-2">
                                <input type="button" id="btnSave" value="Save" ng-click="SubmitReceipt()" ng-disabled="ReceiptId==''||ReceiptId==null" class="btn log_Btn_sm" />
                            </div>
                            <div class="col-md-2">
                                <input type="button" value="Reset" class="btn log_Btn_sm" ng-click="ResetField()" />
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-12">
                                    <div id="DivListCancel"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="ReceiptModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content popup_modal">
                    <div class="modal-header popup_header">
                        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                        <h4 class="modal-title">List of Receipt No</h4>
                    </div>
                    <div class="modal-body popup_body">
                        <input placeholder="Search Me" id="Partybox" type="text" ng-model="searchParty" />
                        <ul class="navList" id="ReceiptNo">
                            <li ng-repeat="r in Receiptlist|filter:{ReceiptNo:searchParty}" ng-click="SelectReceiptNo(r)">{{r.ReceiptNo}}</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-offset-6 col-md-6">
                                <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

