<input type="hidden" id="hdnUser" value="@ViewBag.UserId" />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-11 col-md-offset-0-5">
            <div class="container-fluid">
                <div class="Head_h4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Cash Statement (Cashier)</h4>
                        </div>
                    </div>
          
                    <div class="row Form_Space_top">
                        <div class="form-group Form_Input">
                            <div class="col-md-1-5 padding_rt">
                                <label>Date:</label>
                            </div>
                            <div class="col-md-2 col_cus_2_5 Date_Img">
                                @Html.TextBox("ReceiptDate", "", new { @class = "form-control", @id = "ReceiptDate", placeholder = "dd/mm/yyyy", @readonly = true })
                                @Html.ValidationMessage("ReceiptDate", new { @class = "Error_Msg" })
                            </div>
                        </div>
                    </div>
                    <div class="row SignUp_space_top SignUp_space_bottom">
                        <div class="stoke"></div>
                    </div>
                    <div class="row SignUp_space_bottom">
                        <div class="col-md-offset-5 col-md-2">
                            <input type="button" value="Proceed" name="Command" class="btn log_Btn_sm" id="BtnPreview" />
                        </div>
                    </div>
                    <div class="logSuccMsg Form_Space_bottom" id="DivDwnldWavMsg" style="background-color:transparent;"></div>
                </div>
            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/jqueryval")
<script>

    $("#ReceiptDate").datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $(".Date_Img .Error_Msg").text("");
        }
    });

    $('#BtnPreview').on('click', function ()
    {
        debugger;
        var UserId = $('#hdnUser').val();;
        var ReceiptDate = $('#ReceiptDate').val();
        if (PreviewValidate())
        {
            debugger;
            var Token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '/Report/CHN_ReportCWC/GetCashStatement',
                type: 'POST',
                data: { ReceiptDate: ReceiptDate, UserId: UserId},
                dataType:'JSON',
                headers: { '__RequestVerificationToken': Token },
                success: function (data) {
                    if (data.Status == 1) {
                        window.open(data.Message + '?_t' + (new Date().getTime()), "_blank");
                    }
                    else {
                        alert("No Data Found");
                    }
                }
            });
        }
    });

    function PreviewValidate(){
        if ($('#ReceiptDate').val() == "")
        {
            alert("Select Date");
            return false;
        }
        return true;
    }

</script>