@model CwcExim.Areas.Export.Models.BTTCargoEntry
<script>
    var TimeInSeconds;
    $(document).ready(function () {
        GetBTTCargoEntry();
        GetBTTCargoEntryList();
        TimeInSeconds = 5000;
    });

    function GetBTTCargoEntry() {
        $('#divBTTCargoEntry').load( '/Export/Ppg_CWCExport/AddBTTCargo');
    }
    function GetBTTCargoEntryList() {
        //debugger;
        $('#divBTTCargoEntryList').load( '/Export/Ppg_CWCExport/ListOfBTTCargo');
    }

</script>
@if (ViewBag.RightsList != null)
{
    <input type="hidden" id="hdnRights" value="@ViewBag.RightsList" />
}
else
{
    <input type="hidden" id="hdnRights" value="" />
}

<div>
    <div class="row">
        <div class="col-md-12">
            <div id="divBTTCargoEntry">

            </div>
        </div>
    </div>
</div>
