
@using (Ajax.BeginForm("GetFumigationRecord", "DSR_ReportCWC", new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "PVSuccess",
    OnFailure = "PVFailure"
}))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 col-md-offset-0-5">
                <div class="container-fluid">
                    <div class="Head_h4">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Fumigation Record</h4>
                            </div>
                        </div>
                        <div class="row Form_Space_top">

                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 padding_rt">
                                    <label>Certificate No:</label>
                                </div>
                                <div class="col-md-2 col_cus_2_5">

                                
                                    @Html.TextBox("CertificateNo","", new { @class = "form-control input-sm", @readonly = "true" })
                                    <span class="search"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" onclick="GetCertificateNo()" data-target="#CertificateNoModal"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="form-group Form_Input">
                                <div class="col-md-1-5 col_cus_2">
                                  
                                </div>
                                <div class="col-md-5">


                                </div>
                            </div>
                        </div>
                        <div class="row SignUp_space_top SignUp_space_bottom">
                            <div class="stoke"></div>
                        </div>
                        <div class="row SignUp_space_bottom">
                            <div class="col-md-offset-5 col-md-2">
                                <input type="submit" value="Print" name="Command" class="btn log_Btn_sm" id="BtnPreview" />
                            </div>
                        </div>
                        <div class="logErrMsg Form_Space_bottom" id="DivDwnldWavMsg" style="background-color:transparent;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@Scripts.Render("~/bundles/jqueryval")
<div class="modal fade" id="CertificateNoModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Certificate No</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="box" type="text" tabindex=200 autofocus />
                <ul tabindex=201 class="navList" id="CertificateList">
                   
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
   
    function GetCertificateNo()
    {
        $.ajax({
            url: '/Report/DSR_ReportCWC/GetCertificateNo',
            type: 'GET',
            //data: { PartyCode: $('#CommodityBox').val() },
            success: function (data) {
                debugger;
                var html = '';
                if(data.Data!='')
                {
                    $.each(data.Data, function (key, value) {                       
                        html += '<li onclick="GetDetails(&quot;' + value.CerticateNo + '&quot;)">' + value.CerticateNo + '</li>';
                    });
                    $('#CertificateList').append(html);
                }

            }
        });
    }

    function GetDetails(CerticateNo)
    {
        $('#CertificateNo').val(CerticateNo);
        $('#CertificateNoModal').modal('hide');
    }


    $('#InvoiceListBox').keyup(function () {
        var val = $(this).val().toLowerCase();
        if (val == "")
            $('#lstInvoiceList > li').show();
        else {
            $('#lstInvoiceList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(val) >= 0 ? $(this).show() : $(this).hide());
            });
        }
    });
    $('#lstInvoiceList li').on('click', function () {
        $('#GodownName').val($(this).text());
        $('#GodownId').val($(this).prop('id'));
        $('#InvoiceModal').modal('hide');
    });
    function PVSuccess(data) {
        $('#DivDwnldWavMsg').html('');
        if (data.Data != '') {
            window.open(data.Data + "?_t=" + new Date().getTime(), "_blank");
        }
        else $('#DivDwnldWavMsg').html('No Data');
    }
    function PVFailure() { }

    $('#box').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('.navList > li').show();
        } else {
            $('.navList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });
    $('.navList li').on("click", function () {
        //debugger;
        $('#ChemicalName').val($(this).text());
        $('#ChemicalId').val($(this).prop('id'));
        $("#myModal").modal("hide");
    });

    $('#myModal').on('hidden.bs.modal', function () {
        $('#box').focus();
    });
    $('#myModal').on('shown.bs.modal', function () {
        $('#box').focus();

    });
    function SelectChemical(ChemicalId, ChemicalName) {
        $('#ChemicalName').val(ChemicalName);
        $('#ChemicalId').val(ChemicalId);
        $("#myModal").modal("hide");
    }
</script>
