@model IEnumerable<CwcExim.Areas.Report.Models.WFLD_PartyLedCons>


<div class="container-fluid">
    <div class="row">
        <div class="row Form_Space_top">
            <div class="form-group Form_Input">
                <div class="col-md-12">
                    <table class="table dataTable table-bordered table-striped" id="tblImpJOList" style="width:100%;">
                        <thead>
                            <tr>

                                <th>Party Name</th>
                                <th>Balance</th>
                                <th>SD Amount</th>


                            </tr>
                        </thead>
                        <tbody>
                            @{
                        var Serial = 1;
                        foreach (var item in Model)
                        {
                            if (item.PartyCode != "Total")
                            {
                    <tr>

                        <td>@item.PartyName</td>
                        <td>@item.Amount</td>
                        <td>@item.SDAmount</td>

                    </tr>
                                Serial++;
                            }

                        }
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
       
            </div>
        </div>
        <script>



            $(document).ready(function () {
                var tblImpJOList = $('#tblImpJOList').DataTable({
                    "bFilter": false,
                    "bInfo": false,
                    "aoColumns": [

                               { "sName": "Party Name", "bSortable": false },
                               { "sName": "Balance", "bSortable": false },
                                { "sName": "SD Amount", "bSortable": false }

                    ]
                });
                new $.fn.dataTable.FixedHeader(tblImpJOList);
            });

        </script>
