@model IEnumerable<CwcExim.Models.Menu>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string ModuleName = (string)ViewData["ModuleName"];
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
   
</head>
<body>
   
    <script type="text/javascript">
        var categoryId;
        function LoadView(ActionUrl) {
            try {
              
               // $('#DivBody').html('');
                $('#DivBody').load('/' + '@ModuleName'+'/' + ActionUrl);
            } catch (ex) {

            }
        }
       
    </script>
    <div class="container">
        <br /><br />
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3" style="border:1px solid black">
                <div id="DivMenu">
                    <ul>
                        @foreach (CwcExim.Models.Menu Menu in Model)
                        {
                            @*@Html.ActionLink(Menu.MenuName, Menu.ActionUrl   .Split('/')[0]*@
                            <li><a href="#" onclick="LoadView('@Menu.ActionUrl')">@Menu.MenuName</a></li>
                            @*<li>@Ajax.ActionLink(Menu.MenuName, Menu.ActionUrl.Split('/')[1], Menu.ActionUrl.Split('/')[0], null)</li>*@
                        }
                    </ul>
                </div>
            </div>

            <div class="col-sm-9 col-md-9 col-lg-9 col-xs-9" style="border:1px solid black">
                <div id="DivBody">


                </div>


            </div>
        </div>
    </div>

    @*@Scripts.Render("~/bundles/AjaxOption")*@
</body>
</html>