@model IEnumerable<CwcExim.Models.Module>
<div class="row UserDashboard_wrap" style="vertical-align:middle">    
    <ul class="UserDashboard">
        @foreach (var item in Model)
        {
            <li><a href="#" onclick="LoadModuleWithMenu('@item.ModuleId','@item.ModuleName')"><img src="~/Content/Images/@item.IconFile" /><p><span>@item.ModuleName</span></p></a></li>
        }
    </ul>
</div>
<script type="text/javascript">
    function LoadModuleWithMenu(ModuleId, ModuleName) {
        debugger;
        var SubDomain = '@System.Configuration.ConfigurationManager.AppSettings["SubDomain"]';

        var StrUrl =  '/Menu/ForUser/';
        //var Param = 'ModuleId' + ModuleId;
        //window.location = StrUrl + btoa(ModuleId);
        window.location = StrUrl + btoa(ModuleId + '_' + ModuleName);
    }



</script>