<style>
    #DivFormOneDet {
        height: 270px;
        overflow-x: hidden;
    }

    .slimScrollDiv {
        height: 300px;
    }

    .table.tblOBL {
        border-bottom: 0;
    }

    .slim_tble {
        width: 100%;
        table-layout: fixed;
    }

    .txt_wrp {
        overflow: hidden;
        word-wrap: break-word;
    }

    #tblOBL.dataTable tbody > tr > td {
        cursor: pointer;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="Head_h4">
            <div class="row">
                <div class="col-md-12">
                    <h4>BEO Search</h4>
                </div>
            </div>

            <div class="content_wrp">
                <div id="DivJOHdr" class="Form_Space_bottom">

                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>BEO No:</label>
                                <div class="position-relative">
                                    <input type="text" id="txtBeoNo" readonly />
                                    <span class="input_icon"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#OBLModal"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-md-offset-6">
                            <div class="form-group">
                                <label>BEO Date:</label>
                                <div class="position-relative Date_Img">
                                    <input type="text" id="txtBeoDate" readonly />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>IE Code:</label>
                                <input type="text" id="txtIECode" readonly />
                            </div>
                        </div>

                        <div class="col-md-3 col-md-offset-6">
                            <div class="form-group">
                                <label>Importer Name:</label>
                                <input type="text" id="txtImporterName" readonly />
                            </div>
                        </div>
                    </div>
                    
                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Address 1:</label>
                                <input type="text" id="txtAddress1" readonly />
                            </div>
                        </div>

                        <div class="col-md-3 col-md-offset-6">
                            <div class="form-group">
                                <label>Address 2:</label>
                                <input type="text" id="txtAddress2" readonly />
                            </div>
                        </div>
                    </div>                    

                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>City:</label>
                                <input type="text" id="txtCity" readonly />
                            </div>
                        </div>

                        <div class="col-md-3 col-md-offset-6">
                            <div class="form-group">
                                <label>PIN:</label>
                                <input type="text" id="txtPin" readonly />
                            </div>
                        </div>
                    </div> 

                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Country of Origin:</label>
                                <input type="text" id="txtCountryofOrigin" readonly />
                            </div>
                        </div>

                        <div class="col-md-3 col-md-offset-6">
                            <div class="form-group">
                                <label>CHA Code:</label>
                                <input type="text" id="txtChaCode" readonly />
                            </div>
                        </div>
                    </div> 

                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>No of Packages:</label>
                                <input type="text" id="txtNumberOfPackages" readonly />
                            </div>
                        </div>

                        <div class="col-md-3 col-md-offset-6">
                            <div class="form-group">
                                <label>Type of Packages:</label>
                                <input type="text" id="txtTypeOfPackages" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Gross Weight:</label>
                                <input type="text" id="txtGrossWeight" readonly />
                            </div>
                        </div>

                        <div class="col-md-3 col-md-offset-6">
                            <div class="form-group">
                                <label>Unit of Measurement:</label>
                                <input type="text" id="txtUnitOfMeasurement" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>CIF Value (in Rs):</label>
                                <input type="text" id="txtCIFValue" readonly />
                            </div>
                        </div>

                        <div class="col-md-3 col-md-offset-6">
                            <div class="form-group">
                                <label>Duty (in Rs.):</label>
                                <input type="text" id="txtDuty" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Container No.:</label>
                                <input type="text" id="txtContainerNo" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="Head_h5">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>OOC Details</h5>
                            </div>
                        </div>

                        <div id="DivJOHdr" class="Form_Space_bottom">

                            <div class="row Form_Space_top">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>OOC Number:</label>
                                        <input type="text" id="txtOOCNo" readonly />
                                    </div>
                                </div>

                                <div class="col-md-3 col-md-offset-6">
                                    <div class="form-group">
                                        <label>OOC Date:</label>
                                        <input type="text" id="txtOCCDate" readonly />
                                    </div>
                                </div>
                            </div>

                            <div class="row Form_Space_top">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>No of Packages:</label>
                                        <input type="text" id="txtOCCNumberOfPakages" readonly />
                                    </div>
                                </div>

                                <div class="col-md-3 col-md-offset-6">
                                    <div class="form-group">
                                        <label>Type of Packages:</label>
                                        <input type="text" id="txtOCCTypeOfPackages" readonly />
                                    </div>
                                </div>
                            </div>

                            <div class="row Form_Space_top">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Unit Quantity Code:</label>
                                        <input type="text" id="txtUnitQuantityCode" readonly />
                                    </div>
                                </div>

                                <div class="col-md-3 col-md-offset-6">
                                    <div class="form-group">
                                        <label>CIF Value (in Rs):</label>
                                        <input type="text" id="txtOCCCIFValue" readonly />
                                    </div>
                                </div>
                            </div>

                            <div class="row Form_Space_top">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Duty (in Rs.):</label>
                                        <input type="text" id="txtOCCDuty" readonly />
                                    </div>
                                </div>

                                <div class="col-md-3 col-md-offset-6">
                                    <div class="form-group">
                                        <label>Weight:</label>
                                        <input type="text" id="txtOCCWeight" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="Head_h5">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>OBL Details</h5>
                            </div>
                        </div>

                        <div id="DivJOHdr" class="Form_Space_bottom">
                            <div class="row Form_Space_top">
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <table id="BEOOBLDetails" class="table table-bordered table-striped nowrap dataTable no-footer">
                                            <thead>
                                                <tr>
                                                    <th>B/L No</th>
                                                    <th>B/L Date</th>
                                                    <th>Port of Loading</th>
                                                    <th>Nature of Cargo</th>
                                                    <th>Item Type</th>
                                                    <th>Number of Packages</th>
                                                    <th>Type of packages</th>
                                                    <th>Gross weight</th>
                                                    <th>Unit of Weight</th>
                                                    <th>Volume</th>
                                                    <th>Unit of Volume</th>
                                                    <th>Goods Description</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tblOblDetails"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="OBLModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content popup_modal" style="width:50%;">
            <div class="modal-header popup_header">
                <button type="button" class="close" onclick="CloseOBL()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of BEO</h4>
            </div>
            <div class="modal-body popup_body" style="position:relative;">
                <input placeholder="Search By OBL/HBL No" id="OBLBox" type="text" />
                <span class="search" style="top: 18px;"><i class="fa fa-search" aria-hidden="true" onclick="SearchOBL()"></i></span>
                <table class="table table-striped table-bordered dataTable tblhd" style="width:100%; margin:0 !important; border-bottom:0; padding:0;">
                    <thead>
                        <tr>
                            <th>BEO</th>
                        </tr>
                    </thead>
                </table>
                <div id="slim_scroll">
                    <table class="table dataTable table-bordered table-striped" id="tblOBL">
                        @{
                            if (ViewBag.LstObl != null)
                            {
                                foreach (var item in ViewBag.LstObl)
                                {
                                    <tr onclick="SelectOBL('@item.OBLNo','@item.LINENo')">
                                        <td>@item.OBLNo</td>
                                    </tr>
                                }
                            }
                        }
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-5">
                        @if (ViewBag.State != null && Convert.ToBoolean(ViewBag.State) == true)
                        {
                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreOBL()" class="btn log_Btn_sm" id="btnLoadMoreOBL">Load More</button>
                        }
                        else
                        {
                            <button type="button" style="width:100%; margin-left:0;" onclick="LoadMoreOBL()" class="btn log_Btn_sm" id="btnLoadMoreOBL" disabled>Load More</button>
                        }
                    </div>
                    <div class="col-md-offset-3 col-md-4">
                        <button type="button" class="btn log_Btn_sm" onclick="CloseOBL()">Close</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript" src="/scripts/jquery.nicescroll.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#slim_scroll').slimScroll({
            allowPageScroll: true
        });
    });
    function SelectOBL(BEONo, BEODate) {
        debugger;
        $('#txtBeoNo').val(BEONo);
        GetBEoNoDetails(BEONo, BEODate);
        $("#OBLModal").modal("hide");
        $('#OBLBox').val('');
        LoadOBL();
    }

    var Page = 0;
    function LoadOBL() {
        Page = 0;
        $.ajax({
            url: '/Import/Ppg_CWCImportV2/LoadICEGateBEONo',
            type: 'GET',
            data: { BEONo: "", Page: Page },
            success: function (data) {
                if (data.Status == 1) {

                    var html = '';
                    $.each(data.Data.LstObl, function (item, elem) {

                        html += '<tr onclick="SelectOBL(&quot;' + elem.OBLNo + '&quot;,&quot;' + elem.LINENo + '&quot;)"><td>' + elem.OBLNo + '</td></tr>';
                    });
                    $('#tblOBL tbody').html(html);

                    if (data.Data.State == true)
                        $('#btnLoadMoreOBL').prop('disabled', false);
                    else $('#btnLoadMoreOBL').prop('disabled', true);
                }
            }
        });
    }
    function LoadMoreOBL() {
        debugger;
        $.ajax({
            url: '/Import/Ppg_CWCImportV2/LoadICEGateBEONo',
            type: 'GET',
            data: { BEONo: "", Page: Page + 1 },
            success: function (data) {
                if (data.Status == 1) {

                    var html = '';
                    $.each(data.Data.LstObl, function (item, elem) {

                        html += '<tr onclick="SelectOBL(&quot;' + elem.OBLNo + '&quot;,&quot;' + elem.LINENo + '&quot;)"><td>' + elem.OBLNo + '</td></tr>';
                    });
                    if (Page == -1)
                        $('#tblOBL tbody').html(html);
                    else
                        $('#tblOBL tbody').append(html);
                    Page++;

                    if (data.Data.State == true)
                        $('#btnLoadMoreOBL').prop('disabled', false);
                    else $('#btnLoadMoreOBL').prop('disabled', true);
                }
            }
        });
    }

    function SearchOBL() {
        if ($('#OBLBox').val() != '') {
            $.ajax({
                url: '/Import/Ppg_CWCImportV2/SearchICEGateBEONo',
                type: 'GET',
                data: { BEONo: $('#OBLBox').val() },
                success: function (data) {
                    if (data.Status == 1) {
                        var html = '';
                        $.each(data.Data.LstObl, function (item, elem) {
                            html += '<tr onclick="SelectOBL(&quot;' + elem.OBLNo + '&quot;,&quot;' + elem.LINENo + '&quot;)"><td>' + elem.OBLNo + '</td></tr>';
                        });
                        $('#tblOBL tbody').html('');
                        $('#tblOBL tbody').html(html);
                        $('#btnLoadMoreOBL').prop('disabled', false);
                        Page = -1;
                    }
                    else {
                        $('#tblOBL tbody').html('');
                        Page = -1;
                        $('#btnLoadMoreOBL').prop('disabled', false);
                    }

                }
            });
        }
        else
            LoadOBL();
    }

    function CloseOBL() {
        $('#OBLBox').val('');
        $("#OBLModal").modal("hide");
        LoadOBL();
    }

    function GetBEoNoDetails(BEONo, BEODate) {

        $.ajax({
            url: '/Import/Ppg_CWCImportV2/GetBOEICEGateDetail',
            type: 'GET',
            data: { BEONo: BEONo, BEODate: BEODate },
            success: function (data) {
                debugger;

                var jsonBeo = data.BeoNoDetails;

                $('#txtBeoDate').val(jsonBeo.BOE_DATE);

                $('#txtChaCode').val(jsonBeo.CHA_CODE);
                $('#txtCIFValue').val(jsonBeo.CIF_VALUE);
                $('#txtCity').val(jsonBeo.CITY);
                $('#txtContainerNo').val(jsonBeo.CONTAINER_NO);
                $('#txtCountryofOrigin').val(jsonBeo.C_OF_ORIGIN);
                $('#txtDuty').val(jsonBeo.DUTY);
                $('#txtGrossWeight').val(jsonBeo.GR_WT);
                $('#txtAddress1').val(jsonBeo.IMP_ADD1);
                $('#txtAddress2').val(jsonBeo.IMP_ADD2);
                $('#txtNumberOfPackages').val(jsonBeo.NO_PKG);
                $('#txtPin').val(jsonBeo.PIN);
                $('#txtTypeOfPackages').val(jsonBeo.PKG_TYPE);
                $('#txtUnitOfMeasurement').val(jsonBeo.UNIT_TYPE);

                $('#txtImporterName').val(jsonBeo.IMP_NAME);
                $('#txtIECode').val(jsonBeo.IEC_CD);

                var jsonOOCDetais = data.BeoOOCDetails;
                $('#txtUnitQuantityCode').val(jsonOOCDetais.UNIT_TYPE);
                $('#txtOCCTypeOfPackages').val(jsonOOCDetais.PKG_TYPE);
                //  $('#txtOCCCIFValue').val(jsonOOCDetais.OOC_TYPE);
                $('#txtOOCNo').val(jsonOOCDetais.OOC_NO);
                $('#txtOCCDate').val(jsonOOCDetais.OOC_DATE);
                $('#txtOCCNumberOfPakages').val(jsonOOCDetais.NO_PKG);
                $('#txtOCCWeight').val(jsonOOCDetais.GR_WT);
                $('#txtOCCDuty').val(jsonOOCDetais.DUTY);
                $('#txtOCCCIFValue').val(jsonOOCDetais.CIF_VALUE);




                var html = '';
                $.each(data.BeoIGMDetails, function (item, elem) {
                    html += '<tr>';
                    html += '<td>' + elem.OBL_NO + '</td>';
                    html += '<td>' + elem.OBL_DATE + '</td>';
                    html += '<td>' + elem.PORT_OF_LOADING + '</td>';
                    html += '<td>' + elem.NATURE_OF_CARGO + '</td>';
                    html += '<td>' + elem.ITEM_TYPE + '</td>';
                    html += '<td>' + elem.NO_PKG + '</td>';
                    html += '<td>' + elem.PKG_TYPE + '</td>';
                    html += '<td>' + elem.GR_WT + '</td>';
                    html += '<td>' + elem.UNIT_OF_WEIGHT + '</td>';
                    html += '<td>' + elem.VOLUME + '</td>';
                    html += '<td>' + elem.UNIT_OF_VOLUME + '</td>';
                    html += '<td>' + elem.CARGO_DESC + '</td>';
                    html += '</tr>';
                });
                $('#BEOOBLDetails tbody').html('');
                $('#BEOOBLDetails tbody').html(html);



            }
        });
    }

</script>


