@model CwcExim.Areas.Import.Models.Ppg_IGMData

    <div class="row">
        <div class="col-md-12">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>IGM Data</h4>
                    </div>
                </div>

                <div class="content_wrp">
                    <div class="row Form_Space_top">
                        <div class="col-md-3">
                            <div class="form-group">
                                <span class="ReQSimbol">*</span>
                                <label>Container No:</label>
                                <div class="position-relative">
                                    @Html.TextBoxFor(m => m.ContainerNo, new { @readonly = true })
                                    <span class="input_icon" id="ContainerNoSearch" onclick="OpenContainerListModal()"><i class="fa fa-search" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-md-offset-6">
                            <div class="form-group">
                                <span class="ReQSimbol">*</span>
                                <label>Year:</label>
                                @Html.DropDownListFor(m => m.Year, Enumerable.Empty<SelectListItem>(), new { @onchange = "ChangeYear()", @readonly = true })
                            </div>
                        </div>
                    </div>                    

                    <div class="Head_h5" id="divtblContainerDtl" style="padding: 0px 13px; margin-top: 1rem; display:none;">
                        <div class="row">
                            <div class="col-md-12">
                                <h5 style="margin-bottom: 1rem;">Container Information</h5>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <table id="tblContainerDtl" class="table table-bordered dataTable tblhd" style="width: 100%; border-bottom: 1px solid #ccc; padding: 0;">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;">Size</th>
                                            <th style="text-align:center;">Status</th>
                                            <th style="text-align:center;">IGM No</th>
                                            <th style="text-align:center; width:80px;">IGM Date</th>
                                            <th style="text-align:center;">TP No</th>
                                            <th style="text-align:center; width:80px;">TP Date</th>
                                            <th style="text-align:center;">OBL No</th>
                                            <th style="text-align:center;">No of Pkg.</th>
                                            <th style="text-align:center;">Weight</th>
                                            <th style="text-align:center;">Seal No</th>
                                            <th style="text-align:center;">ISO Code</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="Head_h5" id="divtblCargoDtl" style="padding: 0px 13px; margin-top: 1rem;  display:none;">
                        <div class="row">
                            <div class="col-md-12">
                                <h5 style="margin-bottom: 1rem;">Cargo Information</h5>
                            </div>
                        </div>
                        <div class="row Form_Space_top">
                            <div class="col-md-12">
                                <table id="tblCargoDtl" class="table table-bordered dataTable tblhd" style="width: 100%; border-bottom: 1px solid #ccc; padding: 0;">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;">OBL No</th>
                                            <th style="text-align:center; width:80px;">OBL Date</th>
                                            <th style="text-align:center;">Importer Name</th>
                                            <th style="text-align:center;">No Of Pkg.</th>
                                            <th style="text-align:center;">Pkg. Type</th>
                                            <th style="text-align:center;">Weight</th>
                                            <th style="text-align:center;">Unit</th>
                                            <th style="text-align:center; width:350px;">Cargo Desc.</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="ContainerNoModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content popup_modal">
            <div class="modal-header popup_header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">List of Container / CBT No</h4>
            </div>
            <div class="modal-body popup_body">
                <input placeholder="Search Me" id="ContainerNobox" type="text" />
                <ul class="navList" id="lstContainerNo"></ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <button type="button" class="btn log_Btn_sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var ArrayContainer = [];
    $(document).ready(function () {
        debugger;
        GetYearList();
        GetContainerList();
    });
    $('#ContainerNoModal').on('shown.bs.modal', function () {
        $('#ContainerNobox').focus();
    });
    function OpenContainerListModal() {
        debugger;
        $('#divtblContainerDtl').hide();
        $('#divtblCargoDtl').hide();
        $('#tblContainerDtl tbody').html('');
        $('#tblCargoDtl tbody').html('');
        $("#ContainerNoModal").modal("show");
        $('#ContainerNobox').val('');
        $('#ContainerNo').val('');
        BindContainerList();
    }
    function ChangeYear() {
        debugger;
        ArrayContainer = [];
        $('#divtblContainerDtl').hide();
        $('#divtblCargoDtl').hide();
        $('#tblContainerDtl tbody').html('');
        $('#tblCargoDtl tbody').html('');
        $('#ContainerNobox').val('');
        $('#ContainerNo').val('');
        GetContainerList();
    }
    function GetContainerList() {
        debugger;
        var error = 0;
        var _Year = $('#Year').val();
        if (_Year == "") {
            error=1
            alert("Please select year");
        }
        $('#lstContainerNo').html('');
        if (error == 0) {
            $.ajax({
                url: '/Import/Ppg_CWCImportV2/GetContainerList',
                type: 'GET',
                dataType: "json",
                data: { Year: _Year },
                async: false,
                success: function (data) {
                    debugger;
                    if (data.Status == 1) {
                        ArrayContainer = data.Data;
                        BindContainerList();
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                },
                complete: function () {

                }
            });
        }
    }
    function BindContainerList() {
        debugger;
        $('#lstContainerNo').html('');
        var html = '';
        $.each(ArrayContainer, function (e, item) {

            html += '<li onclick="SelectContainerIGM(&quot;' + item.ContainerNo + '&quot;)">' + item.ContainerNo + '</li>';
        });

        $('#lstContainerNo').html(html);
    }
    function SelectContainerIGM(ContainerNo) {
        debugger;
        $('#ContainerNo').val(ContainerNo);
        $('#ContainerNoModal').modal('hide');
        GetContainerInfoList();
    }

    $('#ContainerNobox').keyup(function () {
        debugger;
        var valThis = $(this).val().toLowerCase();
        if (valThis == "")
            $('#lstContainerNo > li').show();
        else {
            $('#lstContainerNo > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        }
    });
     
    function GetYearList() {
        debugger;
        var html = "";
        $('#Year').html('');
        $.ajax({
            url: '/Import/Ppg_CWCImportV2/GetYearList',
            type: 'GET',
            dataType: "json",
            data: {},
            async: false,
            success: function (data) {
                debugger;
                if (data.Status == 1) {
                    $.each(data.Data, function (e, item) {

                        html += '<option>' + item.Year + '</option>';
                    });
                }
            },
            error: function (xhr, status, error) {
                $('#Year').append(html);
                console.error('Error:', error);
            },
            complete: function () {
                $('#Year').html('');
                $('#Year').append(html);
            }
        });
    }

    function GetContainerInfoList() {
        debugger;
        var conthtml = '';
        var cargohtml = '';
        var ArrayContainerInfo = [];
        var _Year = $('#Year').val();
        var _ContainerNo = $('#ContainerNo').val();
        $('#tblContainerDtl tbody').html('');
        $('#tblCargoDtl tbody').html('');
        $.ajax({
            url: '/Import/Ppg_CWCImportV2/GetContainerCargoInfo',
            type: 'GET',
            dataType: "json",
            data: { Year:_Year, ContainerNo: _ContainerNo },
            async: false,
            success: function (data) {
                debugger;
                if (data.Status == 1) {
                    ArrayContainerInfo = data.Data.lstContainerInfo;
                    ArrayCargoInfo = data.Data.lstCargoInfo;
                    if (ArrayContainerInfo != null & ArrayContainerInfo.length > 0) {
                        $('#divtblContainerDtl').show();
                        $.map(ArrayContainerInfo, function (item) {
                            debugger;
                            conthtml += '<tr style="height: 25px;">';
                            conthtml += '<td style="border: 1px solid #ccc; position: relative; text-align: center;">' + item.Size + '</td>';
                            conthtml += '<td style="border: 1px solid #ccc; position: relative; text-align: center;">' + item.Status + '</td>';
                            conthtml += '<td style="border: 1px solid #ccc; position: relative; text-align: center;">' + item.IGMNo + '</td>';
                            conthtml += '<td style="border: 1px solid #ccc; position: relative; text-align: center;">' + item.IGMDate + '</td>';
                            conthtml += '<td style="border: 1px solid #ccc; position: relative; text-align: center;">' + item.TPNo + '</td>';
                            conthtml += '<td style="border: 1px solid #ccc; position: relative; text-align: center;">' + item.TPDate + '</td>';
                            conthtml += '<td style="border: 1px solid #ccc; position: relative; text-align: center;">' + item.OBLNo + '</td>';
                            conthtml += '<td style="border: 1px solid #ccc; position: relative; text-align: center;">' + item.NoOfPkg + '</td>';
                            conthtml += '<td style="border: 1px solid #ccc; position: relative; text-align: center;">' + item.Weight + '</td>';
                            conthtml += '<td style="border: 1px solid #ccc; position: relative; text-align: center;">' + item.SealNo + '</td>';
                            conthtml += '<td style="border: 1px solid #ccc; position: relative; text-align: center;">' + item.ISOCode + '</td>';
                            conthtml += '</tr>';
                        });
                    }
                    if (ArrayCargoInfo != null & ArrayCargoInfo.length > 0) {
                        $('#divtblCargoDtl').show();
                        $.map(ArrayCargoInfo, function (item) {
                            debugger;
                            cargohtml += '<tr style="height: 25px;">';
                            cargohtml += '<td style="border: 1px solid #ccc; position: relative; text-align: center;">' + item.OBLNo + '</td>';
                            cargohtml += '<td style="border: 1px solid #ccc; position: relative; text-align: center;">' + item.OBLDate + '</td>';
                            cargohtml += '<td style="border: 1px solid #ccc; position: relative; text-align: center;">' + item.ImporterName + '</td>';
                            cargohtml += '<td style="border: 1px solid #ccc; position: relative; text-align: center;">' + item.NoOfPkg + '</td>';
                            cargohtml += '<td style="border: 1px solid #ccc; position: relative; text-align: center;">' + item.PkgType + '</td>';
                            cargohtml += '<td style="border: 1px solid #ccc; position: relative; text-align: center;">' + item.Weight + '</td>';
                            cargohtml += '<td style="border: 1px solid #ccc; position: relative; text-align: center;">' + item.Unit + '</td>';
                            cargohtml += '<td style="border: 1px solid #ccc; position: relative; text-align: center;">' + item.CargoDesc + '</td>';
                            cargohtml += '</tr>';
                        });
                    }

                    $('#tblContainerDtl tbody').append(conthtml);
                    $('#tblCargoDtl tbody').append(cargohtml);
                }
            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
            },
            complete: function () {

            }
        });
    }
</script>
