@{
    ViewBag.Title = "KnowYourStorageCharge";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-0-5 col-md-11">
            <div class="Head_h4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Know Storage Charge</h4>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2">
                            <label>OBL:</label>
                        </div>
                        <div class="col-md-2-5">
                            <input id="Refid" type="hidden" />
                            <input class="form-control input_sm" id="OBLNo" disabled type="text" value="">
                            <span class="search" id="OblSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#OBLModal"></i></span>
                        </div>
                        <div class="col-md-1 col_cus_2 padding_rt">
                            <label>Shipbill:</label>
                        </div>
                        <div class="col-md-2-5">
                            <input class="form-control input_sm" id="SbNo" disabled type="text" value="">
                            <span class="search" id="SBSearch"><i class="fa fa-search" aria-hidden="true" data-toggle="modal" data-target="#SBModal"></i></span>
                        </div>
                        <div class="col-md-offset-0-5 col-md-1-5 col_cus_2 padding_rt">
                            <label>OBL/Shipbill Date:</label>
                        </div>
                        <div class="col-md-2-5 Date_Img">
                            <input id="OBL_SB_Date" maxlength="10" name="OBL_SB_Date" size="10" type="text" value="">
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Delivery Date:</label>
                        </div>
                        <div class="col-md-2-5 Date_Img">
                            <input id="Delivery_Date" maxlength="10" name="Delivery_Date" size="10" tabindex="6" type="text" value="">
                        </div>

                        <div class="col-md-4">
                            <button type="submit" id="submit" onclick="GetStorageCharge()" class="btn log_Btn_sm">Know Storage Charge</button>
                        </div>
                    </div>
                </div>

                <div class="row Form_Space_top">
                    <div class="form-group Form_Input">
                        <div class="col-md-1-5 col_cus_2 padding_rt">
                            <label>Storage Charges:</label>
                        </div>
                        <div class="col-md-2-5">
                            <input class="form-control input_sm" id="StorageCharge" type="text" value="" disabled/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="stoke SignUp_space_top2 SignUp_space_bottom2"></div>
                </div>

                <div class="row SignUp_space_bottom">
                    <div class="col-md-offset-4-5 col-md-2">
                        <button type="button" id="submit" class="btn log_Btn_sm" onclick="ResetAll()">Reset</button>
                    </div>
                </div>

                <div class="modal fade mTabindex" id="OBLModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content popup_modal">
                            <div class="modal-header popup_header">
                                <button type="button" class="close" onclick="myModalClose()"><i class="fa fa-times" aria-hidden="true"></i></button>
                                <h4 class="modal-title">List of OBL No</h4>
                            </div>
                            <div class="modal-body popup_body">
                                <input placeholder="Search Me" id="box" type="text" tabindex="401" />
                                <ul class="navList" id="OBLList"></ul>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-offset-6 col-md-6">
                                        <button type="button" class="btn log_Btn_sm" onclick="myModalClose()">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade mTabindex" id="SBModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content popup_modal">
                            <div class="modal-header popup_header">
                                <button type="button" class="close" onclick="mySBModalClose()"><i class="fa fa-times" aria-hidden="true"></i></button>
                                <h4 class="modal-title">List of SB No</h4>
                            </div>
                            <div class="modal-body popup_body">
                                <input placeholder="Search Me" id="SBbox" type="text" tabindex="401" />
                                <ul class="navList" id="SBList"></ul>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-offset-6 col-md-6">
                                        <button type="button" class="btn log_Btn_sm" onclick="mySBModalClose()">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/scripts/jquery.nicescroll.min.js"></script>
<script>
    $(function () {
        $('#slim_scroll').slimScroll({
            allowPageScroll: true
        });
    });
    $('#OBL_SB_Date').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $('[data-valmsg-for="IGM_Date"]').html('');
        }
    });
    $("#OBL_SB_Date").datepicker("setDate", new Date());

    $('#Delivery_Date').datepicker({
        dateFormat: "dd/mm/yy",
        showOn: "button",
        buttonImage: "/Content/images/calendar.png",
        buttonImageOnly: true,
        buttonText: "Select date",
        changeMonth: true,
        changeYear: true,
        showAnima: "fadein",
        onClose: function () {
            $('[data-valmsg-for="IGM_Date"]').html('');
        }
    });
    $("#Delivery_Date").datepicker("setDate", new Date());
    function ResetAll()
    {
        $('#DivBody').load('/Import/Ppg_CWCImportV2/KnowYourStorageCharge');
    }


    function myModalClose()
    {
        $('#OBLModal').modal('hide');
    }

    function mySBModalClose() {
        $('#SBModal').modal('hide');
    }

    $('#OblSearch').on("click", function () {
        debugger;
        $.ajax({
            url: '/Import/Ppg_CWCImportV2/GetOBLListForKnowStorageCharge',
            type: 'GET',
            dataType: 'JSON',
            success: function (data) {
                debugger;
                if (data != '') {
                    // var EcJson = JSON.parse(data);
                    var html = '';
                    var tab = 401;

                    debugger;
                    $.each(data, function (i, item) {
                        debugger;                        
                        html += '<li tabindex=' + tab + ' id="' + item.DestuffingId + '" onkeypress="OBLSelectClick(' + item.DestuffingId + ',&quot;' + item.OBLNo + '&quot;);" onclick="OBLSelectClick(' + item.DestuffingId + ',&quot;' + item.OBLNo + '&quot;);">' + item.OBLNo + '</li>';


                    });
                    $('#OBLList').html(html);

                    //}
                }
            }

        });
    });
    $('#box').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#OBLModal .navList > li').show();
        } else {
            $('#OBLModal .navList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });

    $('#SBSearch').on("click", function () {
        debugger;
        $.ajax({
            url: '/Import/Ppg_CWCImportV2/GetSBListForKnowStorageCharge',
            type: 'GET',
            dataType: 'JSON',
            success: function (data) {
                debugger;
                if (data != '') {
                    // var EcJson = JSON.parse(data);
                    var html = '';
                    var tab = 401;

                    debugger;
                    $.each(data, function (i, item) {
                        debugger;
                       
                        html += '<li tabindex=' + tab + ' id="' + item.DestuffingId + '" onkeypress="SBSelectClick(' + item.DestuffingId + ',&quot;' + item.OBLNo + '&quot;);" onclick="SBSelectClick(' + item.DestuffingId + ',&quot;' + item.OBLNo + '&quot;);">' + item.OBLNo + '</li>';

                    });
                    $('#SBList').html(html);

                    //}
                }
            }

        });
    });
    $('#SBbox').keyup(function () {
        var valThis = $(this).val().toLowerCase();
        if (valThis == "") {
            $('#SBModal .navList > li').show();
        } else {
            $('#SBModal .navList > li').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        };
    });

    function OBLSelectClick(id,OBLNo)
    {
        $('#Refid').val(id);
        $('#OBLNo').val(OBLNo);
        $('#SbNo').val('');
        $('#OBLModal').modal('hide');
    }

    function SBSelectClick(id,SBNo)
    {
        $('#Refid').val(id);
        $('#SbNo').val(SBNo);
        $('#OBLNo').val('');
        $('#SBModal').modal('hide');
    }

    function GetStorageCharge()
    {

        $.ajax({
            url: '/Import/Ppg_CWCImportV2/GetStorageCharge',
            type: 'GET',
            dataType: 'JSON',
            data: { OBL: $('#OBLNo').val(), SBNo: $('#SbNo').val(), Date: $('#Delivery_Date').val(), RefId: $('#Refid').val() },
            success: function (data) {
                debugger;
                $('#StorageCharge').val(data);
            }

        });
    }
</script>

